[2018-02-01 07:38] FibreFoX commented on #57
http://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8196547

[2018-02-08 08:42] valnaumov commented on #97
Ok, I've come up with the following plus the common dir for both platforms.

[code]
[code]

[2018-02-08 09:33] FibreFoX commented on #97
Yes, this is the way to go. I do know this feels kinda "workaround-hack", but it makes it more expressive on my end. Configuration getting "skipped" because the bundler isn't the right one is no option, because "not finding the right one" is seen as an error too.

But I will add this on my "normal users pain"-list.

[2018-02-08 09:33] #97 closed, assigned to nobody

[2018-02-08 11:26] pupeno opened #100 "Identifier doesn't seem to be respected."
Hello,

I have a jfxNative config that looks like this:

[code]

and when I run `gradle jfxNative` I can see a Dashman.wxs generated that doesn't include that identifier:

[code]

[2018-02-08 11:39] FibreFoX commented on #100
Hi @pupeno ;) nice to see you on the project first before stack overflow.

The used template of the wxs-file contains the following:
[code]

I assume you want to fixate `PRODUCT_GUID` to the identifier. After checking the WinMsiBundler I found this code:
[code]

This means the `PRODUCT_GUID` always is random :( but the `PRODUCT_UPGRADE_GUID` can be customized .... don't know what they smoked while

[2018-02-08 12:20] pupeno commented on #100
I guess I could replace `PRODUCT_UPGRADE_GUID` with a hard-coded value, but shouldn't `identifier` get in there?

[2018-02-08 12:32] FibreFoX commented on #100
It depends on your requirements, if you need to create some installer with some known `<Product Id="PRODUCT_GUID"`, you will need to use the instructions above.

The WiX-documentation describes it very well: http://wixtoolset.org/documentation/manual/v3/howtos/updates/major_upgrade.html

If you want to set the `PRODUCT_UPGRADE_GUID`, you will have to set this inside your configuration:
[code]

Ple

[2018-02-08 12:52] pupeno commented on #100
Awesome. Thanks. I managed to get upgrades working properly (is it me or without a custom template that's impossible... javafx-packager really seems quircky).

[2018-02-08 12:52] #100 closed, assigned to FibreFoX

[2018-02-08 13:13] FibreFoX commented on #100
Yes, it really is quirky, a lot of stuff happening there, and every bundler is not equal to the other. Makes me wonder too often, how to do workarounds correctly. Especially with breaking JDK 9 changes it is very frustrating sometimes, considering this is a spare-time project, makes me getting even more grey hairs ;)

[2018-02-08 13:54] valnaumov commented on #97
@FibreFoX not sure what you mean by "skipping configuration", but I'm fine with this approach.

[2018-02-09 18:18] pupeno opened #101 "Adding extensions to wix"
Hey there,

Is it possible to add extensions to wix when using javafx-gradle-plugin?

https://stackoverflow.com/questions/48711876/adding-extension-libraries-to-wix-when-using-the-javafx-packager

[2018-02-09 19:28] FibreFoX commented on #101
To add the question from SO here too:

After looking into the responsible msi-bundler, I found this fragment:
[code]

This means `WixUtilExtension` is always added, and when having the user to choose the installation target directory, the extension `WixUIExtension` gets added too.

To have the user choose the target installation directory, you have to set this inside the jfx-configuration-part:
[c

[2018-02-15 17:20] Pesegato opened #102 "Error with group policy"
My admin has set the group policy so that no executable can be run on the folder \\\appdata\local (because this is a common place for virus to start infecting).

As a consequence, my builds are broken with this message:

    Using custom package resource [application icon]  (loaded from package/windows/app.ico)
    Running [C:\Users\me\AppData\Local\Temp\iconswap507951694585685004.exe, C:\Users\me

[2018-02-15 19:15] FibreFoX commented on #102
First of all: this is a really stupid way of trying to defend against some virus infection ;) and it is supposed to break a lot of things. But discussing this is out of scope of this issue 😺

By setting `buildRoot` inside `bundleArguments` makes it possible to move any stuff. But this only works for working-things for the bundler ... the icon-swapping tool on the other hand does NOT respect this l

[2018-02-15 19:16] FibreFoX commented on #102
To document, this should be a "can't fix" instead of "wontfix", but the result is the same: I cant do anything here, so this wont be fixed.

[2018-02-15 19:16] #102 closed, assigned to nobody

[2018-02-16 10:11] lenborje opened #103 "Java 10+ support"
When I try to build with Java 10, the plugin (version 8.8.2) fails with `Couldn't find Ant-JavaFX-library, please make sure you've installed some JDK which includes JavaFX (e.g. OracleJDK or OpenJDK and OpenJFX), and JAVA_HOME is set properly.`

There's a test in JavaFXGradlePlugin.java (lines 100-105) for Java 9, which of course fails (since the version is 10), so it falls backs to the Java 8 pat

[2018-02-16 10:57] FibreFoX commented on #103
You might want to check if this works with the SNAPSHOT-version, see this for more information: https://github.com/FibreFoX/javafx-gradle-plugin/issues/57#issuecomment-359281615

As the JDK 10 is not yet official/stable, there is no support for this yet. (And a personal note: rapid-releasement of the JDK is a real pain IMHO)

[2018-02-16 10:59] FibreFoX commented on #89
ping @Zoha131

[2018-02-16 11:08] FibreFoX commented on #98
ping @adam-arold
you might want to try with some snapshot-version for JDK9 compatibility https://github.com/FibreFoX/javafx-gradle-plugin/issues/57#issuecomment-359281615

[2018-02-16 11:09] FibreFoX commented on #101
ping @pupeno

[2018-02-16 11:10] FibreFoX commented on #99
I have an example, which does work:
https://github.com/FibreFoX/javafx-gradle-plugin/blob/master/examples/javafx-proguard-gradle/build.gradle

hm ... but it seems that "dependsOn" is working in the different direction than you might think? `jfxJar.dependsOn myProguardTask`

[2018-02-16 11:18] FibreFoX commented on #95
Now I'm starting to get what is going on 😺

You are talking about some special project-style, this plugin does base on the `java`-plugin, not the `java-library`-plugin, therefor the `compile`-configuration is NOT deprecated, but just for that plugin/project-style.

[2018-02-16 11:18] #95 closed

[2018-02-16 11:23] FibreFoX commented on #85
As the JDK 9+ are not having the related classes anymore sitting in that JAR-file, I'm supposed to rework the whole thing, adding some additional flag for disabling this on JDK 8. First I was tempted to decline such idea, but as I'm forced to rework some parts I'm now fine with this idea ;) thanks for reporting and using this plugin.

Only one drawback: I'm not able to custom-patch the class-files

[2018-02-16 11:29] FibreFoX commented on #83
@arminnaderi can you recheck this using current JDK 8?

[2018-02-16 12:24] lenborje commented on #103
Sorry; didn't work either. Same error.

Snippet from build log:

[code]

Yet ant-javafx.jar really is there:

[code]

[2018-02-16 13:49] FibreFoX commented on #103
Yes, it is existing, but does not contain the same stuff ;) will look into this the next days.

[2018-02-16 14:02] Pesegato opened #104 "Error when running on a container"
To work around issue #102 , I've tried turbo.net (it provides a containerized environment that allows me to run safely apps on forbidden folder).

After installing it, I run
`turbo run oracle/jdk:8.0 --mount=%CD%`

then I do my gradle stuff. But it stops with this error:

[code]

debug Log: https://pastebin.com/E5YAExYf
stacktrace: https://pastebin.com/NNB1dj7k

[2018-02-16 14:06] Zoha131 commented on #89
Ok, I am a very beginner level programmer. My question was about multi-package. But by that time my understanding about package and module was not clear. So I wrote module instead of package. It was my mistake.
BTW I have failed to use this plugin in my multi-package project. It would be helpful for me if this project shares any tutorial or documentation.

[2018-02-16 14:31] FibreFoX commented on #89
Ah, okay :) no problem.

Before I'm starting to point into the wrong direction, just let me give you, what I'm suspecting you want to do: You want to create a gradle-project, where you can have different "subprojects" which are bundled into a single project, is that correct? You idea is to have separated jar-files which contain fragments of the whole application, right?

[2018-02-16 14:34] FibreFoX commented on #104
Hm ... these problems are mostly because there is some OpenJDK used and OpenJFX is not yet installed. Maybe the container is not yet configured to take the OracleJDK?

[2018-02-16 14:40] Pesegato commented on #104
On the container, if I run java -version I get

[code]

[2018-02-16 14:42] Pesegato commented on #104
Also:
javafxpackager -version

    JavaFX Packager version 2.2

[2018-02-16 14:51] FibreFoX commented on #104
Hm ... what does `gradle -version` say about the JDK?

[2018-02-16 14:54] Pesegato commented on #104
I'm using the gradle wrapper.

gradlew -version

------------------------------------------------------------
Gradle 4.2
------------------------------------------------------------

Build time:   2017-09-20 14:48:23 UTC
Revision:     5ba503cc17748671c83ce35d7da1cffd6e24dfbd

Groovy:       2.4.11
Ant:          Apache Ant(TM) version 1.9.6 compiled on June 29 2015
JVM:          1.8.0 (Oracle Corpor

[2018-02-16 14:56] FibreFoX commented on #104
Dang ... I was hoping the image just was misconfigured.

[2018-02-16 17:07] Zoha131 commented on #89
At first, I thought exactly what you have suspected. But later, I realized that the project was simple enough. And didn't mess up with Gradle. I built my project using IntelliJ Idea's default packaging feature.

Here is my project structure.......
![24796404_1983493448567609_864914910580387882_n](https://user-images.githubusercontent.com/16666716/36319590-961daf46-136d-11e8-87b2-d5dc79f0112c.jpg)

[2018-02-16 19:41] FibreFoX commented on #89
Oh, it seems that you missed some convention about java-projects. All java-files, which are going to be compiled, belong to `src/main/java/`, other resources (like the fxml-files) belong below `src/main/resources/`. This is a common and widely used convention (I think this came from maven, but not sure). I now do understand why you said "multiple packages".

All in all, this is no issue with the p

[2018-02-16 19:41] #89 closed

[2018-02-16 20:02] Zoha131 commented on #89
This was my first ever project. I might have misinformed you. Sorry for bothering you. I have just started learning java technology and I have a long way to go. And thanks for your time.

[2018-02-16 21:21] FibreFoX commented on #89
No worries :) everyones road is filled with stones. I just hope my information got you some ideas how to work with this plugin.

[2018-02-18 06:56] pupeno commented on #101
This worked. Thank you very much! :)

[2018-02-18 06:56] #101 closed, assigned to nobody

[2018-02-19 13:50] Pesegato commented on #104
Anything that I can do to help?

[2018-02-19 15:55] Pesegato commented on #104
Solved! I used the "jdk64" image instead of the "jdk" (32 bit) and everything works! :)

[2018-02-19 16:38] #104 closed, assigned to nobody

[2018-02-19 16:38] FibreFoX commented on #104
Thanks for reporting back :D I feared to use "turbo" for reproducing, happily you found it. Thanks for sharing!

[2018-02-22 17:58] pupeno opened #105 "Is it possible to change the name of the main launcher?"
Hello,

Is it possible to change the name of the main launcher but keep the appName the way it is?

[2018-02-22 18:08] FibreFoX commented on #105
Can you define more precicely what you mean with "main launcher"?

[2018-02-22 18:09] pupeno commented on #105
I mean, the entry on the start menu (aside from secondary launchers).

[2018-02-22 18:10] FibreFoX commented on #105
I'm on the road, will check later

[2018-02-22 18:11] pupeno commented on #105
Thank you :)

[2018-02-22 18:13] pupeno commented on #105
I tried setting up

[code]

and then just have all my launchers be secondary launchers. But it looks like needMenu is not preventing the native menu entry from getting created.

[2018-02-22 18:22] pupeno commented on #105
I also tried:

[code]

to no avail.

[2018-02-22 20:59] FibreFoX commented on #105
When using `EXE`-installer, you might be able to change this inside the `src/main/deploy/windows/{appName}.iss`-file, by changing this lines:
[code]
Changing the `Name:`-part should be sufficiant.

For `MSI`-installer I'm still searching, but does not look like being possible :(

[2018-02-25 00:32] ghost opened #106 "[Intellij IDEA] Couldn't find Ant-JavaFX-library"
My JAVA_HOME is
`C:\Program Files\Java\jdk1.8.0_91`

Intellij IDEA boot jdk is
`1.8.0_131`

When I trying to sync project with gradle I see such error:
`Error:Couldn't find Ant-JavaFX-library, please make sure you've installed some JDK which includes JavaFX (e.g. OracleJDK or OpenJDK and OpenJFX), and JAVA_HOME is set properly.`

[2018-02-25 08:30] ghost commented on #106
fixed via changing project jdk

[2018-02-25 08:30] #106 closed, assigned to nobody

[2018-02-25 11:02] pupeno commented on #105
Thank you. I'm doing a completely different workaround, so, I'm closing this to avoid wasting any of your time.

[2018-02-25 11:02] #105 closed, assigned to nobody

[2018-02-26 19:53] FibreFoX commented on #99
Ping @bogny

[2018-03-02 20:22] ttarcher opened #107 "compression issue with spring boot"
Hi, when I use springboot to build my application, it didn't work at first.
I figure out it cause by the `mainClass`, so I change it :
[code]
and then use the `jfxRun`
[code]
but I don't found any setting for compression.

ps： any better way to set the spring boot `mainClass` ? Thanks.

[2018-03-03 10:05] FibreFoX commented on #99
ping @BoGnY

[2018-03-03 10:06] FibreFoX commented on #107
This is already reported: https://github.com/FibreFoX/javafx-gradle-plugin/issues/83

[2018-03-03 10:06] #107 closed, assigned to nobody

[2018-03-07 14:59] chineseboytom opened #108 "Missing MSVCR100.dll"
Thank you for your great work！
When I build native application with version 8.8.2 in Windows 7, encounter the "Missing MSVCR100.dll" error.
![image](https://user-images.githubusercontent.com/6320605/37099213-c4961e66-225a-11e8-850a-f1107b89755a.png)

[2018-03-07 15:00] FibreFoX commented on #108
What JDK version do you use?

[2018-03-07 15:08] chineseboytom commented on #108
I use jdk1.8.0_161.

[2018-03-09 06:55] huming2207 opened #109 "Possible to reduce size of the bundled JRE?"
Hi there,

After bundling Java 8 JRE my Mac app bundle will increase to 200MB+. So I'm wondering if I update my code to Java 9 and use the new Jigsaw function, is it possible to shrink the size of the app bundle?

Regards,
Jackson

[2018-03-12 16:52] gmatrangola opened #110 "IllegalArgumentException in MonkeyPatcher.getPatchedJfxAntJar()"
I get the following stack trace when I IntelliJ Idea on Windows 10 tries to Configure my Gradle build in the Configure build step. I tried, but wasn't able to create a simple build that exhibits this same problem. It only happens in our large, complex, proprietary build process.

Here is the Stack Trace:
[code]

I was able to create a fork that catches the the exception and continues the routine,

[2018-03-12 18:57] FibreFoX commented on #110
I need some information:
* used gradle-version
* used jdk-version

Can you check which version of ASM is used inside your project? Maybe it's a different than this plugin is using. Regarding that try-catch: it is not solving anything, just reporting :(

[2018-03-15 12:03] marco-primiceri commented on #98
Hi @adam-arold, just FYI, I was able to create a `dmg` package using Kotlin.
Current setup:
- `javafx-gradle-plugin:8.8.0`
- `kotlin:1.2.21`
- `java:1.8.0_162`

PS: Have you tried wiping out your system temp folders? I had a similar problem whereby it got stuck with a failing configuration and `javapackager` kept using the same broken temp folder.

[2018-03-15 21:37] vibitect commented on #98
Hi @marco-primiceri, can you share your code in a gist?

[2018-03-16 09:00] valnaumov opened #111 "Package regular app"
Is it possible to package a regular Java app (with `public static void main(String[] args)`) with the plugin?

I have tried, the jfxRun generates a proper jar that prints a "Hello World", but launching an exe gives no output at all. How can I debug it?

I am in need of a Gradle plugin that would bundle a JRE for Mac and Windows, thought this would work, but if it does not, can you offer advice? Th

[2018-03-16 09:07] xzel23 commented on #103
Hi, first of all thanks for the work you put into the plugin.

I just tried the current snapshot version of the plugin with JDK 10 EA. Gradle dies with this exception (shortened the stacktrace to the relevant bit of information):

	Caused by: org.gradle.api.GradleException: Couldn't find Ant-JavaFX-library, please make sure you've installed some JDK which includes JavaFX (e.g. OracleJDK or OpenJDK

[2018-03-16 09:41] lenborje commented on #103
It's not that `ant-javafx.jar` is in another place; it is `java.home` which is different, or really, the packaging of the JDK/JRE which is different in Java 9 and later.

Before Java 9, `java.home` points to `<JDK-installation-dir>/jre`, In Java 9 and later to `<JDK-installation-dir>`.

[2018-03-16 09:48] lenborje commented on #103
The problem is rather the check for Java 9, which fails on Java 10, making the code try the Java 8 path (`../jre`) instead. It would perhaps be better to just check both locations and use the one that's found.

[2018-03-16 10:14] xzel23 commented on #103
Hm... maybe `JavaDetectionTools` should use `Runtime.version()` which will report major and minor versions instead. But that was only added in JDK 9, so the call would have to be done using reflection to have something working from JDK 8 upwards.

[2018-03-16 10:18] marco-primiceri commented on #98
Sure @adam-arold ( you meant the gradle code right?) here it is:
https://gist.github.com/marco-primiceri/9ea0692e1baf7fb6a3ec64730b61ebf2

[2018-03-16 10:41] vibitect commented on #98
Great thanks! I'll try this out next week!

[2018-03-17 16:39] pupeno opened #114 "Can this plug in/javafxpackager sign an MSI?"
I found this issue regarding signing the Mac OS version of the app:

https://github.com/FibreFoX/javafx-gradle-plugin/issues/56

but I'm working for Windows. I found a few mentions on javafxpackager documentation of how one should sign the MSI, but no details on how to do it, no details on how to specify the key/certificate.

Is this possible?

[2018-03-18 07:59] FibreFoX commented on #103
Despite of PR #112 I will try to work on this issue again tonight, just some planing going aroung before I have time for my projects again. Sorry for the delay.

[2018-03-18 18:26] FibreFoX commented on #114
This is out of scope of this plugin, mostly because signing happens after creating the MSI-file. "Signing" only is for JAR-files, not the native installers themselves.
Something like this might work: https://pevma.blogspot.de/2014/02/signing-windows-installation-msi.html or https://howdididothatthingagain.blogspot.de/2013/02/burn-02-how-to-sign-msi-packages-and.html

[2018-03-18 18:26] #114 closed, assigned to nobody

[2018-03-20 10:27] FibreFoX commented on #109
With JDK 8 it was possible to have the app only, and having the bundle work with the local installed JRE by setting this:
[code]

Please be aware that you will rely on the installed version which you can't control.

Since JDK 9 this isn't possible anymore, and Jigsaw is used by default. You might want to use the current `8.9.0-SNAPSHOT`-version.

[2018-03-20 10:27] #109 closed, assigned to nobody

[2018-03-20 10:31] FibreFoX commented on #108
This is some JDK-bug, nothing related to this gradle-plugin. See also: https://bugs.openjdk.java.net/browse/JDK-8126704

Seems that on Windows 7 there is something required, like Visual C++ runtime, but nothing I can do to workaround this, sorry.

[2018-03-20 10:31] #108 closed, assigned to nobody

[2018-03-20 10:31] #99 closed, assigned to nobody

[2018-03-20 10:41] FibreFoX commented on #83
After evaluation with JDK 10, this still is relevant, and still inside the JDK.

[2018-03-20 10:48] FibreFoX commented on #111
As far as I can tell, there is nothing special about javafx when using the `javapackager` or this gradle-plugin, but I might not know how native launchers are working. Executables on Windows can come with two flavors: GUI or Console-application. This means every "System.out.println" will NOT get written to the console, you have to use your own favorite logger-framework and create some file-log. Pe

[2018-03-20 10:48] #111 closed, assigned to nobody

[2018-03-20 10:50] FibreFoX commented on #110
ping @gmatrangola

[2018-03-21 08:51] FibreFoX commented on #110
ping @gmatrangola

[2018-03-21 08:57] FibreFoX commented on #98
To sum up: I suspect the way of the shadow-plugin is in conflict here, it's nothing regarding the kotlin-plugin itself, because this gradle-plugin works on the generated jar-file. Please consider to NOT use some uber-jar, because there is no need to put everything into one file when dealing with application-bundles.

@adam-arold Please give some feedback if you got the time to check. I'm back on m

[2018-03-21 09:00] FibreFoX commented on #85
I'm adding some flag to disable adding `ant-javafx.jar`, mostly because it might get dropped in some JDK versions, will provide some SNAPSHOT-version very soon.

[2018-03-21 09:09] FibreFoX commented on #92
There were four values as an enum:
[code]
The problem with this is, that you have no real control about what bundler will get used. This is kind of a bundler-group-name, where `NONE` and `ALL` had special meaning.
[Looking at the JDK 10](https://docs.oracle.com/javase/10/tools/javapackager.htm#GUID-E51F9601-E121-4A50-BCA7-C7F8730078B2__GUID-659E9890-5F31-479B-94CA-58B374DB9A28) this still seems to

[2018-03-21 09:50] lenborje commented on #103
OK. Just an update on my progress: My primary goal is to be able to build and deploy my application with Java 11. (I believe we should go directIy to Java 11, which hopefully will prove to be a more stable base than 9 and 10.) I can currently build my application with some local patches to gradle and the javafx plugin, but I still need to build them both with java 1.8. Today, I saw that there's ha

[2018-03-21 11:02] FibreFoX commented on #103
I have no idea if "javapackager" will be available with JDK 11 😿 But I now got two days in a row where I could spend a small amount of time to this project again :) so I will find it out.

[2018-03-21 11:25] lenborje commented on #103
It's still there in the EA builds, so I _can_ build my application with Java 11. Building the plugin with JDK 11 fails on the `de.dynamicfiles.projects.gradle.plugins.javafx.tasks.workarounds.MacAppBundlerWithAdditionalResources`, since it uses some `com.oracle.tools.packager.*` classes which are hidden in JDK 11.

FYI, I don't need the workaround (I have no extra bundle resources), so when I buil

[2018-03-21 12:03] marco-primiceri commented on #98
Well, thanks to you Danny, your plugin is awesome!
And yes, you are correct, it does fill a gap for people like me who rely on gradle (and cannot be bothered to use ant for packaging :).

Cheers,
Marco

[2018-03-21 19:48] StephenOTT opened #115 "Way to package a Nashorn JavaFX app?"
looking at ways to package up a nashorn based javafx app.

Is there a way to have the packager execute a `jjs` command rather than point to a mainClass?

[2018-03-21 21:28] StephenOTT commented on #115
resolved this by creating a Launcher class that extends application and calls a embedded engine

[2018-03-21 21:28] #115 closed, assigned to nobody

[2018-03-22 09:07] xzel23 commented on #103
I have tried to look into compiling with the freshly released JDK 10. I changed build.gradle to make the mentioned packages accessible. The classes are still there,but they changed in a way that it still doesn't compile (like methods that used to be public are now private and thus cannot be overridden).

I am still relatively new to using this plugin and don't know yet how important the extra func

[2018-03-22 14:29] gmatrangola commented on #110
Sorry for the delayed response, I'll provide the info you asked for and you can decide if you want to reopen...
We're using gradle 2.14.1, Java 1.8.0_65

I'm not familiar with ASM. Is it this? (http://asm.ow2.org/index.html)I did a quick Google search and Didn't see an obvious way to check to see what version I'm using. If you can give me something to look for I'm happy to report what I find.

Yes

[2018-03-22 15:47] FibreFoX commented on #103
There is already a working-branch: https://github.com/FibreFoX/javafx-gradle-plugin/tree/newyear2018release

I understand the pressure of the community to have a nice way for using the javapackager through this plugin. It personally influences me already for not having a working solution, but the whole thing is very complex, in addition to the new jigsaw shenanigans. Please bear with me some more

[2018-03-22 15:51] FibreFoX commented on #110
@gmatrangola no worries, it happens that some developers find the solution, but never report back ;) I'm actually back on working in these projects, so closing issues always feels good.

Can you try to create something reproducable for me? I suspect the project brings some build-dependencies, which are replacing the used ASM-version (and yes, its that thing you found).

[2018-03-22 16:17] aalmiray commented on #103
Hi, I just stumbled upon this issue when attempting to run a Griffon application on top of JDK 10. I modified the plugin with a "simple" fix, basically inverting `IS_JAVA_8` instead of checking for Java9 or newer.

[2018-03-22 16:27] FibreFoX commented on #103
@aalmiray That crossed my mind too, I added some of that stuff while JDK was not-yet-released and not-yet-jigsawed. I'm already planing some evil stuff and are hoping to provide something next week, but might bring some developers at rage. Will report as soon as I can.

[2018-03-22 16:28] aalmiray commented on #69
I'll be happy to send a PR with the updates needed for this to happen 😄

[2018-03-23 11:06] xzel23 commented on #103
Ehm... just one thought... don't know if this is the right place to ask, but...

There seem to be some problems caused by interpreting the Java version String in `JavaDetectionTools.java`. But since this plugin depends on `org.gradle.api` anyway, wouldn't it be much simpler to simply call `org.gradle.apiJavaVersion.current().isJava9Compatible()`, which is available at lest since version 2.14 of gr

[2018-03-23 11:09] FibreFoX commented on #103
@xzel23 For some workarounds I need to check against not only JDK8 vs JDK9 but for update-version too. I'm already on some experimental (non public) work to address such issues.

[2018-03-23 11:11] lenborje commented on #103
You need the latest gradle nightly build (since yesterday) to run gradle with Java 11.

[2018-03-23 11:33] chineseboytom commented on #108
Thank you! This JDK-bug has been fixed in jdk1.8.0_162.

[2018-03-28 11:00] Sabrak opened #116 "How to run application with dependencies?"
I have gradle script:

[code]
and App.java

[code]

but app starting wll be failed with exception:
Caused by: java.lang.ClassNotFoundException: org.apache.commons.lang3.StringUtils

How can I run application with all dependencies?
Thanks.

[2018-03-28 11:55] FibreFoX commented on #116
What gradle tasks are your running to generate the jar-file, and which jar-file to you try to execute?

[2018-03-28 11:57] Sabrak commented on #116
@FibreFoX I use the task 'jfxRun' to run app

[2018-03-28 15:15] FibreFoX commented on #116
Oh, now I see the problem:
[code]

The configuration `implementation` is not supported by this plugin. Can you change this to `runtime` or `compile`? As far as I can see these configurations are still valid: https://docs.gradle.org/current/userguide/java_plugin.html#sec:java_plugin_and_dependency_management

[2018-03-28 16:42] Sabrak commented on #116
@FibreFoX It's worked! Thanks.

[2018-03-28 16:42] #116 closed, assigned to nobody

[2018-04-01 12:37] lgLindstrom opened #117 "jfxRun gives weld exeption"
Hi
I am writing a JavaFx application.
Gradle 4.4.1
JavaFx 8.8.2
Java 9

From Intellij (2018.1) terminal:
    $gradle run
works nicely.

From terminal:
   $gradle jfxRun

give a exeption that have origin in Weld.

Transcript below.

[code]

This is my jfx configuration:

[code]

[2018-04-01 15:51] FibreFoX commented on #117
Version 8.8.2 is not yet compatible to JDK 9+

[2018-04-01 15:52] FibreFoX commented on #117
Does it work when having `jfxMainAppJarName = "build/libs/purchaseList.jar"` not being set?

[2018-04-08 09:02] lgLindstrom commented on #117
Thanks,,    now jfxRun it works.

Unfortunately I have another problem... this time with jfxNative. Added output from terminal window.
( seems like terminal gives  characters that are interpreted as "strike through" )
For me it seems like Ino are missing some files. I've used file explore and checked directories where they supposed to be,,,EMPTY.

[code]

[2018-04-08 12:40] FibreFoX commented on #117
What really is confusing:
[code]
Looks like some non compatible version here being installed.

[2018-04-08 16:21] lgLindstrom commented on #117
Any advise to clean up my installation?

[2018-04-08 16:52] FibreFoX commented on #117
Hehe, I got confused by your output, sorry. These `but version 3 is required`-messages are related to creating MSI-installers, False alert ;)

Maybe it's something with having whitespaces inside the launcher name, just a wild guess. Try to create a separate project, similar to your real project and try to re-create it, often it's a combination of things, or just mis-configuration.

Nevertheless I

[2018-04-08 16:52] #117 closed, assigned to nobody

[2018-04-09 07:06] lgLindstrom commented on #117
ok.
Det var en environment variable set wrong...

Thanks for support.

[2018-04-12 14:11] schw4rzlicht opened #118 "Volume icon not applied"
I am trying to package a `.dmg` and set up custom icons for the app and the volume. While the app icon works, the `.dmg` icon is never applied.

Sometimes I get `Exec failed with code 2 command [[/usr/bin/SetFile, -c, icnC, /var/folders/7p/_bz4z7fx2592wbjc9zwmr7m00000gn/T/fxbundler5347395258233525975/images/Applause-O-Meter/.VolumeIcon.icns] in unspecified directory` during build but this is not r

[2018-04-14 16:39] FibreFoX commented on #118
Maybe you are hitting some size-restrictions. I'm sorry, I'm not a mac-user myself, but often its the formfactor, or the image dimension. Not really sure how to help you here.

[2018-04-14 16:39] #118 closed, assigned to nobody

[2018-04-14 16:45] FibreFoX commented on #103
JDK 11 broke some other parts, and as the future of JavaFX is separated from Oracle-provided JDKs, and the javapackager (and other resources) sitting inside that JDK prior JDK11, makes it nearly impossible for supporting this any further.

Some of my twitter-followers might have already seen this, and maybe some other github-users (some are watching me too), I'm working on a replacement of the jav

[2018-04-14 16:58] FibreFoX opened #119 "Is this plugin dead?"
**TL;DR** no, its not dead, will be replaced in the near future.

This is some notifaction-issue, so please read this before posting.

No, this plugin is not (yet) dead, but the future got very fragile. This plugin started as some personal experiment for getting more knowledge of Gradle, which I never touched using it in production: Before getting into creating this plugin, I was put into charge o

[2018-04-14 17:56] xzel23 commented on #103
In case anybody is interested, I started my own [JPMS-plugin](https://github.com/xzel23/JpmsGradlePlugin) to help building modularised libraries with gradle. In the meantime, I added a `jlink` task and succeeded to build some standalone (= no JRE installation required) JavaFX applications with it. The drawback is of course that all dependencies also have to be modularised too, and it cannot create

[2018-04-15 07:55] FibreFoX commented on #103
@xzel23 normally I do not like adverizement for other plugins ;) and the functionality of this gradle-plugin is still available, on JDK > 8 it's creatable by calling the `javapackager` via process execution.

But to state this here, maybe it wasn't that clear: the next plugin superseeds this one, means all functionality, including jlink, installers, native launchers, will be present .... for the t

[2018-04-24 12:19] sbrunk commented on #79
I'm currently running into this issues as well. Interestingly it works fine on my machine but not in our students lab, although their setup (Win10, Java8) is basically the same. @FibreFoX switching the IntelliJ JDK as you suggested works. I'm still trying to find the difference.

[2018-04-24 13:02] FibreFoX commented on #79
@sbrunk thanks for that feedback :) it always is kinda funny to hear/read who is using this plugin, makes me a bit proud.

Don't know if this is some gradle-daemon-bug?! Maybe you could check (via process explorer by sysinternals), if there are processes between changing these settings. As I'm currently developing some replacement, this might disappear by "itself" :D

[2018-04-24 21:07] sbrunk commented on #79
@FibreFoX well thanks to you for developing and maintaining the plugin! :)

I'll keep you posted if I can find the cause of the problem in case it isn't resolved by other means.

[2018-05-17 15:13] MrVlad001 opened #120 "work with FXLauncher"
HI, @FibreFoX .
I'm using your plugin in my project and it works fine. When I had a question with updating the application, I found an excellent launcher [FXLauncher](https://github.com/edvin/fxldemo-gradle) for JavaFX applications. The problem is that their native installer generator has too few parameters that I need which are available in **javafx-gradle-plugin**. Is it possible to use **javafx

[2018-05-17 18:05] FibreFoX commented on #120
Hi @MrVlad001 , sorry to tell but this is not compatible, this is one of the reasons why I'm working on https://github.com/FibreFoX/distribution-bundle-plugin-for-maven (and its gradle equivalent).

The `javafx-gradle-plugin` is a wrapper around the `javapackager`, which is creating it's own files, even re-creating the native files when creating each installer (instead of just using the already cr

[2018-05-17 18:05] #120 closed, assigned to nobody

[2018-05-17 18:42] MrVlad001 commented on #120
@FibreFoX what do you think about this [decision?](https://github.com/edvin/fxlauncher/issues/41#issuecomment-268549119)

[2018-05-27 20:30] SergeVil opened #121 "jxfRun works fine on Windows and Linux, but the installed application built using jxfNative for both OS's say: "Class me/ui/AltaStataApp not found" and after that "Failed to launch JVM""
On MacOS both jxfRun and the installed application work fine.

Using:
Java 1.8.0_171
javafx-gradle-plugin:8.8.2

What can it be?
How can I debug it?

[2018-05-29 16:55] williamkibira opened #122 "JFXRun Cannot find Dagger Dependencies"
Hello, thank you for making this awesome plugin .
I decided to try building a Java FX application with Dagger 2 and when i run the main class directly , I can run the application but, when i run jfxRun , i get this error

[code]
any idea what it is i am doing wrong ?

[2018-05-29 18:49] FibreFoX commented on #122
Thats odd, sounds like some missing dependency. Does it work when you run `java -jar yourApp.jar` inside the `build/jfx/app/`-folder?

[2018-05-30 04:28] williamkibira commented on #122
Nope it doesn't get the same error as before .

PS C:\Users\willtanium\IdeaProjects\client-clerk\build\jfx\app> java -jar
.\project-jfx.jar
Exception in Application start method
java.lang.reflect.InvocationTargetException
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
        at sun.reflect.DelegatingMet

[2018-05-31 22:20] marius-m opened #123 "Missing bin/java in Java.runtime"
Hi,

First of all, thanks so much for the great effort. Pitty, that will have to search for alternatives for packaging project.

Anyhow, I have a problem when bundling with old java8. Whenever its bundling jre together, the bin folder is missing (thus, resulting in trying to load with java9/10 which just goes badly).

I so other tickets with this, but could not find the answer, nor any ideas looki

[2018-06-01 06:48] FibreFoX commented on #123
Hm ... that sounds odd. Can you try to provide something reproducable?

[2018-06-01 08:26] marius-m commented on #123
Hm good point, I'll try to recreate it with test project and get back.

[2018-06-02 10:24] marius-m commented on #123
So I've managed to assemble to test project: https://github.com/marius-m/javafx-packaging

### More info
It's a clean project that does not contain anything beside JavaFx and Bundler.
When running `./gradlew jfxNative` will correctly assemble and bundle up everything, when when navigating to `..build/jfx/native/javafx-packaging-1.0-SNAPSHOT.app/Contents/PlugIns/Java.runtime/Contents/Home` will con

[2018-06-02 11:14] FibreFoX commented on #123
That sounds really strange, looking at the bundler-code the runtime is copied from "java.home"-property-location:
http://hg.openjdk.java.net/openjfx/8u-dev/rt/file/a17798f5e35c/modules/fxpackager/src/main/java/com/oracle/tools/packager/mac/MacAppBundler.java#l219 ... which does copy recursive: http://hg.openjdk.java.net/openjfx/8u-dev/rt/file/a17798f5e35c/modules/fxpackager/src/main/java/com/oracl

[2018-06-02 14:21] marius-m commented on #123
Right now whenever app is being opened, it is being "piped" through `getdown` library which checks if there is a local jre to be used together. As the "bin" folder is missing, app is being loaded with local jre which fails when used with java9 and java10.

Probably I'll have to see this through and look how to change the "getdown" library to check for more things if there is a local runtime there.

[2018-06-02 14:25] FibreFoX commented on #123
To switch between local installed or "packaged" JRE just change the configuration inside the `.cfg`-file of the native app bundle, dont know if this still works for JDK9+. Hopefully you get it working ;) good luck

[2018-06-02 14:25] #123 closed, assigned to nobody

[2018-06-09 19:25] ctadlock opened #124 "ERROR ITMS-90511: CFBundleIdentifier value of 'com.oracle.java.8u152.jdk' in use"
![image](https://user-images.githubusercontent.com/1539397/41195333-f1e0c9a6-6bdf-11e8-9661-1ea4923553a9.png)

![image](https://user-images.githubusercontent.com/1539397/41195345-324bd31e-6be0-11e8-9dc2-ca160195782f.png)

Unable to upload an app to the Mac store

[code]

This seems to be an issue external to this plugin, but how can we work around this issue with this plugin? Is there a way to mod

[2018-06-09 20:46] FibreFoX commented on #124
Hm, not really anything I can solve within this plugin, as this issue is inside the used JDK/the JDK-provided javapackager.

The `Info.plist` is created from a template, where some parts are replaced, see the template here: http://hg.openjdk.java.net/openjfx/8u-dev/rt/file/a17798f5e35c/modules/fxpackager/src/main/resources/com/oracle/tools/packager/mac/Info-lite.plist.template
It may be that your

[2018-06-10 06:47] ctadlock commented on #124
@FibreFoX It's not my app's `Info.plist`, its the embedded JRE's `Info.plist` file. This SO question/answer describes the solution:
https://stackoverflow.com/questions/34613483/itms-90511-cfbundleidentifier-collision

Couldn't this plugin make the suggested change to `CFBundleIdentifier` from `com.oracle.java.8u65.jdk` to `com.oracle.java.8u65.jdk.XXX`, where `XXX` is a random value? Would that ha

[2018-06-10 06:50] ctadlock commented on #124
The other solution is to copy the JRE "locally", modify it's `Info.plist` and then point the `runtime` parameter at it. Again, this seems like something the plugin could handle.

To be clear on the scope of this problem, no app can be published to the Mac app store until this issue is resolved.

[2018-06-10 15:06] gabrielpaim opened #125 "How to copy jre executables to runtime bundled jre?"
Hi there,

I want to package a self contained java 8 application for windows/osx, but with a particular request: the executables from JRE (e.g., java.exe) should be bundled together with the runtime folder.

I don't know if this could be done with this tool, as the [JavaPackager](https://docs.oracle.com/javase/8/docs/technotes/tools/windows/javapackager.html#BGBIJBHF) utility (and also the deploy

[2018-06-10 15:39] FibreFoX commented on #124
`It's not my app's Info.plist, its the embedded JRE's Info.plist file. `
Hehe, I totally missed the path that its the JRE, sorry. But it makes it even more ugly, because it means that this bug is inside the JDK itself, not this plugin. As a workaround you already got the right idea of using the `runtime`-parameter. Please consider reporting this to oracle via https://bugs.java.com/

This plugin is

[2018-06-10 15:43] FibreFoX commented on #125
Hi there,

yes, this sounds like another hack-around of the javapackager-core. What installer are you intending to use? Or are you just using the "windows.app"/"mac.app"-bundlers?

[2018-06-10 19:33] gabrielpaim commented on #125
I'm planning to use the default installers for win/mac, the .exe and .dmg. But I don't have any special requirement here, if there is another solution (msi, for instance), it would be no problem for me.

I was thinking about this strategy:
- packaging the app using the "native image" option (to create the folder structure)
- manually copying the jre executables depending on the detected OS
- "pack

[2018-06-10 20:42] FibreFoX commented on #125
I'll check the implementations of the bundlers :) I think there might be a chance to have this being possible, will report back.

[2018-06-10 21:11] FibreFoX commented on #125
It seems that I already have implemented a workaround for this: https://github.com/FibreFoX/javafx-gradle-plugin/issues/38

The problem:
the JDK-provided bundler are a bit stupid, each one creates their own stuff without reusing the previous created stuff. Calling `jfxNative` on windows (when having both InnoSetup and WiX installed) calles the `windows.app` bundler first, which copies the stripped

[2018-06-10 21:57] DJViking commented on #125
Danny, maybe you should voice your concern regarding the draft proposal for new packager:
"Draft JEP for new Packaging Tool (replacement for javapackager)"
http://mail.openjdk.java.net/pipermail/openjfx-dev/2018-May/021941.html

https://bugs.openjdk.java.net/browse/JDK-8200758

[2018-06-10 22:07] FibreFoX commented on #125
@DJViking thanks for pointing to that JEP :)

[2018-06-11 03:42] ctadlock commented on #124
Ya, its nasty. Ive tried setting the `runtime` parameter but when I do it seems to silently fail the whole process; nothing generated, no signing... Any ideas?

[2018-06-11 17:10] FibreFoX commented on #124
Did you use `verbose`-mode?

[2018-06-15 19:41] ctadlock commented on #124
Yes, nothing interesting.

[2018-06-15 23:03] williamkibira commented on #122
So it looks like the issue lies in my gradle .
when i switch from using the keyword `implementation` with `compile` on my
gradle dependencies , it works fine .

On Wed, May 30, 2018 at 7:28 AM, William Kibira <williamkibira@gmail.com>
wrote:

[2018-06-16 09:10] FibreFoX commented on #122
Now I'm getting it: this plugin does NOT support the `java-library`-plugin. Just use the normal `java`-plugin.

[2018-06-16 09:10] #122 closed, assigned to nobody

[2018-06-19 13:38] JFCote opened #126 "StackOverflow when running jfxJar and jfxRun"
I think my problem looks a lot like this one: https://github.com/FibreFoX/javafx-gradle-plugin/issues/71

When I try to run `gradlew jfxJar` or `gradlew jfxRun`, it always fail and return a StackOverflowError.

Here is my build.gradle

[code]

As you can see, this is a very basic setup.

I get this in the ouput:

[code]

I'm able to run my program without any problem in IntelliJ using the "App Con

[2018-06-19 19:15] FibreFoX commented on #126
Same problem as #71 ... don't know whats wrong :(

[2018-06-19 19:15] #126 closed, assigned to nobody

[2018-06-25 09:32] nebularnoise opened #127 "Smart way to make multiple builds ?"
Hi !
First of all, I love this plugin, it's making my life easier, so thanks a lot!

I'm trying to build two versions of my project's "jfxNative" at once: one _with_ runtime, one _without_ a runtime.

So, I've successfully done each and every one of them separately, by adding or commenting the following in my `build.gradle`:

[code]

But somehow, passing a property as argument of gradle doesn't wo

[2018-06-25 09:46] nebularnoise commented on #127
Nervermind, I ended up using my own prop:

[code]

[code]

[code]

[2018-06-25 09:46] #127 closed, assigned to nobody

[2018-06-26 09:30] bwRavencl commented on #56
@FibreFoX first of all excuse me for summoning this already closed issue, but I have a question regarding your following statement, and maybe you can help me out here.

I'm currently in the process of getting familiar with deploying Java apps as self contained applications, i.e. shipping a client application as an MSI with a self contained JVM.
How can I assure that nobody is tampering with the ja

[2018-08-04 07:38] CookieHoodie opened #129 "Icon is not picked up"
My 'appName' is 'osc' and I got from README that I have to put my icon 'osc.ico' in 'src/main/deploy/package/windows/osc.ico' in order to be picked up. BUT it is not... The console keep showing me "Using default package resource [icon]  (add package/windows/osc.ico to the class path to customize)" when I set verbose to true.

Very sure there's no typo, and I've tried putting it in 'src/main/packag

[2018-08-04 07:55] FibreFoX commented on #129
Sounds strange, have you a normal project or a multi-module project? Having that file at `src/main/deploy/package/windows/osc.ico` should work fine. Maybe something with filesystem rights?

[2018-08-04 08:02] CookieHoodie commented on #129
It's just a normal testing project before I integrate it into my real project, which is also a normal one.
Here is the screenshot:

![screenshot 13](https://user-images.githubusercontent.com/15065550/43674018-5f498122-97ff-11e8-9e7d-e07eece97a43.png)

[2018-08-04 09:09] FibreFoX commented on #129
Oh, you missed to mention this happening on JDK 9 ;) which version of the plugin are you using?

[2018-08-04 09:12] CookieHoodie commented on #129
Yea I'm using JDK 9 but I tried to change to JDK 8 the same thing happened..
I'm using version 8.8.2 and Gradle 4.8.
Maybe caused by gradle version?

[2018-08-04 10:41] prog110 commented on #82
I'm facing exactly the same issue in Ubuntu 16.04

My java version is
[code]

Any idea on how to resolve this issue?

[2018-08-04 12:02] CookieHoodie commented on #129
Ok I tried using Gradle version 2.10 but with the same result.
I also tried to run it in command line instead of Intellij.

Btw, I encountered another error when I tried to add a dependency to the project:
`Exception: java.nio.file.NoSuchFileException: C:\Users\xxx\Desktop\testGradleBuild\build\jfx\app\lib\sqlite-jdbc-3.23.1.jar -> C:\Users\xxx\Desktop\testGradleBuild\build\jfx\native\osc\app\lib\

[2018-08-04 14:35] FibreFoX commented on #129
Thats odd, sorry. Can you provide some small project for me where I can re-produce this?

[2018-08-04 14:49] CookieHoodie commented on #129
I've uploaded the exact project I screenshot to [my repo](https://github.com/CookieHoodie/test-gradle-build), you can clone it there. Thanks for helping btw :)

[2018-08-04 15:36] FibreFoX commented on #129
Thanks for that, I've found the problem: since the final JDK 9 release, they changed the way how that deploy-folders gets picked up. You have to change your configuration a bit:
[code]

To have the plugin working, you might want to use a later snapshot-version:
[code]

[2018-08-05 02:43] CookieHoodie commented on #129
I was DUMB lol I thought I had changed to JDK 8 but actually didn't. Now I try using JDK 8 and everything works fine.

So for JDK 9 after changing to above settings the icon is finally correctly picked up, but the `java.nio.file.NoSuchFileException` is still showing.

[2018-08-05 10:59] FibreFoX commented on #129
I never got that exception using the `8.9.0-SNAPSHOT` version running on JDK 10. You should upgrade to JDK10 too, as JDK9 just was simply a intermediate release.

[2018-08-05 13:13] CookieHoodie commented on #129
Okay, haven't tried that but the solution seems legit. Thanks for your help and patience! Closing.

[2018-08-05 13:13] #129 closed, assigned to nobody

[2018-08-08 11:10] aalmiray commented on #103
Is the new plugin already available?

[2018-08-08 12:04] lenborje commented on #103
Please note that javapackager is gone from JDK 11 **with no replacement**. There are plans for [a new packager](https://bugs.openjdk.java.net/browse/JDK-8200758) with, hopefully, equivalent functionality, but until that one has arrived (JDK 12?) we really can't hope to move forward.

[2018-08-08 12:21] FibreFoX commented on #103
@lenborje thats the reason why I started to work on a [different project](https://github.com/FibreFoX/distribution-bundle-plugin-for-maven), but personal life drains a lot of time currently :(

All work done with JavaFX and the `java(fx)packager` will get dropped without replacement, its a real nightmare. First JDK9 broke a lot of things (they even refactored stuff, just to throw it away again), t

[2018-08-08 13:13] aalmiray commented on #103
FWIW there's a thread at the OpenJDK mailing list discussing if javafxpackager should be moved to core, thus remaining available to everybody without an additional download, probably renamed (back) to javapackager or jpackager.

If that's not the case, then javafxpackager remains available as a separate download. JavaFX will be moved to its own, separate module in JDK11 (oracleJDK) which is no dif

[2018-08-08 13:40] FibreFoX commented on #103
@aalmiray can you link that announcement here?

[2018-08-08 13:46] aalmiray commented on #103
Donald Smith blogged at https://blogs.oracle.com/java-platform-group/the-future-of-javafx-and-other-java-client-roadmap-updates while the official white-paper is available at http://www.oracle.com/technetwork/java/javase/javaclientroadmapupdate2018mar-4414431.pdf

Lastly, the proposed JEP to keep javapacker inside core OpenJDK is http://mail.openjdk.java.net/pipermail/core-libs-dev/2018-May/053503

[2018-08-08 13:56] lenborje commented on #103
When my JRE was last updated on my Mac, I got a pop-up directing me to [https://java.com/en/download/release_notice.jsp](https://java.com/en/download/release_notice.jsp), which summarises Oracle's announcement and provides links to references. We're currently replacing all use of Oracle JDKs with OpenJDK.

[2018-08-14 13:42] kb-1000 commented on #69
@aalmiray please actually do so that I'm able to reference the plugin from there.

[2018-08-14 17:59] frnusmartobjects opened #130 "java.nio.file.NoSuchFileException when running jfxNative in Windows"
I am developing in **Windows 10**, using **IntelliJ IDEA 2018.2.1**, JDK version **jdk1.8.0_181**

I have a multimodule project and whenever I try to run the `jfxNative` task to generate a native Windows bundle I am getting for each module an error such as

My jfx task is as follows:

[code]

I've read issue #12 and the person there has the same problem except that I am having it while running no

[2018-08-14 18:04] FibreFoX commented on #130
You might need to adjust the order of the projects depending on each other. To avoid some misconfiguration, please use `afterEvaluate { project -> }` as this plugin does change the jfx-tasks after the project got evaluated. (This was done because of detecting missing jfx-classes)

[2018-08-14 18:11] frnusmartobjects commented on #130
Thank you very much for you fast response. I am not very experienced in gradle, so if it isn't a problem for you, could you explain a bit more what you mean with "adjust the order of the projects" and how should I use `afterEvaluate { project -> }` ?

What I had in mind is craete a task that runs before jfx, but I am not sure how to accomplish this and also when I add any dependsOn to the jfx task

[2018-08-14 18:44] frnusmartobjects commented on #130
Aditionally, what do you mean with "detecting missing jfx-classes"? What kind of classes could be missing, for example custom components?

[2018-08-14 19:08] FibreFoX commented on #130
Gradle maintains it's own order of processing your build-instructions. As they (the authors of Gradle) think that they do know better, they are giving you a way for controlling the ordering, you might want to lookup this inside the documentation: https://docs.gradle.org/current/userguide/build_lifecycle.html

Regarding the detection: when a java class gets instanciated, all `import`-instructions a

[2018-08-15 18:05] FibreFoX commented on #130
@frnusmartobjects any progress on your side?

[2018-08-15 18:16] frnusmartobjects commented on #130
@FibreFoX Hi, thanks for the follow up. Not for now. I decided to run the jar task manually for each project since I am a bit short in time, although when I have more time I will investigate how to automate this, and I will post here the followup

[2018-08-16 12:10] klassm opened #131 "Deb package throws "ValidatorException: No trusted certificate found""
When creating and running a deb package and downloading some URL afterwards, like
[code]
a ValidatorException will be thrown, as no trusted certificate can be found. When staring the application using `./gradlew jfxRun`, the code works and trusted certificates will be found.
Am I doing something wrong? What's the correct way to handle certificates here?
Thanks,
Matthias

[2018-08-16 12:23] FibreFoX commented on #131
Looks like you are shipping your application with a bundled JRE where that certificate is not trusted yet. When running via `./gradlew jfxRun` the java-process of the gradle-daemon will get used, which might have a different truststore-setting.

[2018-08-16 12:37] klassm commented on #131
Well - this is using default certificates. There's nothing special imported for the running JVM. So the bundled JRE should also be able to cope with it, right?
Do I have to specify each CA I want to trust?

[2018-08-16 12:50] FibreFoX commented on #131
@klassm  Which JDK are you using for this?

[2018-08-16 12:53] klassm commented on #131
@FibreFoX That's JDK8:
╰─$ java -version
openjdk version "1.8.0_171"
OpenJDK Runtime Environment (build 1.8.0_171-8u171-b11-0ubuntu0.18.04.1-b11)
OpenJDK 64-Bit Server VM (build 25.171-b11, mixed mode)

To be honest, I didn't try another one :-) But normal trusted CAs should be available by default, right? I mean - I have no idea how I can get around this currently. For sure, I can specify my own

[2018-08-16 13:17] FibreFoX commented on #131
They changed the provided truststore in JDK 9 + 10:
https://bugs.openjdk.java.net/browse/JDK-8189356
https://bugs.openjdk.java.net/browse/JDK-8189131

This is not an issue of this plugin, more a usage-problem of the bundled JRE. In addition it is possible to "ignore" security (but only as last resort).

[2018-08-16 13:17] #131 closed, assigned to nobody

[2018-08-16 13:18] klassm commented on #131
Oh I see - so I just need to upgrade to JDK 9 / 10 - then it should at least behave the same way on development as on the binary. Thanks, I'll try that :-)

[2018-08-20 10:03] GeVanCo opened #132 "Initial build on NetBeans fails."
After downloading the latest zip file and unzip it on my PC, I opened the project using NetBeans.  then I did a "Clean and Build" but after a while I got the following error message:

[code]
And this is the content of the generated Javadoc options file (referenced @ the end of the above message):

[code]
Any idea what could have caused this?

[2018-08-20 11:56] FibreFoX commented on #132
Which JDK are you using? Have you tried to call `mvn clean package` in some terminal?

[2018-08-20 13:57] GeVanCo commented on #132
I'm using JDK 8 (1.8.0_181 to be exact).
You're requesting to run `mvn clean package` but there's nowhere a pom file to be executed...

[2018-08-20 16:03] FibreFoX commented on #132
@GeVanCo oh sorry, mixed up with the maven-equivalent :D sorry, but calling `gradlew clean install` should work normally

[2018-08-20 16:28] GeVanCo commented on #132
Thought so, but didn't want to be a smarty-pants.  You're the intellectual owner of the plug-in, so who am I to push my thoughts on your creation... 😉
I've in the mean time run the `gradlew clean install` and that's successful.  Does that mean we can't compile from NetBeans by default?

[2018-08-20 18:59] FibreFoX commented on #132
I'm responsible for the maven-plugin AND the gradle-plugin, and sometimes, especially on mondays, this can get mixed up inside my head ;) sorry for mixing this up and trying you to wave over to maven ;D but did it work?

Kidding aside: for checking compile-problems I added TravisCI/AppVeyor to compile using multiple JDKs, which makes me wonder:
https://travis-ci.org/FibreFoX/javafx-gradle-plugin/b

[2018-08-21 07:33] GeVanCo commented on #132
You asked if it worked.  As said, running from the command line is OK.  But I'm still trying to figure out how to incorporate this in NetBeans.

Some time back I installed a NetBeans plugin that allows you to create or open a project based on Gradle (plugin is called Gradle Support and installs also indirectly the plugin Groovy and Grails).  But that's to create "normal" Java projects, not JavaFx

[2018-08-21 09:09] FibreFoX commented on #132
Now I'm confused, are you saying you downloaded this plugin-project to use as a JavaFX-boilerplate project?

[2018-08-21 09:53] GeVanCo commented on #132
To be honest, it's not really clear to me how to use your plugin into a NetBeans created JavaFX application...  Would be good if you could guide me in how to do this, because otherwise I'm afraid we're talking parallel paths (which is obviously my problem since I don't really get a grip on it, not yours...).

[2018-08-21 10:02] FibreFoX commented on #132
Now I'm starting to understand 😄 to create a project, you should create a normal gradle-project, you can look into the examples: https://github.com/FibreFoX/javafx-gradle-plugin/tree/newyear2018release/examples
Or just follow the instructions: https://github.com/FibreFoX/javafx-gradle-plugin#example-buildgradle

Creating the project from Netbeans, you probably will end with some Ant-based project,

[2018-08-21 15:53] GeVanCo commented on #132
To be honest, it's not really clear to me how to use your plugin into a NetBeans created JavaFX application...  Would be good if you could guide me in how to do this, because otherwise I'm afraid we're talking parallel paths (which is obviously my problem since I don't really get a grip on it, not yours...).

[2018-08-21 17:38] GeVanCo commented on #132
Using it from NetBeans doesn't seem to go so smooth.  Even the examples and the external references don't work "out of the box".
Think I have to put some "by hand" work myself too...

[2018-08-21 18:20] FibreFoX commented on #132
I really don't get your situation. Creating a gradle project is easy done "by hand", working with that gradle-project does not differ when having JavaFX included. When using this plugin, you enhance your build-file of your gradle-project by adding this plugin to your build-classpath, and after that you call `apply plugin...` to activate this plugin.

So using the examples, you need to adjust the c

[2018-08-21 18:20] #132 closed, assigned to nobody

[2018-09-19 15:26] Rykee opened #133 "Java 10 jvmArgs not working"
Hey there!
I'm trying to add this jvmArg to my build:
`--add-opens javafx.controls/javafx.scene.control.skin=ALL-UNNAMED`
But when I'm trying to run the installed exe file, the application quits instantly. If I remove the option from the .cfg file it works again.

Relevant part of the cfg file:

`packager.java.version=10.0.2`
`[JVMOptions]`
`--add-opens javafx.controls/javafx.scene.control.skin=AL

[2018-09-26 11:12] windhc commented on #103
Can you support jdk11，thinks

[2018-09-26 16:05] DJViking commented on #103
As of Java 11 the javapackager is removed. Also Java Web Start has also been removed as of Java 11.

There is a new jpackager targeted for Java 12. Johan Vos at Gluon has backported the jpackager into OpenJDK 11, and made available this tool. Perhaps if this plugin could switch to that tool instead.

[2018-09-28 13:29] Dahaka934 opened #134 "Javafx native app not working on Windows x32"
Hello.
I created simple app from example and built its. build.gradle also taken from example. But this app not working on PC with Windows 7 x32. Also I tested it on virtual machine. Java is not installed. But this app normal works on clean Windows 7 x64.

[2018-09-28 14:04] abaker commented on #134
You need to use an x86 JDK if you need your app to run on 32-bit Windows (e.g. Oracle jdk-8u*-windows-i586.exe)

[2018-09-28 15:16] FibreFoX commented on #134
This is a restriction from the underlying javapackager, you need to build your app for each targeted platform, using the same platform-type as build-system.

[2018-09-28 15:16] #134 closed, assigned to nobody

[2018-10-18 09:56] sdorof1 commented on #83
Hi there,

Is there a some perspective to resolve this issue?

[2018-11-08 14:32] DJViking opened #136 "Debian bundler prefix installation directory"
How can we change the prefix directory for the debian bundler?
There are no bundle arguments for it, nor do I find a way to set it in the control file.

Custom src/deploy/packages/linux/control

    Package: @projectName@
    Version: @applicationVersion@
    Release: @applicationRelease@
    Section: unknown
    Priority: optional
    Architecture: amd64
    Provides: @projectName@
    Depends: x

[2018-11-09 09:29] FibreFoX commented on #136
The folder-name `/tmp/fxbundler/images/linux-deb.image` is hard-coded inside the javapackager/bundler itself, where is not much I'm aware of to change this. But I do not see the actual problem here, what do you need to rename, and why?

[2018-11-09 10:31] DJViking commented on #136
The DEB installer puts my application under /opt/application, wheres my RPM puts my application under /opt/company/application. The RPM directory is set through the Prefix in its SPEC file.

The DEB control file has no such parameter for setting the installation directory (could not find one).

    Package: @projectName@
    Version: @applicationVersion@
    Release: @applicationRelease@
    Secti

[2018-11-09 12:04] FibreFoX commented on #136
I wasn't aware of this different behavior ... sounds interesting :) the "bundler-prefix" is internally something different, that's what confused me on the first thought.

[2018-11-29 14:51] swpalmer commented on #119
Is your new work based on jpackage tool to be included with Java 12?  https://openjdk.java.net/jeps/343

[2018-12-11 10:58] ProfitWarning opened #138 "Adding additional configuration folder"
Hi,
I want to include an additional folder for my config files.
I used this option
`additionalAppResources = "src/main/external-config"`
all the config files get copied to the 'app' folder.

Now I only need to add them to the classPath, so my configuration builder can find them.
How can I add additional folder/files to the app.classpath in the app.cfg?

[2018-12-14 11:08] EgorBlagov opened #139 "Finder got an error: Can’t get disk (-1728)"
Hi,

Thanks for this plugin, I use it to build jfx app but facing the issue during build mac DMG image. the stack trace is below.
Its occasionally reproducible. I assume that it's not related to your project directly but maybe you have such experience.

I'd like to add that I have also some custom cleanups in build job, that unmounts and ejects disk that were mounted during the build, also it asks

[2019-01-06 00:44] Nerjis commented on #80
![capture du 2019-01-05 23-43-33](https://user-images.githubusercontent.com/39071836/50730735-86eb3f80-1154-11e9-982f-bf2848c10486.png)
i have thise problem does anyone know how to solve it?

[2019-01-30 16:52] swpalmer opened #141 "Fix Deprecation warnings"
Running with Gradle 5.1.1 several warnings like the following appear when applying the plugin:

Unnecessarily replacing a task that does not exist has been deprecated. This is scheduled to be removed in Gradle 6.0. Try using create() or register() directly instead. You attempted to replace a task named 'jfxJar', but no task exists with that name already.
        at build_40o5m1w9wlzcaq8iqfffzl9ll.

[2019-02-12 08:13] tterpell opened #143 "Execute codesign with force flag"
Hello,
i want to Execute the codesigning with the force flag (codesign -f -s ...). How can i do this? I already tried to add the "-f" as an additionalJarsignerParameters, but that didnt help.

[2019-03-27 12:24] anddero opened #144 "Java 11 Support"
Is there an example project with configuration for Java 11+?

Currently I get the error `Couldn't find Ant-JavaFX-library, please make sure you've installed some JDK which includes JavaFX (e.g. OracleJDK or OpenJDK and OpenJFX), and JAVA_HOME is set properly.`

My `JAVA_HOME` is set to the JDK installation directory `A:\Software\Java\jdk-11.0.1`.

Am I supposed to fetch some JavaFX jar manually an

[2019-03-27 12:28] anddero commented on #144
I used to use Java 10 about half a year ago and the project was working perfectly. Now I don't have Java 10 anymore and it is not available through Oracle as well. I opened the same project and can't get it to work with Java 11. I know JavaFX got removed completely but maybe I can manually provide it?

[2019-03-27 13:12] FibreFoX commented on #144
Would not yet work, because this plugin does not yet support JPMS. In addition not the UI-part of JavaFX is required, but the packager-stuff, which got removed in JDK 10 and replaced by something different in JDK 11.

[2019-04-19 02:44] barnhill commented on #122
@FibreFoX I have a simple application that is using the java plugin and I can confirm that @williamkibira  is correct.  If you swap dependencies in the gradle to use `implementation` instead of `compile` then it will not put the dependencies in the folder with the jar thats built.  If I just change them to `compile` ... I get the dependencies put in the build/jfx/libs folder.

[2019-05-28 11:53] zeroDivider commented on #139
Maybe this can help: https://github.com/andreyvit/create-dmg/issues/43

[2019-05-28 11:55] EgorBlagov commented on #139
@zeroDivider, Hi, thanks for your input

[2019-05-28 11:55] #139 closed, assigned to nobody

[2019-06-08 09:17] omtodkar commented on #83
Following workaround worked for me, I am using plugin only for building native package.

Build a jar using spring **bootJar** task. It is by default enabled, though just to make sure Gradle builds jar using spring bootJar task.

`bootJar {
    enabled true
}`

Disable the **jfxJar** task.
`jfxJar {
    enabled false
}`

Provide `bootJar` output path to `jfxAppOutputDir` and also provide Spring boo

[2019-06-17 09:13] prog110 opened #145 "Add support for gradle java-library & its fine grained scopes"
Currently the plugin only bundles dependencies that are in `compile` scope

But, plugins like `java-library` allows us to have more fine grained control over which dependency gets used when. It introduces `api`, `implementation` & a lot more

Can you add support for this aswell

Thanks!

[2019-07-16 08:13] joyerf commented on #48
How to add "apt" plugin
Could not find method apt() for arguments [com.google.dagger:dagger-compiler:2.22] on object of type org.gradle.api.internal.artifacts.dsl.dependencies.DefaultDependencyHandler.

[2019-07-17 16:45] giloutho opened #146 "jfxNative problem with openJDK"
I use this plugin for two years without problems with Oracle JDK (V 8). I want to  swtich to openJDK (v8).

I began with Mac version no problems.

Under Windows, build felt with jfxNative : java.lang.NoSuchMethodError: com.oracle.tools.packager.windows.WinAppBundler.lambda$copyMSVCDLLs$261(Ljava/nio/file/Path;)Z

Application folder with executables is correct, the problem occured for the installer

[2019-07-17 18:49] FibreFoX commented on #146
Did you install the OpenJFX-part too?

[2019-07-17 20:30] giloutho commented on #146
Yes... I forgot : in Application foler, the exe generated works perfectly. Error occured during installer generation.

It's not that serious, I can use Innosetup to produce the installer

[2019-07-27 15:52] zapek commented on #146
I have the same problem here but with the Oracle JDK (v8, 221)

[2019-07-30 15:53] Alexilmarranen commented on #119
It seems that the main problem of support in the new JDK of this plugin can be solved in the future. https://openjdk.java.net/jeps/343
Do you have plans to support this new packager?

[2019-09-27 11:31] KleinDevDE opened #147 "Make it compatible with Gradle 6.0 in future release"
Error
[code]

build.gradle
[code]

`./gradle -v`
[code]

[2019-09-27 20:00] FibreFoX commented on #147
Interesting ... so they removed some "vital" parts of my plugin :( thanks for reporting this (I wasn't aware that the Gradle-project does change that much)

[2019-10-10 11:41] Rykee opened #148 "Multi project application - icon is not used"
Hello!

Recently I changed my single project application to a multi project one.
After the change the jfxNative task can't find the ico file for the exe.
I ran the task with an --info argument, and found out that the deploy dir is found, but the ico file is not.

Relevant configurations:

    bundleArguments = [
            installdirChooser  : 'true',
            dropinResourcesRoot: './src/main/

[2019-10-24 00:14] chaddaniels commented on #146
Same problem here using Oracle or Zulu 8u222.

[2019-11-06 13:32] Rykee commented on #148
Bump?

[2019-11-06 13:39] FibreFoX commented on #148
Why did you use `dropinResourcesRoot` here? Normally this should not be relevant that much, but you need the "correct" folder structure, and be aware that `./src/...` is relative, and might be "wrong". Did you try to remove `dropinResourcesRoot` and having that icon in `src/main/deploy/package/windows/Supervisor.ico`?

[2019-11-14 13:04] irn commented on #146
The same issue on Windows with Oracle Java 1.8 (231)

[2019-11-18 08:48] Indigo6 commented on #146
Windows Oracle Java 1.8 (231) too

[2019-11-26 22:47] chaddaniels commented on #146
Not sure if this is the right way to work around this issue, but I wanted to share this just in case this helped anyone else.  I added this and am no longer hitting the issue:
[code]

[2019-11-27 18:38] FibreFoX commented on #146
@chaddaniels that's a good explanation, on Windows there was some low-level binary-code patching required due to some bug, seems that they backported a lot of changes there :(

therefor: confirmed bug

[2019-11-27 23:22] chaddaniels opened #149 "Current InnoSetup on Windows is incompatible with the default .iss file MinVersion value"
After getting past #146, I am running into another issue on Windows where the current release of InnoSetup doesn't like the `MinVersion=0,5.1` value inside of the default .iss template file.   It complains that the version is too old.

`Minimum NT version specified by MinVersion must be at least 6.0. (Windows 2000/XP/Server 2003 are no longer supported.)`

I am aware that I can work around this by

[2019-11-27 23:57] chaddaniels commented on #149
After digging into this more I'm not sure if this is an issue with javafx-gradle-plugin or the JDK.  But, for anyone else running into this issue, I've found two ways to work around it.

1.) Use InnoSetup 5 rather than InnoSetup 6

2.) Copy the default template.iss file from com\oracle\tools\packager\windows\template.iss (I grabbed it [here](https://gist.github.com/TurekBot/8aa610bcd6695a6b5e7722b

[2019-11-28 19:09] FibreFoX commented on #149
:( this is a dependency of the javapackager itself, so nothing that I can do about. [The official documentation of JDK 8](https://docs.oracle.com/javase/8/docs/technotes/guides/deploy/self-contained-packaging.html) says `Inno Setup 5 or later`, probably only inside the 5.x-version-family.

As that template-file gets provided via the JDK, there is not that much that I can do about out-of-the-box.

[2019-12-02 21:10] Eliastik commented on #121
Same issue in Windows 10 64 bits, but the same build works on Windows 7 32 bits. Ubuntu 18.04.3 64 bits have also the same issue.

[2019-12-08 14:03] FibreFoX commented on #148
@Rykee bump 2 ;)

[2019-12-08 14:05] FibreFoX commented on #149
Just for reference: https://stackoverflow.com/questions/59158417/io-exception-in-java-packager-exec-failed-with-code-2-command

[2019-12-08 17:04] #44 closed

[2019-12-08 17:05] FibreFoX commented on #44
As JNLP for newer JDK-version gots removed from its core, I will close this as part of the rework. (But chances are there that JNLP for JDK8 will get added later)

[2019-12-08 17:09] FibreFoX commented on #84
I will close this, as this is not feasible, due to mixing JDKs, which itself would end up incompatible. It requires to use the JDK used by Gradle.

[2019-12-08 17:09] #84 closed

[2019-12-08 17:11] #98 closed, assigned to nobody

[2019-12-08 17:12] #110 closed, assigned to nobody

[2019-12-08 17:12] FibreFoX commented on #119
I'm back to deep dive into the topic ;)

[2019-12-08 17:15] FibreFoX commented on #133
Not yet compatible, will be closed as duplicate of #103

[2019-12-08 17:15] #133 closed, assigned to nobody

[2019-12-08 17:16] FibreFoX commented on #121
@Eliastik can you provide some MCVE? Otherwise this will get closed

[2019-12-29 16:25] wackyvert opened #150 "Couldn't find Ant-JavaFX library"
I know there's already been an issure created for this exact problem, but setting JAVA_HOME hasn't fixed any of my problens. I get that exact error, I have OpenJDK installed.

[2019-12-29 17:40] FibreFoX commented on #150
You need to have OpenJFX installed too, having just OpenJDK installed isn't everything that is required,

[2019-12-29 19:44] wackyvert commented on #150
Could you explain how to do that? I've done everything it says on https://openjfx.io (add path variable for jfx, i also have JRE_HOME and JAVA_HOME set correctly)

[2019-12-29 20:17] FibreFoX commented on #150
Can you give me a bit more details to your development environment? Which gradle-version are you using, which JDK/(Open)JFX are you using?

Just a reminder, this gradle-plugin is not yet working with JDKs beyond JDK 8, which changes 2020.

[2020-01-15 08:50] Rykee commented on #148
Sorry wasn't working on the project recently.
If I remove the dropinResourcesRoot it doesn't find the icon either.
But now with a simple 'src/main/deploy' it works. (without the dot).
If I remember correctly I tried that before, and it didn't work, but now it does.  ¯\_(ツ)_/¯

[2020-01-15 08:50] #148 closed, assigned to nobody

[2020-02-03 21:03] UgmaDevelopment commented on #146
Doing as @chaddaniels suggests worked for me, but make sure you stop your gradle daemon with something like `gradlew --stop` before trying again.

There's a note that appears, reminding you to, but you may have missed it (like I did). It reads,

If you don't restart your daemon, you might get an error like this:
[code]

[2020-02-18 23:06] rehovicova commented on #141
Any progress on this one? Gradle 6 will not allow me to build my project now.

[2020-02-26 15:41] FlySkyPie commented on #150
same problem here.

I found [issue](https://github.com/FibreFoX/javafx-gradle-plugin/issues/103) mention `$JAVA_HOME/lib/ant-javafx.jar`:

but I didn't see the file what I downloaded from:
http://gluonhq.com/download/javafx-11-0-2-sdk-linux/

[code]
and I got:
[code]

[2020-08-07 13:00] octo-kumo commented on #147
So is this not going to be fixed?

[2021-01-03 13:00] debuglevel commented on #147
I just looked around in the forks if someone fixed this. I did not verified it, but https://github.com/icebergteam/javafx-gradle-plugin/commit/8ee1e75b57ca784799ebec284604acb02ae03543 looks like @icebergteam fixed something that seems to to be related. Maybe you could take a look if this is indeed a fix?

[2021-01-03 13:03] FibreFoX commented on #147
Thanks for the hint @debuglevel , I will look into it. 2020 was not my best year, so good way for "new year resolutions" 😺

[2021-01-04 15:19] LionZXY commented on #147
@FibreFoX Can I support you somehow? Donate, perhaps?