[2016-01-15 22:45] FibreFoX opened #1 "Implement file associations"
Already prepared, but not finished...

[2016-01-15 22:46] FibreFoX opened #2 "Publish to maven-central"
publish final version to maven-central, not only to sonatype as snapshot-version

[2016-01-15 23:23] #1 closed

[2016-01-16 09:59] FibreFoX commented on #2
Done since some minutes ago, might take a while being available.

[2016-01-16 09:59] #2 closed

[2016-01-17 10:45] Lewik opened #3 "Cannot resolve external dependency"
I copypasted readme example

[code]

then I try
[code]

Result
[code]

[2016-01-17 10:47] Lewik commented on #3
btw: "runtime: null" - awesome!

[2016-01-17 10:49] Lewik commented on #3
fixed by

[code]

[2016-01-17 11:09] Lewik opened #5 "How to add icons?"
How to add icons?

[2016-01-17 11:09] Lewik opened #6 "How to make dmg (osx)?"
How to make dmg (osx)?

[2016-01-17 11:12] Lewik opened #7 "src/main/deploy must not be required"
src/main/deploy must not be required
For example I have multiproject with gradle and there are no central project with src dir in root at all.

[2016-01-17 11:13] FibreFoX commented on #3
no issue itself :D just wrong/incomplete documentation

[2016-01-17 11:13] #3 closed

[2016-01-17 11:14] FibreFoX commented on #7
Do you have anything on github I can reproduce/check with?

[2016-01-17 11:16] FibreFoX commented on #6
You need to run this on a Mac-system and call `gradle jfxNative`-task. Works like the javafx-maven-plugin. I know there is documentation missing :D thats what I wanted to create today

[2016-01-17 11:18] Lewik commented on #7
I can't open sources of that multiproject.

For reproduce - just start "gradle jfxJar" without src/main/deploy and you catch "Adding 'deploy' directory wasn't successful, because it does not exist! (/Users/lewik/gts/scloader/src/main/deploy)
"

Hmmm... even without deploy dir I got jar files. So I think deploy dir isn't required.

But you need to add info about that deploy directory - what is this

[2016-01-17 11:19] FibreFoX commented on #7
The deploy-dir is there to use the dropin-feature of the javafxpackager, you can replace some fileswith it, which would be gathered by internal tools.

If it's okay, I will close your tickets and reopen them as a "missing documentation" one ;)

[2016-01-17 11:19] #7 closed

[2016-01-17 11:20] #5 closed

[2016-01-17 11:20] #6 closed

[2016-01-17 11:20] FibreFoX opened #8 "Missing documentation"

[2016-01-17 11:20] FibreFoX commented on #8
See #5 #6 #7

[2016-01-17 11:27] Lewik commented on #6
My lack of knowledge will help you with the documentation
I do "gradle jfxNative" but I have app folder and pkg. And no dmg.

Found that in log:
[code]

btw: with shenmon plugin I also have troubles with dmg but can't find any info in logs

[2016-01-17 11:34] FibreFoX commented on #6
Interesting ... seems to be something with mac+jdk, got this already reported on javafx-maven-plugin:
https://github.com/javafx-maven-plugin/javafx-maven-plugin/issues/144

[2016-01-17 20:37] JustGregory commented on #8
If this is open for commentary, I would also like to add that I would like to see another example of the buildscript, based upon my intended use-case. (This is the third time typing this, as I lost the post from the last shutdown/restart; please bear with me for typing at length.)

I'm creating a meta-project-series, intended to be my own implementation of an "RPG Maker", which contains a game edi

[2016-01-17 21:09] FibreFoX commented on #8
The Readme-file on this project was the minimum-description I could think of. This is not the final state, and I intent to implement most or even all project-examples/-tests like inside the maven-plugin.

With the [javafx-maven-plugin](https://github.com/javafx-maven-plugin/javafx-maven-plugin) you normally implement your application and want it to be created with JFX-magic. All dependencies (exte

[2016-01-17 22:50] JustGregory commented on #8
Okay, but just for clarity, you are saying as long as I put the example script into the root project's ```build.gradle```, (adjusting for the particulars of my project) then it doesn't matter which subproject has the JavaFX main class and FXML resources, everything automatically compiles without me being required to break up the example into "this part for the parent, that part for the subproject,

[2016-01-18 07:30] Lewik opened #9 "JRE bundling"
There are "runtime: null" feature that enable no JRE bundling
It's awesome to reduce size of application

How can I distribute TWO bundles: JRE of needed version and my app? Can all operation systems keep multiple java versions?

The target is reduce update size. So I think I need to distribute not fat jar but separate jars and separate JRE too (JRE with my version).

[2016-01-18 09:13] FibreFoX commented on #9
The usage of a fat-jar is really not recommended. For distribution you can create native bundles, which do contain the specific JRE, that you are bundling with.

I do know the idea of "not bundling the JRE, because of its size", but it comes with a lot of drawbacks:
* you depend on the user installed JRE, if there isn't any, the application fails
* you depend on the user installed JRE, and you can

[2016-01-18 09:23] FibreFoX commented on #8
Thats right, it does not matter which JAR does contain the javafx-main-class :smile_cat: the generated `-jfx.jar` contains some special file: `generated-jfx.jar:/META-INF/MANIFEST.MF`

That file works like a "boot-loader", because it contains all required jar-files which should go to the classpath. So all you have to put together: all your dependencies and all your modules, let them be wrapped tog

[2016-01-18 20:18] JustGregory commented on #8
That's getting me there, thank you. If any further issues/questions arise, I will raise them later.

[2016-01-20 21:53] purringpigeon opened #10 "I am having some connection issues testing this plug in."
I do not believe they are your side - just wanted you to know why I hadn't posted back success or failure.

Thanks.

[2016-01-20 22:42] FibreFoX commented on #10
Hm ... i never head some for me. Maybe it's your connection? Do you have something to reproduce this?

Just to inform you, when it's not a direct but, please send me some e-mail to fibrefox@dynamicfiles.de, as it wouldn't put wrong issues on github.

[2016-01-20 22:42] #10 closed

[2016-01-20 23:01] horfius opened #11 "Task jfxJar depends on 'deploy' directory."
When running either jfxJar or jfxNative tasks, I get this output:

<code>
5:50:47 PM: Executing external task 'jfxNative'...

:compileJava UP-TO-DATE

:processResources UP-TO-DATE

:classes UP-TO-DATE

:jar UP-TO-DATE

:jfxJar

Adding 'deploy' directory wasn't successful, because it does not exist! (C:\Users\horfi\Documents\FRCSmartDashboard\src\main\deploy)

:jfxJar FAILED

FAILURE: Build failed

[2016-01-20 23:14] horfius commented on #11
Digging deeper, the crash is actually caused by the <code>copy</code> task not existing. I'm using the gradle 2.2.1 wrapper.
This is the stacktrace: http://pastebin.com/28TntiKH

[2016-01-20 23:23] FibreFoX commented on #11
This plugin was made using gradle 2.10, could you check using that version?

[2016-01-21 03:13] horfius commented on #11
It doesn't crash on 2.10. It builds the jar, but I found another issue with it packaging dependencies.
Here's the crash log: http://pastebin.com/VAj2aceD
Here's my build script: http://pastebin.com/0RuCf35C

[2016-01-21 08:29] FibreFoX commented on #11
@horfius Hi, thanks for the report. I'll check if I can push some changes to make it work with some older Gradle-version. Let me some time to figure out, what happened ... it's strange that some dependencies aren't there ... but still getting their path.

[2016-01-21 09:05] FibreFoX commented on #11
Just to make sure it hasn't something to do with gradle-version conflicts: could you try to delete that cache-folder? `C:\Users\horfi\.gradle\caches\`

[2016-01-21 13:51] horfius commented on #11
So I deleted the cache and it still has the same issue. The files do exist, but the error actually exists in your tasks.
On line 96 of JfxJarTask you create a new directory for lib, but it leaves the path of the file as 'build\jfx\app\lib'. What if you try to do <code>libDir.getAbsoluteFile().toPath.resolve(...)</code> on lines 123 and 153.

[2016-01-21 14:14] FibreFoX commented on #11
That doesn't change anything, the problem currently is that the dependency-file claims to not be existing:
[code]
is it possible that there are some problems with the user running the build-process? Maybe he isn't able to read that files (permissions or something like that).

[2016-01-21 14:17] FibreFoX commented on #9
@Lewik any progress on this issue?

[2016-01-21 14:57] Lewik commented on #9
@FibreFoX I'm to busy at the main work.
We will try this plugin as soon as possible. If you want - you may close question now. I'll try it anyway.

[2016-01-21 21:10] #9 closed

[2016-01-25 15:52] purringpigeon commented on #11
I am seeing this same statement in the logs:

:app:jfxJar
Adding 'deploy' directory wasn't successful, because it does not exist! (C:\workspace\GRADLE-POC\master-module\src\main\deploy)
:app:jfxNative
Adding 'deploy' directory wasn't successful, because it does not exist! (C:\workspace\GRADLE-POC\master-module\src\main\deploy)

[2016-01-25 16:13] FibreFoX commented on #11
@purringpigeon that's nothing to be concerned about, it just says that the folder wasn't existing, it has nothing to do with the dependencies.

[2016-01-25 22:49] purringpigeon opened #12 "Issue with --daemon switch"
I am not sure if this is an issue with the plug in - or gradle.  However when I run like this:

gradle jfxNative

Everything works like a champ!

when I use it like this:
gradle jfxNative --daemon

It throws errors when attempting to copy the files to the lib folder:

Couldn't copy dependency commons-codec:commons-codec:1.6
java.nio.file.NoSuchFileException: C:\Users\user\.m2\repository\commons-co

[2016-01-26 09:23] FibreFoX commented on #12
This looks pretty similar than this: https://github.com/FibreFoX/javafx-gradle-plugin/issues/11#issuecomment-173580940

[2016-01-26 09:28] FibreFoX opened #13 "Wrong path while usage on multi-project"
While helping @purringpigeon we discovered some difference on multi-project builds:

The current folder isn't the expected one, currently the root-project needs to contain `src/main/deploy`, which isn't the wanted behaviour!

[2016-01-26 14:09] purringpigeon commented on #12
Yes - these might be duplicate.  I noticed this using Buildship for Eclipse which is the gradle plugin from Gradle themselves.  It uses the --daemon and nothing we can do about that unfortunately.

I am not sure if this is because of the multi project or not, but I have noticed different behavior between the two ways of running the build.

This is what I have noticed:
gradle jfxNative --deamon

Th

[2016-01-26 15:04] purringpigeon commented on #12
This is a shot in the dark - but could it be possible that the --daemon doesn't run from the same directory and when it attempts to write the file, it can't locate the relative build directory?

Looking on stack overflow: http://stackoverflow.com/questions/14263725/java-files-write-nosuchfileexception asks why it throws this error on a write.  This error is thrown when the directory isn't there.

[2016-01-26 17:42] purringpigeon commented on #12
I noticed that when I ran with daemon this would fail:
String contents = new File( 'src/main/deploy/package/windows/file.template' ).getText( 'UTF-8' )

However, if I changed it to:
String contents = new File(new File("$rootDir"), 'src/main/deploy/package/windows/file.template' ).getText( 'UTF-8' )

It worked - so I am thinking that using absolute path at line 123 & 153 for the copy folder might s

[2016-01-26 18:37] FibreFoX commented on #12
Thank for your effort in debugging this yourself, maybe that will be solved by fixing issue #13

[2016-01-26 18:38] purringpigeon commented on #12
So I played with this a little more - created a simple java class to copy this file:

public static void main(String[] args) {

        try {
            Files.copy(new File("C:\\Users\\purringpigeon\\.m2\\repository\\org\\apache\\lucene\\lucene-core\\4.10.3\\lucene-core-4.10.3.jar").toPath(),
                    new File("build\\jfx\\app\\lib\\lucene-core-4.10.3.jar").toPath(), StandardCopyOption

[2016-01-26 19:17] FibreFoX commented on #12
YES !! Found it!

[code]

thats the thing I wasn't aware of ! This will be changed with the bugfix for #13 i guess, but I will hold this open until I know this is really fixed.

[2016-01-26 19:20] FibreFoX commented on #11
@horfius Are you running your gradle-build with the `--daemon` option?

[2016-01-26 19:20] purringpigeon commented on #12
Sweet!  Thank you again.

[2016-01-26 20:21] horfius commented on #11
No, I am not running with --daemon.

[2016-01-26 20:22] purringpigeon commented on #11
If you are running from within an IDE such as NetBeans or Eclipse you would be using the daemon.

[2016-01-26 20:40] #11 closed

[2016-01-26 20:41] FibreFoX commented on #13
Hi @purringpigeon, could you test my changes with your multi-project buildfile? This should change the thing we discovered while mailing.

[2016-01-26 20:42] FibreFoX commented on #12
@purringpigeon Could you check the current behaviour while using a local build SNAPSHOT-version?

[2016-01-26 21:53] purringpigeon commented on #13
Yes. I will test it now. Do I need to change the version number?

On Jan 26, 2016, at 1:41 PM, Danny Althoff <notifications@github.com> wrote:

Hi @purringpigeon, could you test my changes with your multi-project buildfile? This should change the thing we discovered while mailing.

—
Reply to this email directly or view it on GitHub.

[2016-01-26 21:56] purringpigeon commented on #12
I am not sure how to run this locally?  I would be more than happy to, but I haven't done something like that before.  I tried changing the version to version: '1.0-SNAPSHOT' but that didn't work.

[2016-01-27 08:54] FibreFoX commented on #13
@purringpigeon I uploaded a new SNAPSHOT-Version:
[code]

[2016-01-27 08:54] FibreFoX commented on #12
@purringpigeon I uploaded a new SNAPSHOT-Version:
[code]

[2016-01-27 14:24] purringpigeon commented on #12
This isn't working anymore.  I don't get any errors but I am not getting the project setup or the exe installer.

I used to get the jfx set up and app under the:
master-project/build/jfx/...

Now when I run it (either with --daemon or not) I get the following:
master-project/build/jfx/app/app.jar (and that is all)
master-project/app-project/build/jfx/app/lib/*.jar (and that is all).

I am missing

[2016-01-27 16:26] FibreFoX commented on #12
Do you still have the fixed ` bundler = "windows.app" `? There still is something not right regarding multi-project folders. I'll have a deeper look into it, thanks for testing.

[2016-01-27 16:40] FibreFoX commented on #12
That was unwanted, the structure should be now:
[code]

I uploaded a new SNAPSHOT-version (still being 1.1-SNAPSHOT), so you shouldn't have that wrong created folder below the root-project (I missed some File-constructor).

[2016-01-27 17:10] purringpigeon commented on #12
I think that fixed all the issues....
I needed to restructure my build scripts so that it worked within the correct folders - but now I am getting the folders in the:

master-project/app/build/jfx/*

I am getting the build working with both --daemon  and without --daemon

I am reinstalling the gradle plugin in my eclipse and will test that out.  But I think that this is working.

Here is my build.

[2016-01-27 17:32] FibreFoX commented on #12
@purringpigeon so you are still getting the output to the wrong folder `master-project/build/jfx/app/*` (maybe I misunderstood)?

The resources for bundling to native bundles and the outcome of the java(fx)packager should result below that dedicated app-bundle-project. Can you confirm this is now where it should be?

[2016-01-27 17:39] purringpigeon commented on #12
No I am getting the correct folders now.

master-project
------>app-project
------------->build
------------------>jfx/*

So that is good.  I am getting the correct structures and the installer.  The only issue I have is that clean doesn't work when the daemon is running.

[2016-01-27 17:54] FibreFoX commented on #12
Okay, in that case I would suggest to close this issue and #13 too, what do you think about this? The clean-issue might not have something to do with this gradle-plugin.

[2016-01-27 18:48] purringpigeon commented on #12
I think that this is an issue with the gradle-plug in actually.  the clean worked before you made these changes.

[2016-01-27 18:59] FibreFoX commented on #13
As discussed on issue #12 this should be working now (still remains that clean-bug, but this one should get closed)

[2016-01-27 18:59] #13 closed

[2016-01-27 19:01] FibreFoX commented on #12
let me tinker some dummy-multi-project buildscript, hopefully I can recreate that issue myself

[2016-01-27 19:31] FibreFoX commented on #12
I can reproduce that issue now, seems that there is some handler open when running `gradle jfxNative`:
[code]

I will look into the JDK, there is some magic regarding version-detection ....

[2016-01-27 19:40] FibreFoX commented on #12
It smells like an issue from the JDK itself:
* when launching normally, running `jfxNative` is okay, but running `clean` afterwards fails, because of some open file-handle
* when specifying to NOT include the JRE, everything works nice for me:
[code]

I'll take a deeper look into the JDK .... again

[2016-01-27 20:34] purringpigeon commented on #12
It wouldn't be a big deal for me, but ALL IDE's use the --daemon to work with gradle unfortunately.

Glad you found what is going on, perhaps you'll figure out what will fix it.

[2016-01-28 22:09] FibreFoX commented on #12
Just another case of "it's the JDK", I think I've found the spot where the file descriptor-leak exists:
http://hg.openjdk.java.net/openjfx/8u60/rt/file/996511a322b7/modules/fxpackager/src/main/java/com/oracle/tools/packager/windows/WinAppBundler.java#l325

As this stream is a DirectoryStream ([as documented](http://docs.oracle.com/javase/8/docs/api/java/nio/file/Files.html#list-java.nio.file.Path-

[2016-01-28 22:35] FibreFoX commented on #12
Reported that to oracle, now we will see, if they can confirm my findings.

[2016-01-29 14:08] purringpigeon commented on #12
Thanks for the update.  I will switch my project back to using the 1.1 release.  I look forward to any updates on the --daemon locking the JRE as I do need to bundle it.

Thanks

[2016-01-29 14:13] FibreFoX commented on #12
@purringpigeon a quick workaround would be to turn off runtime-bundling while developing (setting the bundleArgument "runtime" to null), and enable it on CI-system/production

When having some results from oracle, I will report back here

[2016-02-01 16:55] FibreFoX commented on #12
Bug got accepted -> It's the JDK.
https://bugs.openjdk.java.net/browse/JDK-8148717

Workaround: don't use jfxNative-task within IDE

[2016-02-01 16:56] purringpigeon commented on #12
Thanks.

On Feb 1, 2016, at 9:55 AM, Danny Althoff <notifications@github.com> wrote:

Bug got accepted -> It's the JDK.
https://bugs.openjdk.java.net/browse/JDK-8148717

Workaround: don't use jfxNative-task within IDE

—
Reply to this email directly or view it on GitHub.

[2016-02-01 18:25] FibreFoX commented on #12
Current `1.2-SNAPSHOT` makes it unable to call the bundler with the jfxNative-task when gradle is in daemon-mode.... at least I hope so.

[code]

[2016-02-01 18:52] purringpigeon commented on #12
If we use the new build that means we can't create the build within the IDE. Is that correct?

On Feb 1, 2016, at 11:25 AM, Danny Althoff <notifications@github.com> wrote:

Current 1.2-SNAPSHOT makes it unable to call the bundler with the jfxNative-task when gradle is in daemon-mode.... at least I hope so.

buildscript {
    dependencies {
        classpath group: 'de.dynamicfiles.projects.gradle.

[2016-02-01 18:57] FibreFoX commented on #12
Thats right, the jfxNative-task [will get skipped when gradle is in daemon-mode](https://github.com/FibreFoX/javafx-gradle-plugin/blob/master/src/main/java/de/dynamicfiles/projects/gradle/plugins/javafx/tasks/JfxNativeTask.java#L269). But only when having jdk 1.8.0_60 or later, in earlier versions the file description leak/lock wasn't introduced.

[2016-02-03 15:51] purringpigeon commented on #12
OK I ran the snapshot and it appears that the new version does not run the jfxNative when --daemon is running and clean works fine.  Running without the --daemon also seems to work.  One note - if someone is using an IDE and then needs to run jfxNative they should run gradle --stop from the command line other wise it doesn't work.

[2016-03-08 14:39] purringpigeon opened #14 "Question on logging during jfxNative"
Hello,

Thanks for the update to 1.3.  We have rolled this out to our development team.  Thanks for this plug in.  I keep seeing this at the end of the build:

[code]

I am not sure what that is, or if I should be worried about them?

Thanks

[2016-03-08 14:49] FibreFoX commented on #14
If you set verbose to `true`, there might be some more output. The output comes from some version-checking of installed "WiX Toolkit", if you are using the up2date version (currently 3.10) the bundler isn't finding that files:
http://hg.openjdk.java.net/openjfx/8u60/rt/file/996511a322b7/modules/fxpackager/src/main/java/com/oracle/tools/packager/windows/WinMsiBundler.java#l143
http://hg.openjdk.jav

[2016-03-08 14:49] FibreFoX commented on #14
Oh, and add `--info` to gradle command ;) there is more output from the gradle-plugin too.

[2016-03-08 16:02] FibreFoX commented on #14
@purringpigeon If the answer satisfies you, please close the issue yourself ;)

[2016-03-08 17:55] purringpigeon commented on #14
Thanks!

[2016-03-08 17:55] #14 closed

[2016-03-14 13:50] sleonidy opened #15 "Plugin doesn't bundle runtime dependencies into app/lib/"
I have created sample project for demonstrating the issue
[javafxplugin.zip](https://github.com/FibreFoX/javafx-gradle-plugin/files/172042/javafxplugin.zip)

[2016-03-14 13:58] purringpigeon commented on #15
If you have this set:

bundleArguments = [
        // dont bundle JRE (not recommended, but increases build-size/-speed)
        runtime: null
    ]
It will not bundle the runtime - I have that removed from my build and it works fine.

[2016-03-14 13:59] FibreFoX commented on #15
@sleonidy Will have to take a look :)

[2016-03-14 14:01] sleonidy commented on #15
I didn't set this option(Cause I want jre to be bundled), what I mean is:
If you add dependency to gradle to runtime scope , it won't bundle it.
Take a look at a project I've attached.
Thanks

[2016-03-14 14:03] FibreFoX commented on #15
@sleonidy I'm already seeing your issue, will have to take a look how to fix this and why it's there

@purringpigeon the issue is about runtime-dependency, not the runtime itself :smile:

[2016-03-14 14:10] FibreFoX commented on #15
@sleonidy Might have found the confusion here:
you are setting your dependency into the scope **"runtime"**, but this plugin works with scope **"compile"**, so thats the reason why no lib is copied.

Will have to take a look into the maven-plugin if it is possible to add something for runtime-dependencies too.

Quick workaround:
[code]

[2016-03-14 15:56] FibreFoX commented on #15
@sleonidy Hi, I've checked the javafx-maven-plugin for this behaviour, seems that this is a real bug ;) thanks for finding this. I will create a quick fix and will report back when having something for you.

[2016-03-14 16:54] FibreFoX commented on #15
@sleonidy could you try with version `8.4.1-SNAPSHOT` using Sonatype-Snapshot-Reposiroty?

[code]

[2016-03-14 17:03] sleonidy commented on #15
It is working .
Thanks for quick fix.

[2016-03-14 17:03] #15 closed

[2016-03-14 17:06] FibreFoX commented on #15
@sleonidy just to make sure, you used the new version instead of switching "runtime" to "compile", right?

The new 8.4.1 should be available through maven-central in the next few days.

[2016-03-15 06:19] sleonidy commented on #15
Yes. I've checked that "runtime" dependencies are copied to app/lib folder .

[2016-03-24 06:00] twyatt opened #16 "Couldn't find Ant-JavaFX-Library"
First off, thanks for this awesome Gradle plugin!

Currently running into an issue on Windows 7 SP1:

Running `gradlew.bat jfxRun` results in:
[code]

I was able to fix the problem by copying `ant-javafx.jar` from my `Program Files\Java\jdk1.8.0_77\lib` to `Program Files\Java\lib` folder.

I believe [Line 89](https://github.com/FibreFoX/javafx-gradle-plugin/blob/8.4.1/src/main/java/de/dynamicfiles

[2016-03-24 09:01] FibreFoX commented on #16
Hi there,

thanks for using my fresh gradle plugin :smile_cat:

It's just a thought, but could you check what JAVA_HOME is set? It should be the JDK, not the JRE. The JDK has a different structure with the libs than the JRE has.

For better support I will think about some diagnostic task for copy&pasting it here ;)

[2016-03-24 09:36] twyatt commented on #16
Admittedly, I don't use Windows very often, so I had completely overlooked setting `JAVA_HOME`:
[code]

I had installed the JDK and JRE just prior to running the `jfxRun` Gradle task.

I removed the extra copy I had made of `ant-javafx.jar` and setting the `JAVA_HOME` did resolve the issue:
[code]

But that leaves me to wonder what `JAVA_HOME` defaulted to when not defined? Perhaps it was using `C

[2016-03-24 10:00] FibreFoX commented on #16
@twyatt No problem, glad to help here.

The default is just "empty", it's a normal windows-installation-procedure to set that variable BEFORE using tools.

The structure in JDK9 is different than JDK8, for that my switch in [Line 88](https://github.com/FibreFoX/javafx-gradle-plugin/blob/8.4.1/src/main/java/de/dynamicfiles/projects/gradle/plugins/javafx/JavaFXGradlePlugin.java#L88) was made for.

T

[2016-03-24 10:00] #16 closed

[2016-03-30 13:28] cconnoll commented on #8
I don't know if this helps/needs to be said but in relation to https://github.com/FibreFoX/javafx-gradle-plugin/issues/5 and https://github.com/FibreFoX/javafx-gradle-plugin/issues/7, I understand that ````src/main/deploy```` is not necessarily needed however if you do go by the [README](https://github.com/FibreFoX/javafx-gradle-plugin/blob/master/README.md) and use "src/main/deploy" like:

    jf

[2016-03-30 14:43] FibreFoX commented on #8
@cconnoll thanks for the hint, to be honest, the structure is made up by the javapackager itself, like described in [the official documentation by oracle](http://docs.oracle.com/javase/8/docs/technotes/guides/deploy/self-contained-packaging.html#BCGICFDB), look at the [sample output](http://docs.oracle.com/javase/8/docs/technotes/guides/deploy/self-contained-packaging.html#BCGHHDGC):
[code]

Most

[2016-04-17 10:10] KorvinGump opened #17 "Please add example how to add fileAssociations to application"
What should i add to line in gradle build script
`fileAssociations = null // List<Map<String, Object>>`
I know that you have class [FileAssociation](https://github.com/FibreFoX/javafx-gradle-plugin/blob/master/src/main/java/de/dynamicfiles/projects/gradle/plugins/javafx/converter/FileAssociation.java). But where i must create this object and how to add it to gradle build script? Please add example

[2016-04-17 10:58] FibreFoX commented on #17
This should work
[code]

[2016-04-17 11:21] KorvinGump commented on #17
I am getting exception.
[code]
So, how to create file if it allows only String?

[2016-04-17 12:33] FibreFoX commented on #17
@KorvinGump are you sure you have wrapped `somePathToIcon` with `new File()`?

[2016-04-17 12:34] FibreFoX commented on #17
@KorvinGump I'll make a working example locally :) might take some while, but I will provide working example here.

[2016-04-17 12:52] FibreFoX commented on #17
@KorvinGump Hi, sorry for that non-working suggestion from me ;) I was too long out of this plugin.

Please have a look at this:
[code]

This worked for me locally, I hope it works for you too!

[2016-04-17 16:21] KorvinGump commented on #17
It works! But i installed latest version of [Inno Setup](http://www.jrsoftware.org/isdl.php). Now gradle build creates .EXE installer for me. It's good. Don't know but can i configure inno setup script, so i can add installation folder and other params, such as language, etc? We really need a documentation... Thanks for your help.

[2016-04-17 16:30] FibreFoX commented on #17
It works like normal javapackager (and like with javafx-maven-plugin), just create `src/main/deploy` with the override-scripts you like, when having `verbose` set to `true` (and expecially passing `--info `-parameter when calling gradle), you will get some folder where your generated .wxs/.wxi-files are stored.
Please remember: this plugin is just a gradle-wrapper for the tools provided by the JDK

[2016-04-17 16:30] #17 closed

[2016-04-18 08:26] KorvinGump commented on #12
How i can stop gradle in netbeans? Or in Windows 7?

[2016-04-18 11:29] FibreFoX commented on #12
@KorvinGump sorry to interrupt, but this has nothing to do with this gradle-plugin, its something with netbeans, so please ask the guys from the netbeans-plugin

The problem lies inside the JDK in combination with windows. Are you developing with other OS?

On second thought it might have not been the best idea to always break the native task :smile_cat:

[2016-04-18 13:38] FibreFoX commented on #12
For other visitors regarding Netbeans and Gradle: https://github.com/kelemen/netbeans-gradle-project/issues/269

[2016-04-19 07:27] FibreFoX commented on #12
@KorvinGump Hi, just a short note: when you are setting your build-file to NOT bundle some JRE, it is possible to call `jfxNative`-task.

[code]

[2016-05-03 18:00] purringpigeon opened #18 "How can I add a JVM argument?"
I have attempted to add the following argument:

-Dglass.win.minHiDPI=1.0

I tried like this:
`jvmArgs=Dglass.win.minHiDPI=1.0`

Throws the error:

FAILURE: Build failed with an exception.

* Where:
Build file 'C:\workspace\alpha-powersuiteui\powersuitefx-master-module\powersuite-app\build.gradle' line: 72

* What went wrong:
A problem occurred evaluating project ':powersuite-app'.

* Try:
Run wit

[2016-05-03 18:10] purringpigeon commented on #18
I found the way:

jvmArgs=["-Dglass.win.minHiDPI=1.0"]

[2016-05-03 18:10] #18 closed

[2016-05-03 20:15] FibreFoX commented on #18
I'm glad you found the way :smile_cat: it's the groovy-way of handling string-lists.

[2016-05-04 15:31] maxd opened #19 "Could not generate a proxy class for class de.dynamicfiles.projects.gradle.plugins.javafx.tasks.JfxJarTask"
I am trying to integrate `javafx-gradle-plugin` with my multi-module project on Kotlin but when I execute `jfxRun` I see the following error:

[code]

How to reproduce this problem:

1. Disable Gradle daemon for any case (`org.gradle.daemon=false` in `~/.gradle/gradle.properties`) and kill running daemon process
2. Clone repository: https://github.com/maxd/javafx-gradle-plugin_kotlin
3. Run `./gra

[2016-05-04 15:50] FibreFoX commented on #19
I will check this and report back. But just to make sure: what type of java are you using? OpenJDK? What platform?

[2016-05-04 15:53] maxd commented on #19
Java was installed from Oracle JDK:

[code]

OS: OS X El Capitan 10.11.3 (15D21)

[2016-05-04 15:58] FibreFoX commented on #19
Besides that being some old JDK , I can reproduce the behaviour, but it's not that easy to find this. It is possible, that my tweak with the jfx-ant-jarfile is way too hacky here. I'm injecting that file when injecting that jar-file when `apply plugin: 'javafx-gradle-plugin'` gets called

[2016-05-04 16:29] maxd commented on #19
You are right. I have declared loading of `ant-javafx.jar` in root module and it fix problem:

[code]

Seems like this is more right way than [this](https://github.com/FibreFoX/javafx-gradle-plugin/blob/e41cc4daa37edd9b5673188be93e967cd9c83b61/src/main/java/de/dynamicfiles/projects/gradle/plugins/javafx/JavaFXGradlePlugin.java#L85) hack.

FYI: Bump JDK to 1.8.0_91.

[2016-05-04 17:19] FibreFoX commented on #19
It might be more a problem of your build-script :) I have a working setup with your repository, just needs some polish. I'll commit that changes to the fork I just made and will report back here.

[2016-05-04 17:23] FibreFoX commented on #19
@maxd here you go:
https://github.com/FibreFoX/javafx-gradle-plugin_kotlin/commit/eaec180be39256c4426daec73d78e603a5f16d98

In short: I moved some `apply`-ies into their corresponding build-scripts.

Does that fit your needs?

[2016-05-04 18:13] maxd commented on #19
No, because I want to avoid copy-paste of configuration between all subprojects as recommended [here](http://www.petrikainulainen.net/programming/gradle/getting-started-with-gradle-creating-a-multi-project-build/) in `Removing Duplicate Configuration` section for example.

Could you please explain this?

[2016-05-04 18:39] FibreFoX commented on #19
I've made a pull-requests for the requested changes: https://github.com/maxd/javafx-gradle-plugin_kotlin/pull/1

[2016-05-05 09:13] maxd commented on #19
This is solution is appropriate but still has a copy-paste because need to declare `kotlin` plugin and some dependencies (i.e. `kotlin-stdlib`) in all subprojects. Will be better to declare them in one place (in root module) but `javafx-gradle-plugin` don't allow me to do it.

Is it possible to add option to enable/disable call of `addJavaFXAntJARToGradleBuildpath` method? In this case I disable h

[2016-05-05 09:57] FibreFoX commented on #19
I found this [discussion about subprojects and buildscripts](https://discuss.gradle.org/t/buildscript-in-subprojects-ignored/2401). Gradle-plugins are part of the buldscript and not part of the real the dependencies, but only for the buildscripts, these plugins are applied to, but that implies that all libs are there ... .... which is not true for the `ant-javafx.jar`, because of the task-resoluti

[2016-05-05 13:24] maxd commented on #19
ok, let's close this issue because I don't known how to fix it right.

[2016-05-05 13:24] #19 closed

[2016-05-16 23:08] amaral7 commented on #8
I have some configuration questions. Maybe looks like a little bit simple, but I haven't find a way:

- I would like to Bundle JRE
- Set the desktop icon

Can you describe how to set those configurations?

[2016-05-17 06:38] FibreFoX commented on #8
Hi @amaral7 ,
to have bundled JRE, just don't set runtime :) it's the normal behaviour to bundle the JRE when executing the jfxNative-task (`gradle jfxNative`). To set desktop-icons, what do you mean? Which OS do you target? Windows?

[2016-05-17 13:27] amaral7 commented on #8
Hi @FibreFoX, Thank you, the bundle JRE worked. My OS targets are Windows and Mac. I want to change the .EXE icon, today it's a Java Gray icon. Here is a picture of my /build/jfx/native folder:

![application icon](https://cloud.githubusercontent.com/assets/1706819/15323587/155773e4-1c19-11e6-96cf-050a66053cf3.png)

I want to change those icons indicated with a red arrow.

[2016-05-17 13:44] FibreFoX commented on #8
Oh I see, this is normal javapackager/javafx-maven-plugin behaviour. Just create some folder in your project with some icon inside having the specified `<appName>`.
For windows: `src/main/deploy/windows/` + `Vimeo Video Uploader.ico`
For mac: `src/main/deploy/macosx/` + `Vimeo Video Uploader.icns`

I'm really irritated sometimes, that using some "plugin" makes the developers not looking at the ori

[2016-05-17 13:55] cconnoll commented on #8
I don't know if it helps but this is something that I had trouble with for a uni project. Screenshots of my project structure and the related properties in my build.gradle (as per @FibreFoX's comment) are as follows:

<img width="444" alt="file structure" src="https://cloud.githubusercontent.com/assets/13199498/15324481/f3a971e0-1c89-11e6-8a9b-8eb939cf2a93.png">
<img width="315" alt="build" src="h

[2016-05-17 14:10] amaral7 commented on #8
@FibreFoX Thanks again, I'm sorry for that. Maybe I should look more deep, I really read a lot of documentations from oracle about javafx and icons, but I just found how to change icon using the stage (`primaryStage.getIcons().add(`), anyway thanks again.

[2016-05-17 14:15] amaral7 commented on #8
@cconnoll Thank you, helps a lot. Maybe I would have some issues to set the deployDir.

[2016-05-17 14:24] FibreFoX commented on #8
@amaral7 it is NOT required to change deployDir, it is per-default set to `src/main/deploy`, but this depends on how you are configuraing your buildscript, as you can see [in the proguard-example](https://github.com/FibreFoX/javafx-gradle-plugin/blob/master/examples/javafx-proguard-gradle/build.gradle#L34)

[2016-05-17 14:33] amaral7 commented on #8
@FibreFoX Thanks, it works.

[2016-05-25 13:53] drkbkr commented on #8
This seems to have become a general support thread, so I'll leave my question here. Apologies if that's not appropriate.

JavaFx applications support named and unnamed parameters to the application itself. Is there a way to specify those (I'm particularly interested in named ones) in the jfx block within build.gradle? I didn't see any mention of them in the example build.gradle on the front page h

[2016-05-25 16:00] FibreFoX commented on #8
Hi @drkbkr and thanks for joining here ;)

do you have something like this in mind? [Oracle-documentation about `<fx:jvmarg>`, `<fx:jvmUserArg>` and `<fx:property>`](https://docs.oracle.com/javase/8/docs/technotes/guides/deploy/self-contained-packaging.html#r17c1-t4).

When you are talking about "normal application arguments" (`<fx:argument>`), maybe you want to have a look at the `launcherArgumen

[2016-05-25 19:15] swpalmer opened #20 "Doesn't seem to have a way to set the category for the native install"
How do we set stuff like category and copyright?

https://docs.oracle.com/javase/8/docs/technotes/guides/deploy/javafx_ant_task_reference.html#CIAIEJHG

[2016-05-25 19:57] FibreFoX commented on #20
Hi @swpalmer,

this is some argument for the bundler so this is dependend on the build system (operating system) and the bundler to work with.

[code]

To give you a more proper answer, what OS are you using? Windows? MacOSX? Linux?

[2016-05-25 20:08] FibreFoX commented on #20
To find the names for the arguments are listed [inside the BundleParams.java-file as seen in the OpenJDK](https://github.com/teamfx/openjfx-8u-dev-rt/blob/fd634925571310284b02d89ff512552e795ba5e8/modules/fxpackager/src/main/java/com/sun/javafx/tools/packager/bundlers/BundleParams.java#L63)

[code]

[2016-05-26 16:53] FibreFoX commented on #20
ping @swpalmer

[2016-05-26 17:19] drkbkr commented on #8
Thanks @FibreFoX .

I don't think it's `launcherArguments` I'm looking for.

Essentially what it is is a way to specify (within build.gradle) arguments to the main() method. Generally those get handed to the `Application`'s `launch` method which then makes them available as an instance of `Parameters` through the `getParameters()` method.

For instance, using shemnon's retired javafx plugin you co

[2016-05-26 17:39] FibreFoX commented on #20
What is a `GString`, never heard of in Java-context?

The consistency here is that some things are shared among all bundlers, as this gradle-plugin has it's roots at the javafx-maven-plugin, this was intended to give the most easy way for "maven to gradle"-transition.

Just to make the state of this issue clear: does the given answer work for you? If so, please close this issue, we still can sort

[2016-05-26 17:55] FibreFoX commented on #8
Hi @drkbkr, have you tried to replace `arguments = []` with `launcherArguments = []` ? We are talking about the same thing here :smile_cat: just checked that with a dummy-project (which might get uploaded as some example with the next update).

[2016-05-26 17:58] swpalmer commented on #20
Gradle is based on Groovy.  GString is Groovy .. let's you do "blah ${project.name}" and have the substitution happen.

[2016-05-26 17:58] #20 closed

[2016-05-26 18:02] FibreFoX commented on #20
Yes, this plugin expects normal `java.lang.String` instead of `groovy.lang.GString`, to workaround just add some `.toString()` to these values. It is more a convenience-thing instead of a real bug. :smiley_cat: but thanks for the clarification, didn't knew that thing before.

[2016-05-26 18:26] drkbkr commented on #8
Maybe I'm running the app the wrong way? I'm just running `./gradlew jfxRun` and the launcher arguments don't seem to make it in.

[2016-05-26 18:27] FibreFoX commented on #20
Oh, about that "menu-entry" you talked about, take a look at the [WindowsBundlerParam-class](https://github.com/teamfx/openjfx-8u-dev-rt/blob/fd634925571310284b02d89ff512552e795ba5e8/modules/fxpackager/src/main/java/com/oracle/tools/packager/windows/WindowsBundlerParam.java#L81), the `bundleArguments`-name is "win.menuGroup", and please [set the needMenu-parameter](https://github.com/FibreFoX/java

[2016-05-26 18:33] FibreFoX commented on #8
@drkbkr yes, you are running it wrong, because the `jfxRun`-task executes the generated JAR-file, not the (potentially generated) native launcher. That launcherArguments/arguments-parameter is for the native launcher, not the javafx-jar-executable itself.

[2016-05-26 18:35] drkbkr commented on #8
Yes, just ran jfxNative and then the resulting executable and there they were. Thanks for the help (and patience)!

[2016-05-26 19:32] BrianRichJohn commented on #8
Hi FibreFoX

Love what is brewing here, Joind Gihub especially for this project. when I run the jfxJar Task. it does not seem to include the FXML in the Jar. I have looked in your example back and forth and I have to admit I'm a bit stumped here. Please can you assist if you dont mind

[2016-05-26 20:02] FibreFoX commented on #8
Hi to all,

this might get out of hand, as this was not really intended as some support-channel/-thread. I will lock this issue right here (appologies to all about that).

When you have new questions, and think this is a bug, please create a separate/new issue. When you require some assistence, don't hesitate to send me [some email to me](mailto:fibrefox@dynamicfiles.de). I will do my very best to

[2016-06-24 20:05] siavashkavousi opened #21 "Could not find or load main class"
I've just built your example with *gradle jfxRun* and I've got this error

Error: Could not find or load main class com.zenjava.test.javafx_and_proguard.MainApp

Before that, I've tried on my own project using your plugin and I've got the same error

[2016-06-24 20:50] FibreFoX commented on #21
Hi @siavashkavousi , I'm very sorry, but I can't reproduce this. Please make sure to have latest OracleJDK installed.

To make some progress here, please execute gradle with additional parameter and post the result here:
[code]

[2016-06-25 01:03] siavashkavousi commented on #21
Problem was JDK, I was using openJDK ...

why does it need to be oracleJDK?

Anyway thanks for your answer

[2016-06-25 07:33] FibreFoX commented on #21
You need the OracleJDK or OpenJDK+OpenJFX, only OpenJDK isn't sufficient.

[2016-06-25 07:33] #21 closed

[2016-06-26 10:19] Hospes opened #22 "Ability to create a 32-bit native Windows installer on 64-bit Windows OS"
Hi,
Firstly I want say that you did a very cool and powerful job. Thank you very much.

Regarding my question. The problem is that my build machine has Windows 10 (64-bit). And when I'm trying to prepare windows installer with jfxNative command it's prepares .exe installer and everything is fine. But when I try to install and run my app on 32-bit Windows - I see error:

Also I found next links:
ht

[2016-06-26 12:15] FibreFoX commented on #22
Hi @Hospes , thanks for using this gradle-plugin :smile:, but I feed sad to tell you, that you NEED to have a separate development-platform for each OS/architecture you are targeting. Like mentioned inside the JDK-bug, it is a problem about their distribution-pipeline.

Quoting [the official oracle documentation](https://docs.oracle.com/javase/8/docs/technotes/guides/deploy/self-contained-packagin

[2016-06-26 12:15] #22 closed

[2016-06-27 13:59] FabianSchmiedlechner opened #23 "Windows installer"
Hey, I just stumbled over your project when I saw your post in one of the issues of this project - https://bitbucket.org/shemnon/javafx-gradle
Unfortunately this project is no longer maintained. It had some bugs but it created a relatively fine windows-installer for me.
I just got the jfxNative task of your project running from outside the IDE but it does not create a windows-installer.exe. Can I

[2016-06-27 15:32] FibreFoX commented on #23
Hi @FabianSchmiedlechner, this gradle-plugin is a convenient-wrapper for the javapackger, so you can [visit the official documentation](https://docs.oracle.com/javase/8/docs/technotes/guides/deploy/self-contained-packaging.html#A1324980) to know about the requirements on each operating-system.

To be able to create some installer on windows, you have to install [WiX Toolset](http://wixtoolset.org/

[2016-06-28 10:13] FibreFoX commented on #23
Closing this, as there is no bug here.

[2016-06-28 10:13] #23 closed

[2016-06-29 08:34] FibreFoX commented on #12
Current version (8.5.1) makes it possible to ignore the skipping-workaround.

[2016-07-22 12:51] eskatos commented on #12
Please note that starting with Gradle 3.0, the daemon is enabled by default, not only for IDEs.
This may be a good reason to consider working around the jdk bug in this plugin somehow.

[2016-07-22 13:21] FibreFoX commented on #12
@eskatos thanks for the update to gradle 3

Unfortunately this is not possible, I tried it with different ways, but I would need to "kill" some filehandle held open by the JVM. If someone knows a way, I would be happy to implement that kind of workaround. I've already created some pull-requests on the teamfx-repository, to get more attention about this, but it seems not as important...

Current wo

[2016-07-22 15:07] eskatos commented on #12
@FibreFoX so one way to work around the issue would be to fork a process so that the leaked file handle does not disturb the Gradle daemon. I don't know the implementation details of this plugin, this may be a big chunk of work, or not.

[2016-07-23 10:05] FibreFoX commented on #12
@eskatos this plugin uses the internal API of the javapackager, so no process itself is started anyway, which means no "process-fork" will get me to a nice result. I'm not creating the XML-file used by the javapackager as some "converter", this plugin uses the same API which is used by the javapackager itself.

As this is workaroundable by using no bundled JRE inside your IDE, and having JRE bundl

[2016-07-23 18:09] eskatos commented on #12
The thing is, with Gradle 3 and the daemon enabled by default, users will have to explicitly disable the daemon to get things working, which is not so nice.

Not really.
It won't be possible to do it in pure java as the offending unclosed stream is a local variable that can't even be accessed through reflection.
If I had to investigate how to list open handles and get enough data to find the offen

[2016-07-23 18:35] FibreFoX commented on #12
@eskatos
I know that JDK-bug ;) I found the bug and created that issue-entry ... I also created some bugfix-pull-requests ([JDK 8](https://github.com/teamfx/openjfx-8u-dev-rt/pull/2) and [JDK 9](https://github.com/teamfx/openjfx-9-dev-rt/pull/1)) to the dedicated teamfx-repository ... but this is still something which needs to get kicked into the openjfx-repo... but that's another story.

When Gra

[2016-07-26 07:22] eskatos commented on #12
Yeah, I knew my suggestion to fork wouldn't please you :)
By the way, `gradle --stop` should work with its current limitation that is it will only stop Gradle daemons using the same Gradle version as the `gradle` command invoked. If it does not, then that's a bug.
To be continued.

[2016-07-26 09:11] FibreFoX commented on #12
@eskatos thanks a lot for more suggestions to workaround this bug ;) but I would feel better when the bug would get fixed inside the JDK itself. As this is only problematic on windows-systems (as on linux/macosx there are no locking-issues), this might be a minor issue, but it's a nasty one.

As most jenkins-systems run on linux, this "only" hurts local development on windows-systems, where gradle

[2016-07-26 14:52] FibreFoX commented on #12
# To sum up !

**What's the problem:**
Calling the `clean`-task does not work on Windows-systems, because the JDK contains some open/unclosed file-handle.

**All current options:**
- bundling without JRE
- bundling on linux/macosx
- killing gradle-daemon manually before building
- not calling `clean`-task

**Possible solutions (on windows only) :**
- running inside separated process (aka fork) (re

[2016-07-29 07:09] FibreFoX opened #24 "NullPointerException on linux without secondary launchers"
This got reported via email.

https://github.com/FibreFoX/javafx-gradle-plugin/blob/master/src/main/java/de/dynamicfiles/projects/gradle/plugins/javafx/tasks/JfxNativeTask.java#L361

If secondaryLaunchers is empty, this produces some NPE. This must be some silly mind-game, when I was inserting secondary launchers there :cry:

Workaround: configure some empty list inside your configuration

[2016-07-29 07:11] FibreFoX commented on #24
Note: this does not count for the @javafx-maven-plugin, because of the list already being in required form

[2016-07-29 07:49] #24 closed

[2016-08-02 19:28] swpalmer opened #25 "Support platform-specific image generation"
I'm migrating from Danno's javafx plugin and one of the features I miss is that .ico and .icns files for Windows and Mac would be generated from supplied images (e.g. PNGs)

[2016-08-03 06:46] FibreFoX commented on #25
@swpalmer Hi there, could you descibe that feature how it worked and where the files are gonna expected to be?
As this was some special addendum by Danno, and my plugin only providing existing out-of-the-box features, this issue is more a feature-request than a bug.

I personally would feel better to not generate any file, because they might look bad (fileconversion is mostly bundled with quality-

[2016-08-04 14:57] swpalmer commented on #25
You could set the icons like this

    javafx {
        icons {
            shortcut = [ 'logo32x32.png', 'logo64x64.png', logo128x128.png' ]
            volume = 'macVolumeIcon.png'
            setup = 'windowsARPIcon.png'
        }
    }

The icons would be converted to the correct format for the platform. I think scaled versions would be  generated for missing resolutions, but I'm not certain a

[2016-08-04 15:55] FibreFoX commented on #25
Hi @swpalmer , I'm going to take a look into this, but this will take some time.

[2016-08-04 20:14] swpalmer opened #26 "jfxJar task should have configurable input"
This: https://github.com/FibreFoX/javafx-gradle-plugin/blob/master/examples/javafx-proguard-gradle/build.gradle#L68

...is an ugly hack.

It is bad form to have the obfuscated jar file overwrite the unobfuscated jar file.

Why?  Because of Gradle's optimization of not running tasks when the inputs didn't change.  By replacing the original jar file with the obfuscated one the jar file is alway diff

[2016-08-04 20:21] FibreFoX commented on #26
Current implementation of this plugin does always run, so you won't have any benefit of that optimization. To reduce false-positives, and because the bundling-process might change in cause of modified customizable installer-scripts (like for innosetup), I have no good detection of any changes here.

Having the jfxJar-task being configurable seems a valid feature-request tho, but will be implemente

[2016-08-04 20:26] FibreFoX commented on #25
After checking the features from the plugin Danno made, I don't think this plugin is the right place for your request. This should be a small wrapper around the existing features, and not adding such ones.

As the files might change, as they are depending on the used toolsets of the underlaying javapackager, this will be implemented into separated plugin-helper (one plugin for one task, keeping it

[2016-08-04 20:34] swpalmer commented on #26
I agree that the default should be to pick up the jar task output.

It seems the default task inputs for the packager should be known... e.g. the jar and src/main/deploy/**

But even if the packaging part always runs, at least having jfxJar input configurable will prevent the need to have the jar task always run.

[2016-08-04 20:37] swpalmer opened #27 "Document allowed values for 'bundler'"
Right now I'm trying to figure out valid arguments for 'bundler'   The comment says 'windows.app' and 'jnlp'  but I don't know where those come from.  I'm looking at docs for javapackager '-native' argument and the fx:deploy ant task 'nativeBundles' attribute:
https://docs.oracle.com/javase/8/docs/technotes/tools/unix/javapackager.html#sthref229
https://docs.oracle.com/javase/8/docs/technotes/guid

[2016-08-04 20:52] FibreFoX commented on #27
There is no bundler called "imaged", these were bundler-categories, but they missed their real target. You have to specify your real bundler, if you really want to only run ONE bundler instead of all possible.

At the javafx-maven-plugin you could call `mvn jfx:list-bundlers`, to get all ids of the bundlers. That list is in change and depends on the installed JDK-version.
"all" is a special value

[2016-08-04 20:52] #27 closed

[2016-08-04 21:02] swpalmer commented on #27
So what is the equivalent of: javapackager -native image ?? Do I have to pick dynamically based on the platform?  I.e. windows.app is an image for Windows, linex.app is an image for Linux, etc..

[2016-08-04 21:10] FibreFoX commented on #27
You don't have to specify any bundler, running out-of-the-box executes all bundler being possible on your system, so you can choose what to keep. As all bundlers might have their specific own bundleArguments, there won't be any support for that group-like option.

[2016-08-04 21:23] swpalmer commented on #27
I don't want to waste the time creating things I won't use (e.g making the .msi is very slow).  I want to make the application image, tweak it with my own gradle tasks (e.g. add files), and then run my own tasks to make an installer or zip.
I have discovered that windows.app is what I want and I will dynamically pick the appropriate *.app bundler depending on the current platform.

[2016-08-04 21:25] swpalmer commented on #27
Any idea when you might have the file-associations and additional-application-files examples ready?  I think with those I may be able to skip a lot of my custom gradle tasks and use the .msi that the plugin produces.

[2016-08-05 06:05] FibreFoX commented on #27
You are right, when you only need one part of the bundlers, you need to pick the specific ".app"-packager for your buildsystem. This shouldn't be too hard to setup inside your buildscript, but please keep in mind, that these bundlers might have different options/bundleArguments, which control their behaviour.

Asking for any ETA on spare-time-projects, which I'm not getting paid for, is a bit of a

[2016-08-15 10:38] FibreFoX commented on #12
Just wanted to inform all visitors/watchers: I'm working on replacing the buggy method, first tries using ASM did not work out as expected, using [BCEL](http://commons.apache.org/proper/commons-bcel/) now, but might still take some time.  😺 This is being worked on!

[2016-08-17 11:08] Burtan opened #28 "Add obfuscation like proguard"
Hi,
what do you think about adding the possibility to obfuscate your code with apps like proguard?
Thanks for consideration!

[2016-08-17 11:10] FibreFoX commented on #28
You mean something like this?
https://github.com/FibreFoX/javafx-gradle-plugin/tree/master/examples/javafx-proguard-gradle

That example is target of changes, when having https://github.com/FibreFoX/javafx-gradle-plugin/issues/26 fixed/changed.

[2016-08-17 11:11] Burtan commented on #28
Thanks for the fast response, I'll look into it :+1:

[2016-08-17 11:17] FibreFoX commented on #28
No problem, just saw your request. Please close the issue, when you found the example working for you.

[2016-08-19 08:36] FibreFoX commented on #28
@Burtan please reopen, if you need support/help, or the example isn't working out for you ;)

[2016-08-19 08:36] #28 closed

[2016-08-19 13:14] embee1981 opened #29 "System.out/err and jfxRun"
Daft question but how do you get jfxRun to show output from System.out/err?

On running via this task, my app had an expected fatal crash and I get shown

[code]
I can't find build-log to see the stack trace from the exit and was wondering how I can get it to show all std out/err stuff to the gradle console?

[2016-08-19 13:30] FibreFoX commented on #29
Hi @embee1981 , first of all: thanks for using my gradle-plugin.

The jfxRun-task uses [the inheritIO-call of the ProcessBuilder](https://github.com/FibreFoX/javafx-gradle-plugin/blob/7a354e2a711b42d5c52ef9d44de03805f1217426/src/main/java/de/dynamicfiles/projects/gradle/plugins/javafx/tasks/JfxRunTask.java#L52), so you should see any output, which is done.

To make sure you really are having "no o

[2016-08-19 20:18] embee1981 commented on #29
Hiya, yeah I'm getting output when running via java -jar :-(

Java version is 1.8.0_92 and Gradle is 3.0  (forgot to give some version info in first post)

[2016-08-19 21:44] FibreFoX commented on #29
Hm .... that sounds strange ... but maybe because of gradle 3.0 ...
Do you have the time/chance to create some minimal reproducable project to share with me? With that I can debug that.

[2016-08-19 22:29] embee1981 commented on #29
Sure
[JavaFxPluginDemo.zip](https://github.com/FibreFoX/javafx-gradle-plugin/files/427987/JavaFxPluginDemo.zip)

Simple IDE agnostic project attached :-)
 The App class attempts a sys out, sys err and throws a runtime exception to exit.

I'm on Windows 10, 64 bit version as well in case that's a factor.

[2016-08-20 08:22] FibreFoX commented on #29
Thanks, will check it out now 👍

[2016-08-20 08:27] FibreFoX commented on #29
As gradle 3 now uses its daemons by default, this is the change that makes the output not being sent. I've added `org.gradle.daemon=false`  to my local gradle.properties-file ([like described in the docs](https://docs.gradle.org/current/userguide/gradle_daemon.html#sec:disabling_the_daemon)) and it dropped me the error you got.

As this (again) is some problem with that daemon, I will have to take

[2016-08-20 11:28] FibreFoX commented on #29
Hi @embee1981, thanks for reporting this, it is a problem with the daemon-handling. I have found a way for telling gradle to print stdout and stderr to the normal output, the output recieved by the gradle-daemon is covered/mangled and it needs special adjustment for getting all that to the user.

With gradle 3 the daemon is "used per-default", switching the personal setting (like mentioned in my a

[2016-08-20 11:51] FibreFoX commented on #29
Good news:
I have uploaded a possibly fixed version, could you check with `8.5.3-SNAPSHOT`-version?
[code]

[2016-08-20 20:39] embee1981 commented on #29
Heya, still no joy with the new snapshot. I can use the disable daemon workaround in the meantime though :-)

[2016-08-20 21:19] FibreFoX commented on #29
@embee1981 what do you mean with "joy"?

The project you provided now does print the stdout and strerr when calling `gradlew jfxRun`.

[code]

Running gradle now does this output for me:
[code]

What problems do you still have now, maybe I can help further to locate this bug?

[2016-08-20 21:21] FibreFoX commented on #29
I'm starting to realize, that there is no output .... hm ... only when having a problem?! Very strange ... will work on it...

[2016-08-20 22:12] FibreFoX commented on #29
@embee1981 can you recheck? I have uploaded a new SNAPSHOT-version :)

[2016-08-20 22:32] embee1981 commented on #29
Awesome :-) Its printing now to the console with daemon running, good job!

[2016-08-20 23:34] #29 closed

[2016-08-21 10:36] FibreFoX commented on #26
Hi there,

I have introduced a new property called `alternativePathToJarFile` and updated the proguard-example. This changes are not available as `-SNAPSHOT`-version nor on maven-central, because I'm going to implement some other things before releasing a new version.

[2016-08-21 10:55] #26 closed

[2016-08-21 11:01] Burtan commented on #12
I think,  you have opted-out bundling on Linux/Mac as well? I get the following message on both: Gradle is in daemon-mode, skipped executing bundler, because this would result in some error on clean-task. (JDK-8148717)

[2016-08-21 11:28] FibreFoX commented on #12
@Burtan you can disable that check, by setting `skipDaemonModeCheck = true`.

Yes, i disabled it by mistake on all platforms :( and with new gradle 3 behaviour of having that daemon by default, this will be more PITA than before. Currently I'm working on some other things, but I hope to provide a working fix soon™️

[2016-08-24 10:54] toolforger commented on #12
Gradle's daemon mode is pretty much mandatory, Gradle's startup can take quite a while and daemon mode fixes that.
I.e. "killing gradle-daemon manually before building" is not a realistic option unless you can make sure that the jfx build is outside of any fast edit-compile-debug cycle.

Assuming that CI environments do not use daemon mode is, at best, a heuristic.

I have another stop-gap proposa

[2016-08-24 11:29] FibreFoX commented on #12
@toolforger I can't just "restore" the `clean`-functionality, because this is a different gradle-task which I'm not involved into. The proposed "solutions" are no real solutions, they are WORKAROUNDS. The real fix would have to be done by Oracle, not me.

This is no normal memory-leak, it is a file-handle lock! Welcome to the world of file-locking on windows-systems. The tooling provided by the JD

[2016-08-24 14:39] toolforger commented on #12
Well, somebody is suppressing the ``clean`` task and emitting a warning, I've been assuming that it's the javafx Gradle plugin.

Is this really a file locking scenario?
Not with that Files.list() call I'd assume: Windows' locking policy, while overly strict, is consistent; so if Files.list() places a lock, then one that prevents just writing, so future Files.list() and open-existing-file-for-readi

[2016-08-24 15:33] toolforger opened #30 "jfxRun fails but no errors in build log"
This is what I get when running the jfxRun target:

[code]

Um... no error in build log.
Rerunning with `--stacktrace --debug` gives the output below, I don't see anything helpful there either:

[code]

Probably something is wrong in the `build.gradle` and the diagnostics for that error is swallowed somewhere. Here's the `build.gradle`:
[code]

[2016-08-24 15:39] FibreFoX commented on #12
@toolforger the `clean`-task is broken after the first jfxNative-build, because (as mentioned [inside the reported and accepted bug](https://bugs.openjdk.java.net/browse/JDK-8148717) and inside this "issue-thread") windows is holding some file-handle, which only will released on JVM-termination. This is even described inside [Java-Docs](http://docs.oracle.com/javase/8/docs/api/java/nio/file/Direct

[2016-08-24 16:04] FibreFoX commented on #30
I assume you are using gradle-daemon. This was already reported: https://github.com/FibreFoX/javafx-gradle-plugin/issues/29

As stated on the readme-file: this fix is done, but not yet released.

[2016-08-24 16:27] toolforger commented on #30
I wasn't aware of the fix because I didn't search in the list of closed issues (they tend to give too many false positives so after a while you start to ignore them).
Maybe fixed issues shouldn't be closed until the fix is released, and just get a "Done" or "ReadyToRelease" label so people know they don't need to give feedback.

[2016-08-24 16:31] toolforger commented on #30
BTW using the SNAPSHOT release does not solve the issue for me.
I was using

[code]

and got

[code]

so the snapshot script got indeed included and executed, but still no output.
So you want to see a --debug --stacktrace log?

[2016-08-24 16:34] FibreFoX commented on #30
No, I need to have the project to see for my self, debugging projects remotely does not work well here.

[2016-08-24 16:36] FibreFoX commented on #30
What OS are you using? What version of JDK are you using?

[2016-08-24 16:57] toolforger commented on #30
Linux, OpenJDK 8

[2016-08-24 16:57] toolforger commented on #30
I can send a full project, it's just a little toy thing.

[2016-08-24 17:10] FibreFoX commented on #30
Any project where I can reproduce that behaviour is very welcome. I suspect this is debian or ubuntu you are using, with OpenJFX installed too?

[2016-08-24 17:56] toolforger commented on #30
Ubuntu, with openjfx, running stuff from Eclipse with Buildship (the Gradle plugin ~~du jour~~ d'an for Eclipse).
The project started life as an e(fx)clipse project (the Eclipse plugin for JavaFX).
I'm not sure whether there might be interference between e(fx)clipse and the Gradle side of things. It might be a good idea to try and rebuild the project from scratch without e(fx)clipse, they maybe it

[2016-08-24 18:01] FibreFoX commented on #30
@toolforger so anything you might want to share with me ? ;) it might be the case that eclipse is doing some voodoo-magic here.

Please reopen this issue when you have some project for me to reproduce/debug that issue.

[2016-08-24 21:00] toolforger commented on #30
You're jumping to conclusions here.
Just wait until I have the project prepared.

[2016-08-25 17:09] FibreFoX commented on #30
I will leave this open for your issue-reproducable project.

[2016-08-26 13:21] toolforger commented on #30
CSSE attached:
[fx-error-demo.zip](https://github.com/FibreFoX/javafx-gradle-plugin/files/439346/fx-error-demo.zip)

Contains Gradle Wrapper configured for Gradle 2.14, that's the behaviour you get in Eclipse unless you know how to upgrade (which the transcript will demonstrate to gather 3.0 behaviour).
Uses `javafx-gradle-plugin-8.5.3-SNAPSHOT`; at the time of writing, that was `javafx-gradle-plu

[2016-08-26 16:06] FibreFoX commented on #30
@toolforger thanks for that project, but at least on Windows with OracleJDK I can't reproduce this. I have removed some default-configuration, maybe you wan't use this shorter version as your build-script:
[code]

I can confirm, that `https://oss.sonatype.org/content/repositories/snapshots/de/dynamicfiles/projects/gradle/plugins/javafx-gradle-plugin/8.5.3-SNAPSHOT/javafx-gradle-plugin-8.5.3-201608

[2016-08-26 17:58] FibreFoX commented on #30
Hi @toolforger, this is very weird!

I can produce this on latest Ubuntu 16.04 using OpenJDK+OpenJFX (openjdk-8-jdk-headless + openjfx) AND I can reproduce this on latest Ubuntu 16.04 using OracleJDK. Will return back when I found something new. .... very strange.

[2016-08-26 17:58] toolforger commented on #30
Am 26.08.2016 um 18:06 schrieb Danny Althoff:

Yep, that's mostly copypasta from the README.
I've been leaving those settings in for future doc reading /
experimentation / analysis, so it's an artifact of the project's other
purposes.

Good to know, thanks.

Coordinates for that:

Ubuntu 16.04 xenial xerus
Packages:
- openjdk-8-jdk
- openjfx
Installed Java-related packages that shouldn't change a

[2016-08-26 18:00] FibreFoX commented on #30
Hehe, funny thing, we both worked on this the same time ;)

I suspected the wrapper, but even with installed version on ubuntu this bug exists ... very weird ... seems like some not-equal behaviour of gradle cross plattforms?! Will do further research :(

[2016-08-26 18:14] toolforger commented on #30
My knee-jerk assumption was that the plugin properly redirects stdout/stderr for build tools but not for the application.
However, that does not mix with the finding that everything is okay on Windows.

I'm always working through the wrapper to be 150% sure about build stability.
In fact I never installed the gradle package on my machine over here...

Cross-platform issues with Gradle itself would

[2016-08-26 19:35] FibreFoX commented on #30
Nope, no javafx-magic here, but I might have found something here:
I've pushed only ProcessBuilder-stdout/stderr to gradle-logging when having daemon-mode. There seems to be a difference somewhere, because when calling `jfxNative` when having `skipDaemonModeCheck = true` the toolsets used by oracle seems to work.

Will do further investigations oO" very strange, but interesting

[2016-08-26 19:55] FibreFoX commented on #30
.... damn it :D I don't like the Gradle-Daemon (even when it provides some speedboost for you), but I really think I've found it.

@toolforger Can you check with current SNAPSHOT-version? It should be `javafx-gradle-plugin-8.5.3-20160826.194410-3.jar`, when you can confirm that you (finally) get your output, we both can have 🍰  today.

[2016-08-26 20:28] FibreFoX commented on #30
It seems the fix for #29 was half-baked and only worked for windows, calling `inheritIO()` on the used ProcessBuilder seems to be the problem when gradle runs in daemon-mode on linux. I've now made `inheritIO()` only being called on non-gradle-mode. Hopefully this really is the difference :(

[2016-08-26 20:30] toolforger commented on #30
Confirming that it works for 2.14 now.
It still fails for 3.0, unfortunately.
(We know the cake is a lie...)

[2016-08-26 20:36] FibreFoX commented on #30
Yet another SNAPSHOT-version, now working for me using gradle-wrapper and `gradleVersion = '3.0'`, I needed to clean `/root/.gradle/caches/modules-2` (don't know how to force re-download of SNAPSHOT-versions).

[2016-08-26 21:01] toolforger commented on #30
You can force gradle into updating snapshots via the `--refresh-dependencies` option.

[2016-08-26 21:03] toolforger commented on #30
Confirming that it now works for 2.14 and 3.0.

[2016-08-29 14:36] FibreFoX commented on #12
**To all watchers:** I might have finally beaten this DAEMON to the ground, and now can eat 🍰

Can you please retry using latest `8.5.3-SNAPSHOT`? It should result in downloading `javafx-gradle-plugin-8.5.3-20160829.142917-5.jar` from sonatype.

Please make sure to have this inside your buildscript for using latest SNAPSHOT-versions:
[code]

This version includes the adjustments required to fix #3

[2016-08-29 14:52] FibreFoX commented on #12
@purringpigeon can you recheck this?

[2016-08-30 12:39] FibreFoX commented on #30
The fixes provided for this will be released soon.

[2016-08-30 12:39] FibreFoX commented on #12
The fixes provided for this will be released soon.

[2016-08-31 17:26] FibreFoX commented on #12
I'm very happy to finally close this bug! Thanks for all people who supported me on this one !

[2016-08-31 17:26] #12 closed

[2016-08-31 17:27] FibreFoX commented on #30
Fixed version released a few seconds ago, might take a while for maven-central providing this.

[2016-08-31 17:27] #30 closed

[2016-09-01 23:16] swpalmer opened #31 "The dependOn list for the jfxJar task appears to be reset after it is configured"
I wanted to make sure that if obfuscation was enabled that it ran prior to the jfxJar task and set the alternativePathToJarFile appropriately.

However it doesn't work.

I have:

	if (file('src/main/proguard/configuration.pro').exists()) {
		println "ProGuard configuration file found.  Adding Obfuscate task."
		task obfuscate(type: proguard.gradle.ProGuardTask, dependsOn: jar) {
			mustRunAfter ('

[2016-09-02 06:36] toolforger opened #32 "How do I specify a license for deb packaging?"
I am seeing this:

[code]

License is specified by placing a `copyright` file in the same directory as the  `control`, `preinstall`, `postinstall`, `prerm`, `postrm`, menu icon, and menu shortcut descriptor files, but none of the directories I tried would get copied through by `jfxNative` and the Oracle tools to where `dpkg-deb` would pick it up.

[2016-09-02 06:49] FibreFoX commented on #32
Hi there,

you need to provide some `bundleArguments`-entry with the name `licenseFile`, this file needs to be placed inside a different folder via `additionalAppResources`-property. I will provide some example for this, as it is a bit unintuitive. It won't be in the next minutes, more in the next 8 hours (I'll do it after work).

[2016-09-02 06:50] FibreFoX commented on #31
Hi @swpalmer, can you provide some small project where I can reproduce this?

[2016-09-02 12:01] FibreFoX commented on #32
@toolforger
[The bundler responsible for deb-files](https://github.com/teamfx/openjfx-8u-dev-rt/blob/e4e24b9ad7eb7536ffb2618a502d1cfe8bfbd8a3/modules/fxpackager/src/main/java/com/oracle/tools/packager/linux/LinuxDebBundler.java#L171) searches inside the provided application resources for a file which is registered inside some provided `bundleArguments`-entry called "LICENSE_FILE", which needs to b

[2016-09-02 14:53] FibreFoX commented on #31
Hi @swpalmer, I think I broke this for implementing my daemon-mode workaround by changing the way the tasks are registered, I can reproduce this wrong behaviour with my own dummy-project.

[2016-09-02 14:58] FibreFoX commented on #31
For documentation purpose: this is the block, which broke it: https://github.com/FibreFoX/javafx-gradle-plugin/blob/d693922918d1f653b226319f7b405c6eb854ed0c/src/main/java/de/dynamicfiles/projects/gradle/plugins/javafx/JavaFXGradlePlugin.java#L62

I needed to introduce this way, for having the configured settings regarding NOT to patch the `ant-jfx.jar` ... the changes for having `alternativePathTo

[2016-09-02 15:07] FibreFoX commented on #31
**Quickfix:** move your stuff after project-evaluation

[code]

[2016-09-02 15:34] FibreFoX commented on #31
@swpalmer Can you check if `8.6.1-SNAPSHOT` works for you?

[2016-09-02 15:40] FibreFoX opened #33 "Missing functional tests"
As new features have the risk of not being tested well (especially across different OS), and no "maven-invoker-plugin" available for gradle, the need for automated tests (at least for the example-projects) is required.

[2016-09-03 14:59] FibreFoX commented on #31
I have updated the snapshot, can you please check, if everything now works as expected?

[2016-09-04 01:23] eskatos commented on #12
Awesome! 👍

[2016-09-04 14:10] FibreFoX commented on #33
For documentation purpose:
* https://docs.gradle.org/2.10/userguide/test_kit.html (yes, old version! I want to make sure the plugin works in older versions too!)

Idea: all example-projects will be used as test-projects

[2016-09-04 20:28] FibreFoX commented on #33
Done with commit https://github.com/FibreFoX/javafx-gradle-plugin/commit/46b1171341a7b7daa50da7face8b481336a0f834

[2016-09-04 20:28] #33 closed

[2016-09-05 10:17] FibreFoX commented on #32
@toolforger please see [the example project](https://github.com/FibreFoX/javafx-gradle-plugin/tree/d950bed4bc6bd1edc24315c4866a6af8b7cd0939/examples/debian-installer-with-license)

Does this work for you?

[2016-09-05 11:33] toolforger commented on #32
I've been pretty busy last week, and will be pretty busy this week.
I should be able to find time for this until next weekend though.

[2016-09-05 11:48] FibreFoX commented on #32
@toolforger Thanks for the feedback, good luck at work :) I will do more testing on that feature in different scenarios on my virtual machines, maybe I will find something to fix.

Issue will stay open until you found some time, no pressure from me!

[2016-09-06 00:48] swpalmer commented on #31
8.6.1-SNAPSHOT doesn't appear to be available using mavenCentral()

[2016-09-06 06:48] FibreFoX commented on #31
@swpalmer please take a look at the README.md-file for getting SNAPSHOT-versions by providing Sonatype as snapshot-maven-repository

[2016-09-06 15:01] Zerlono opened #34 "Add option to configure environment variables"
It would be very nice, if this great plugin has an option to set environment variables.

In my case I have to start my java app with `LD_LIBRARY_PATH=lib java -jar myapp.jar.` because my program is using native libraries and the only way to configure the directory which contains those libs is by setting a system specific environment variable.

When the app is bundled as native package it is no lon

[2016-09-06 15:12] FibreFoX commented on #34
For this I've added parameter-support on javafx-gradle-plugin 8.6.0, just define your parameters inside the new `runJavaParameter`-property:

[code]

Does this work for you?

[2016-09-06 15:27] Zerlono commented on #34
Nope this doesn't work because the java-parameter "-Djava.library.path=lib" has only effect within the JVM. This is ok when you have a simple library with no other dependencies. But my library A has another dependency B. Those secondary dependencies will be handled by the native load library function (dlopen on mac and linux). This native function does not know about settings within the JVM. Thus

[2016-09-06 15:43] FibreFoX commented on #34
So you are not talking about the `jfxRun`-task, but the generated native Launcher, correct?
As this is a bit special, can you provide some stripped down example project?

[2016-09-06 16:23] FibreFoX commented on #34
If you mean something like manipulating the system environment, you might end up using something like this: http://stackoverflow.com/a/38073822/1961102

For me your setup isn't that clear, would be very good to have some reproducable project, where all components are open-sourced. I won't use precompiled stuff, especially not when having some binaries for own protection purpose.

Manipulating envi

[2016-09-06 16:31] FibreFoX commented on #34
you can adjust the native launcher containing that `-Djava.library.path=lib` too, just set your configuration like this:

**using jvmArgs**
[code]

**using jvmProperties**
[code]
These will be added to the internal call of the native launcher (you will find these inside the generated `.cfg`-file.

[2016-09-06 17:58] Zerlono commented on #34
Ok I have made a test project.
[](https://www.dropbox.com/s/9kq4jzzw5wj9obc/Testwiese.zip?dl=0)
I have include the library z3 as a test library, where z3java references z3 and z3 references nothing.
Z3 is under MIT license and could be downloaded here (https://github.com/Z3Prover/z3/releases).

If you run the jar or the binary without any path-specification the error should happen in the first lin

[2016-09-06 18:24] Zerlono commented on #34
http://stackoverflow.com/a/38073822/1961102
I found this hack before but it is not working. It is absolutely impossible to change environment variables like LD_LIBRARY_PATH after the programm has started (ldopen uses the old value). This is because those variables are cached. Even in pure c/c++ it is not possible (i tried it by calling the native setenv functions).

I cant (and don't want to) modi

[2016-09-06 18:27] FibreFoX commented on #34
Sorry to be a bit pushy ... but I dont see any project I can download :) I need your example project involving the javafx-gradle-plugin and your native lib.

[2016-09-06 18:42] Zerlono commented on #34
Hmm where is that link gone https://www.dropbox.com/s/9kq4jzzw5wj9obc/Example.zip?dl=0

[2016-09-06 19:16] FibreFoX commented on #34
@Zerlono thanks a lot, maybe I can find something useful 😄

[2016-09-07 09:20] tobium commented on #25
any news here?

[2016-09-07 09:42] FibreFoX commented on #25
@tobium that requested feature won't be part of the javafx-gradle-plugin, but instead another gradle-plugin. This issue is open to inform others about it, but as this is a spare-time project, and other things have a higher priority, I'm not having the time I want to tinker that additional plugin.

But I think I should be able to finish the addition this month 😅

[2016-09-07 11:38] slajar opened #35 "How to add a splash screen to the bundled launcher?"
What I mean is a splash that is loaded before jre is started. After that I am on my own ;)

[2016-09-07 11:51] FibreFoX commented on #35
You mean something like this?
https://docs.oracle.com/javafx/2/deployment/preloaders.htm
https://docs.oracle.com/javase/8/javafx/api/javafx/application/Preloader.html
https://blog.codecentric.de/en/2015/09/javafx-how-to-easily-implement-application-preloader-2/

[2016-09-07 11:55] slajar commented on #35
No excaty. A preloader is code that is running. A splashscreen is just a simple image that is fired up before the actual application launches. I have used a combination of very early Splash and replacing it by an interactive splash as far as possible in the past.

Generally launchers provide a feature for this (see Launch4J or WinRun4J)

Java itself does provide a feature for this on the command l

[2016-09-07 12:00] FibreFoX commented on #35
Preloaders are often "misused" as smart splash screens ;) as they can have some loading status (which an image just can't).

`runJavaParameter` is only ment for the `jfxRun`-task, so your bundled executable needs a different setting for this (haven't tried it yet):
[code]

[2016-09-07 12:21] slajar commented on #35
Okay, I see. I tried:
[code]

and I got the error:

A problem occurred evaluating root project 'AppInstaller'.

[2016-09-07 12:47] FibreFoX commented on #35
@slajar woops :D the property was `additionalAppResources`, sorry

[2016-09-07 12:57] slajar commented on #35
Thanks that works like a charme!

[2016-09-07 13:43] slajar commented on #35
Damn, it doesn't work on windows, while it is working on MacOSX.

The splash is placed correctly in the app folder and in the cfg file I find -splash:splash_start.png in the jvmArgs but the executable doesn't seem to use it.

Any idea?

[2016-09-07 13:46] FibreFoX commented on #34
Hi @Zerlono

I have played a bit with the project you provided. On windows it works for me when using:
[code]
Could you try to print out the stacktrace when loading the library? I needed to modify the class-file a bit by adding "lib" as part of the libraryname (because thats what the filename is) and required to use different DLL-files.

[code]
Please note that the `jfxRun`-task does NOT work, bec

[2016-09-07 13:49] FibreFoX commented on #35
Thats strange, the documentation is stating to have that option:
http://docs.oracle.com/javase/8/docs/technotes/tools/windows/java.html

    Shows the splash screen with the image specified by imgname. For example, to show the splash.gif file from the images directory when starting your application, use the following option:
    -splash:images/splash.gif

As I'm developing on windows, could you pr

[2016-09-07 13:51] swpalmer commented on #31
The dependsOn information is now correct with the snapshot.  The alternativePathToJarFile does not work though.

[2016-09-07 13:54] swpalmer opened #36 "make it possible to provide absolute paths"
This makes it awkward because "$buildDir" and other properties expand to the absolute path.

e.g.

    jfx.alternativePathToJarFile = "$buildDir/proguard/${jar.archiveName}".toString()

does not work, but

    jfx.alternativePathToJarFile = "build/proguard/${jar.archiveName}".toString()

does.

[2016-09-07 13:57] FibreFoX commented on #31
As this is working now, issue will be closed. The problem with "alternativePathToJarFile" is already in a different issue.

[2016-09-07 13:57] #31 closed

[2016-09-07 13:58] FibreFoX commented on #36
You are right, this setting is "project-folder relative", so this less a but for me ;) nevertheless I will take a look into this.

[2016-09-07 14:00] Zerlono commented on #34
Windows uses a different native library to do the dependency loading stuff. It differs to the dlopen function from linux in the way how already loaded libs are handled. Windows recognizes if z3 was already loaded before and when it comes to z3java, z3 will not be loaded again. Thus the secondary dependency problem does not exists any more as long as you load your libs in the right order.
Linux in

[2016-09-07 14:06] FibreFoX commented on #34
So you are saying, if I'm calling `System.loadLibrary("libz3java");` this should load the `libz3` itself? (haven't looked into it yet)

[2016-09-07 14:09] Zerlono commented on #34
Yeah the System.loadLibrary uses the native function System.mapLibraryName to get the right file name.
On windows use libz3 to load libz3.dll or rename the file to z3.dll

[2016-09-07 14:11] FibreFoX commented on #34
:) that I'm aware of, I was more asking:  do I require to load libz3 before libz3java? Or is libz3java loading the libz3 itself?

[2016-09-07 14:16] Zerlono commented on #34
z3java should load z3 automatically.

[2016-09-07 14:20] FibreFoX commented on #34
Thanks for the input, I now do see the problem ... just asking: why aren't you loading that libz3 before loading libz3java your self? Seems like a very easy workaround ... do you see that the same way?
Manipulating "environment variables" seems pretty hard, on linux-systems it might be possible to exchange the native launcher by some "wrapper"-script/-file ... but on windows it might be a better s

[2016-09-07 14:21] FibreFoX commented on #34
Some note: very interesting workaround about that "lib"-prefix:
https://github.com/Z3Prover/z3/commit/d8d0b21e4212e24c2acbea64d43bc1f018efbebe

[2016-09-07 14:23] Zerlono commented on #34
The preloading workaround works on windows only (see comment above)

[2016-09-07 14:25] FibreFoX commented on #34
On Mac having such wrapper might not work properly:
https://github.com/oracle/node-oracledb/issues/231

This even was a problem on the z3 project itself: https://github.com/Z3Prover/z3/issues/294

The outcome of the OpenJDK:

I will do further investigations, but I'm very sorry that when I don't find anything else, there is no real option to provided this, as the `java.library.path` was ment to wo

[2016-09-07 14:30] Zerlono commented on #34
Poorly DYLD_LIBRARY_PATH and LD_LIBRARY_PATH are the **only** option to load libs which have further dependencies. I must use these environment variables

[2016-09-07 14:36] FibreFoX commented on #34
Just a stupid question: how is this solved in other languages?! I assume you are working in C/C++ too, so how is it solved in these languages without having LD_LIBRARY_PATH set?

[2016-09-07 14:42] swpalmer opened #37 "Doesn't appear to be a way to specify different backgrounds for a Mac Disk Image and a Mac Installer Package"
When running all of the bundlers on Mac there doesn't appear to be a way to specify different backgrounds for a Mac Disk Image and a Mac Installer Package, but they are very different contexts requiring different images.

Output from the build shows the same 'background' file is used for both bundlers.

Building with 'dmg':

    Using custom package resource [dmg background]  (loaded from package/

[2016-09-07 14:43] FibreFoX commented on #36
As this counts for other paths too, this is a more "global" problem of the current design. I will tinker a bit to provide a nice solution when publishing `8.6.1` including your `dependsOn`-fix

[2016-09-07 14:48] FibreFoX commented on #37
You are right, currently there is no way for this. Just being curious: was this possible on the plugin from Danno?

[2016-09-07 15:06] Zerlono commented on #34
They restart their application with all needed environment variables set. This is not a solution for me because this would double the startup time.

[2016-09-07 15:13] swpalmer commented on #37
I never got to the point where I was ready to customize those images with Danno's plugin, so I don't know.

[2016-09-07 15:13] FibreFoX commented on #37
I have looked into the sources of the OpenJDK, it seems that both bundlers (`MacDmgBundler` and `MacPkgBundler`) are using the same idea to get the filename. There might be a different way for a working solution!

Sources contain these filenames:
[code]
[code]

As there is a option to provide a "DROP-IN replacement", you might be able to place your image-files into a separated folder for example c

[2016-09-07 15:20] FibreFoX commented on #37
Opening an issue on the openjdk-project might getting closed due to dropinResourcesRoot being available for this ...

[2016-09-07 15:34] swpalmer commented on #37
I tried adding two different images with the default names of "background_dmg.png" and "background_pkg.png"  into the 'src/main/deploy/dropinResourcesRoot' folder and adding the bundleArgument as above.  But they are not used and a default image is created.  The build produces this message:

    Using default package resource [pkg background image]  (add package/macosx/Example Application-backgrou

[2016-09-07 15:42] FibreFoX commented on #37
Indeed, I missed that "package/macosx/"-folder-structure ... my bad. As this drop-in-resource thing is used on other systems too, I will try to make it work on windows somehow and will report back. (It would be very nice to have it working without any modifications on the plugin)

[2016-09-07 16:08] FibreFoX commented on #37
I've just looked into the code inside the JDK:
[code]
If I'm right, this makes it impossible to override these files by providing the default-filename, as `defaultName` is only used when the file having "appName" as filename is not found on the drop-in folder nor the classloader itself, and the resource is not searched inside the drop-in folder by its default-name (which might be a working solutio

[2016-09-07 18:05] FibreFoX opened #38 "Make it possible to have additional resources for bundlers"
Currently implemented way for having additional files only is available for the generated "application", but not for the bundler itself(or to be more precise: the used tools by the bundler).

This got requested via e-mail to me for having additional innosetup-files (`.iss`-files) like encryption and other stuff inside their own files.

Specifying the license-file is not always wanted to be part of

[2016-09-07 18:11] FibreFoX commented on #38
Additional files like license-files currently are required to be part of the application, like asked on the issue #32

[2016-09-07 19:36] swpalmer commented on #37
https://bugs.openjdk.java.net/browse/JDK-8165630

[2016-09-07 19:46] #36 closed

[2016-09-07 19:47] FibreFoX commented on #37
Snap ... you were faster ;) thanks ! 🍰

[2016-09-07 19:50] FibreFoX commented on #36
This is available as `8.7.0-SNAPSHOT`, will be published when having implemented something to fix #38

[2016-09-07 20:05] FibreFoX commented on #32
Currently it is required to have the license-file being part of the `additionalAppResources`, this might change after having #38 being fixed.

[2016-09-07 20:21] FibreFoX commented on #34
Searching through the web does not show any good news for LD_LIBRARY_PATH, especially because it is not cross-system compatible and harmful:

http://linuxmafia.com/faq/Admin/ld-lib-path.html

http://xahlee.info/UnixResource_dir/_/ldpath.html

http://stackoverflow.com/a/695539/1961102

https://web.archive.org/web/20050204070034/http://www.visi.com/~barr/ldpath.html

http://tldp.org/HOWTO/Program-Li

[2016-09-07 20:21] #34 closed

[2016-09-08 09:31] slajar commented on #35
Thanks, I could provide you with a small project afterwards.

Anyway, first theoretically.
When I start up java.exe -splash:splash_start.png ... java shows up the Splash correctly.

The cfg file has this
[code]

It seems to to be ignored on Windows. Can I test it some how that is is used?

[2016-09-08 09:53] FibreFoX commented on #35
Just to make sure: did you check this on mac- and linux-systems with success? Some example-project would be good, because I don't have the time to create all the projects when an issue arrives ;)

[2016-09-08 10:19] slajar commented on #35
Ohh, I think I just found the reason why it does not work. The launcher doesn't use java.exe and loads jvm.dll by JNI. The splash feature is unfortunately implemented in the java.exe ... I am lost here, until the created launcher supports a splash-screen feature.

[2016-09-08 10:21] FibreFoX commented on #35
Thats right, but no JNI ;) it directly loads the JVM.

I've found an open issue on the openJDK-project related to this: https://bugs.openjdk.java.net/browse/JDK-8087431

[2016-09-08 10:24] FibreFoX commented on #35
@slajar maybe you really should switch to not using real spash-screen, but more short living stages, like I did inside my CDI-example: https://gist.github.com/FibreFoX/294012b16fa10519674b

[2016-09-08 10:28] FibreFoX commented on #35
@slajar are you okay with this issue getting closed as the JDK (especially the native launchers) are not capable of "real" splash screens?

[2016-09-08 10:29] FibreFoX commented on #35
Another good gist: https://gist.github.com/jewelsea/2305098

[2016-09-08 10:31] slajar commented on #35
The main problem of using a later Splash is that starting the JRE from a CDROM drive takes more than 2 minutes. That's why I need a very early splash... I'll probably do it on my own.
Thanks anyway.

[2016-09-08 10:31] #35 closed

[2016-09-08 10:49] FibreFoX commented on #35
So you are generating no real installer, to make it possible to start your application like a live-system?

What about a self-made wrapper for your CD? Very long time ago (where I used CD-ROMs :D) this was worked around by some fancy looking start-menu. Maybe you can create some "copy to temp-folder, then start the app"-application which gets called (would increase speed).

[2016-09-08 10:59] Zerlono commented on #34
Only work on Windows.

Environment variables are a common tool to configure programs. There are maybe a lot of other use cases, where it would be great to make this gradle-plugin do the thing.

Thanks for you time and your investigations!

[2016-09-08 11:02] FibreFoX commented on #34
@Zerlono sorry to not providing you such feature, as it is nothing even possible with normal tools provided by the JDK itself using `javapackager`. This is very hacky and is different on every system, and I can't find a good and working way to provide this. You are required to implement your own wrapper-scripts for this.

[2016-09-08 11:09] Zerlono commented on #34
Yeah I see. Maybe the javapackager project is the one that should implement such a feature first.

[2016-09-08 12:44] FibreFoX commented on #38
This feature mostly is for windows-bundlers, because others do not use the generated build root, but this might be term of changes from the JDK.

[2016-09-08 12:44] #38 closed

[2016-09-08 17:46] FibreFoX opened #39 "files specified with additionalAppResources not available for jfxJar or jfxRun"
Having some files being part of `additionalAppResources` which are required to be aside of the generated jar-file is currently not available for the `jfxJar`-task (some developers don't use `jfxNative`) nor the `jfxRun`-task.

[2016-09-08 20:08] #39 closed

[2016-09-09 11:08] FibreFoX commented on #36
This will now be available in `8.7.0` (when it hits maven-central), please activate this by adjusting your configuration:
[code]

[2016-09-09 18:59] swpalmer commented on #36
Why the need for checkForAbsolutePaths ?  Is there really a case where absolute paths were correctly being interpreted in a relative way?   I can't imagine there are many cases where leading slashes are provided in the path by accident, and it would be always wrong if there was a Windows drive letter stuck in the middle :-)

[2016-09-09 19:24] FibreFoX commented on #36
This is just for maintaining the same behavior, I'm planing to change this in some of the next releases ;)

[2016-09-13 08:27] toolforger opened #40 "Plugin version number in examples uses a potentially conflicting name"
The examples use a substitution variable for the plugin version number, which is established best practice for multi-project configurations.
However, the name `gradle.currentPluginVersion` may collide with usage for other plugins; such collisions should be avoided by renaming the variable to something derived from the plugin name, e.g. `javafx.gradle.plugin.version`.

Note: I'm leaving out the `cu

[2016-09-13 08:59] FibreFoX commented on #40
As all example-projects are using a file from outside the example-structure, you have to adjust your configuration anyways.

I can't see any bug here, why do you think this is a bug?

[2016-09-13 09:11] toolforger commented on #40
Examples are there to show "how it's done".
So people may think that `gradle.currentPluginVersion` is a good variable name for their projects, which it isn't - in that context, "current" would actually be wrong.

I.e. I'm proposing to write examples from the perspective of "how should this look like in the application coders' projects", instead of "how do we factor out commonalities of all these e

[2016-09-13 09:23] FibreFoX commented on #40
The main idea of the example-projects is to show the configuration-part (`jfx`) and the file-structure, not the buildscript-part. I never said that my variable-naming is good, **but I will think about a nicer name**. It was a fight to get this thing into the `buildscript`-block ;) so I was happy to have it there

Taking the example-projects does not take the responsability from the developer to th

[2016-09-13 09:25] FibreFoX commented on #40
Does `latestJavafxGradlePluginVersion` sound good enough? ;)

[2016-09-13 09:32] toolforger commented on #32
Yep, those resources are used by the desktop, not by application code, so they don't belong in `src/main/resources` in the first place.
There might be use cases for reusing some of that data, e.g. the icon, though that's probably less useful than one might expect because of required conversions (.bmp for Java, .ico/.png/.svg/.whatever for for Windows/Linux/Mac desktop).

[2016-09-13 09:42] FibreFoX commented on #32
With "by the desktop", do you mean the installer? All files inside `additionalAppResources` are put into the generated application bundle, this is useful when having external-generated README-files or licenses, which (as you pointed out) do NOT belong in `src/main/resources` ;)

Is your question answered then?

[2016-09-13 09:45] toolforger opened #41 "(Improvement) Add a warning that .deb packaging can be slow"
I'm seeing extremely slow `dpkg-deb` builds here. Thought something was broken.
Turns out this is because `dpkg-deb` does frequent disk syncs, trading speed for safety; ironically, this tends to get worse with newer file systems (ext4 and btrfs are particularly notable for this behaviour).
Here's a data point: On my SSD-equipped, plenty-of-RAM developer machine, building both .deb and .rpm reports

[2016-09-13 09:55] toolforger commented on #40
I'd leave "latest" out: If people follow the structure with a version variable, they will usually want to stay with a specific version of the plugin so they can be confident about build stability.
I'd suggest `javafxGradlePluginVersion` sounds fine to me.
The alternative I considered was `javafxGradlePlugin.version`, but I think that's giving the wrong signal: the namespace for this kind of variab

[2016-09-13 10:14] toolforger commented on #32
I misthought - it's indeed installer. Got confused because my train of thought started with those resources that the installer copies over to the desktop configuration.

[2016-09-13 10:17] FibreFoX commented on #41
This is indeed something to mention ;) but I would prefer the official documentation of oracle doing this, as this ist just a wrapper. Detecting the setup where this is the case might be near to impossible. As this is a inconvenience of the `javapacker` ... or the `dpkg-deb`-tool, i don't really feel responsible for this.

[2016-09-13 10:20] FibreFoX commented on #40
As the buildscript-block is very special (not being ext-aware: https://issues.gradle.org/browse/GRADLE-2413), I will change it to `javafxGradlePluginVersion`

[2016-09-13 10:22] #40 closed

[2016-09-13 10:25] toolforger commented on #32
I just confirmed that the license file is now properly copied over.
Something still isn't quite right because the resulting .deb still displays with "License: Non-free", but that may very well be a different problem; I'll do a new issue once I get around to investigating this.
This could be quite a while into the future or never happen: I'll look into injecting jfxrt.jar into the launch4j toolchai

[2016-09-13 10:28] FibreFoX commented on #32
To speficy the licensetype, please take a look at [the exampe-project](https://github.com/FibreFoX/javafx-gradle-plugin/tree/master/examples/debian-installer-with-license)

correct, please make sure to use some known string for the license-type. The Fedora-project has a list
online to take from: https://fedoraproject.org/wiki/Licensing:Main?rd=Licensing#Good_Licenses

[code]

[2016-09-13 10:42] toolforger commented on #32
A licenseType of CC0 is specified; don't know what's happening behind the scenes or which actor is responsible for this behaviour; all I know is that I'm not seeing any license-related warnings or errors.
Given my current priorities, I'll simply leave this uninvestigated. I mentioned this only so you know that future users might get into similar problems.

[2016-09-13 10:49] FibreFoX commented on #32
Maybe it's something cached? I've looked into the file where the license-type gets reflected: [template.spec](https://github.com/teamfx/openjfx-8u-dev-rt/blob/e7f9dac62fe0e22116ea5b23d8f6ff5c8fd977d4/modules/fxpackager/src/main/resources/com/oracle/tools/packager/linux/template.spec)
[code]

I've checked the list on the fedora project, CC0 is listed ... don't know if the version of the `dpgk-deb`-

[2016-09-13 11:15] toolforger commented on #32
Caching is unlikely, I opened the .deb directly.
No real surprise that CC0 is listed. (Note to readers: CC0 would be wrong to use for licensing if you bundle the JRE - Oracle's lawyers might have you for breakfast if you do this.)

I'm not seeing any `spec` file in the .deb, maybe that's the problem.
Here's the relevant snippet from my `gradle.build`:

[code]

The `license.txt` file is included al

[2016-09-13 11:24] FibreFoX commented on #32
Hm ... I will look into it later. That spec-file is used for generating the deb-file, so it is not required so be inside ;)

[2016-09-13 11:31] FibreFoX commented on #41
Despite of this gradle-plugin not being responsible, I might have found a way to detect the scenario for some warning.

[2016-09-13 16:13] FibreFoX commented on #32
@toolforger how do you look into the deb file to have your "non-free"-information? Generated DEB-File seems to not contain that license-type anywhere ... maybe this is only for RPM-packages?!?

[2016-09-13 16:32] toolforger commented on #32
.debs are normal archive files (tgz format I believe), so 7zip etc. should be able to look into it (being on Ubuntu, I used Archive Manager).
Debian archives contain the license information in a machine-readable format. I noticed something was amiss when Software Center told me that it had a non-free license. Looking into the .deb confirmed that while the free-format license.txt I had provided was

[2016-09-13 16:46] FibreFoX commented on #32
Seems like a known bug of Ubuntu: https://bugs.launchpad.net/ubuntu/+source/software-center/+bug/435183

As far as I understand this, anything that does NOT come from Ubuntu-repos, is marked as non-free. Even the linked debian spec for the license lists CC0: https://www.debian.org/doc/packaging-manuals/copyright-format/1.0/#license-specification

I think this can be closed then, as all your inform

[2016-09-13 16:46] #32 closed

[2016-09-14 11:55] #41 closed

[2016-09-14 12:17] toolforger commented on #41
Ah, I was thinking about adding a line in the docs.
This should work, too, it's just a different set of pros and cons.

[2016-09-14 12:32] FibreFoX commented on #41
🍰 documentations are subject of being skipped too often ;) so detecting the scenario and showing this to the developer (every time they are using this) might be a more proper solution.

Thanks for pointing this out, makes me feel like this gradle-plugin really gets used :D

[2016-09-14 14:04] toolforger commented on #41
Well, I'm probably not going to be a user. Trying to remote-control one complex tool through another one always carries additional risks; given that the tool being remote-controlled is the Oracle JFX bundler which is trying to be too many things and not being very good at being any of them.

[2016-09-15 19:16] swpalmer opened #42 "jnlp bundler doesn't produce jnlp file and doesn't log any error/warning"
I have an application that is successfully bundling 'dmg' and 'pkg' bundles on OS X.  When I change the bundler to 'jnlp' there is no error, but all I get is an application image.  No .jnlp, no HTML files, no javascript, nothing.  The jfx configuration has verbose = true but nothing is printed for the jfxNative step.

E.g.:
$gradle clean jfxNative
:clean
:compileJava
:processResources UP-TO-DATE
:

[2016-09-15 19:52] FibreFoX commented on #42
What did `gradle clean jfxNative --info` say? For JNLP-files [it is required to have some bundleArguments](https://github.com/teamfx/openjfx-8u-dev-rt/blob/master/modules/fxpackager/src/main/java/com/oracle/tools/packager/jnlp/JNLPBundler.java#L84) set up:
[code]

Please don't hit the messenger (me) 😨 , I really don't know why this bundler does not take the application-name like all others do. Hav

[2016-09-15 19:57] swpalmer commented on #42
It was the missing jnlp.outfile bundle argument. Thanks!

Some small amount of error checking would have helped.  Doing the auto-magic thing if the bundle argument is missing might be worth it.  Though I would log a warning maybe, just to point out that the plugin is "fixing" it for you.

[2016-09-15 20:14] FibreFoX commented on #42
👍 good to hear it now is working for you, I will add this kind of "magic", with some parameter to disable it (like all the other stupid things I had to introduce)

[2016-09-15 20:43] swpalmer commented on #42
Do you happen to have an example of using the jnlp bundler with signing?  Sadly it will happily produce a JNLP app that Java will refuse to run due to the security requirements.

[2016-09-15 20:53] FibreFoX commented on #42
The builtin way for "signing" was something called "BLOB signing", but this never got integrated on other tools. Because of this, the upcoming JDK9 is going to DROP that support (very funny somehow):
https://bugs.openjdk.java.net/browse/JDK-8088866?focusedCommentId=13889898#comment-13889898

This even got reported on the [javafx-maven-plugin](https://github.com/javafx-maven-plugin/javafx-maven-plu

[2016-09-19 17:57] FibreFoX commented on #42
@swpalmer did it work for you with `noBlobSigning`?

[2016-10-05 11:56] FibreFoX commented on #42
ping @swpalmer

[2016-10-07 21:46] FibreFoX commented on #42
Warning got added with commit https://github.com/FibreFoX/javafx-gradle-plugin/commit/65cef6dd24ab6207b6f1aec8866a39ec33daf0e9, this time without magic, because the developers should know what they are doing. Will be released after my commit was checked some times.

[2016-10-07 21:46] #42 closed

[2016-10-08 18:06] AdamCarroll opened #43 "JavaFX DEB Bundle Without JRE Doesn't Work"
I recently switched the build for [VocabHunter](https://github.com/VocabHunter/VocabHunter) from calling an Ant script to generate the install bundle using your plugin.  The version using your plugin is much simpler.  Well done!

The bundlers I generate are all without the JRE: I expect the user to have installed the JRE.  This works nicely on Mac but on Ubuntu 16.04 I have a problem with the gene

[2016-10-08 19:26] FibreFoX commented on #43
What JDK are you using for bundling here?

[2016-10-08 19:27] FibreFoX commented on #43
As I'm not familiar with SED, am I reading this right, that you are trying to set environment-variable from `JAVA_HOME`? Is `JAVA_HOME` set for the user?

[2016-10-08 19:40] FibreFoX commented on #43
http://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8163356
The detection of the installed JDK mostly depends on environment variables seen by the native launcher, but it fails to detect JRE_HOME.

[2016-10-09 09:42] AdamCarroll commented on #43
I'm using Oracle JDK 1.8.0_101 when creating the bundle and also when running the application.

Note that I'm not actually bundling the JDK/JRE:
[code]

[2016-10-09 09:54] AdamCarroll commented on #43
I'm just using Sed to workaround a problem in the generated file `/opt/VocabHunter/app/VocabHunter.cfg`.  Before running the command the `.cfg` file contains the following line:
[code]
After running the Sed command it contains the following line which works around the problem:
[code]
I'm not actually using the environment variable except as a convenient way to know where Java is installed.  You co

[2016-10-09 10:56] FibreFoX commented on #43
Starting with some clean Ubuntu-system, how do I reproduce this?

The mechanism with the native launcher without bundled JRE is a bit faulty sometimes when it goes about JAVA_HOME, so I need to reproduce this as best as possible. Personally I'm working on windows-based machines and create some Ubuntu-VM for every bug I recieve.

[2016-10-09 12:53] AdamCarroll commented on #43
I'm in a similar situation to you except I use a Mac and then have Vagrant/VirtualBox machines for the other two operating systems.  It sounds like you have your Ubuntu set up OK but if you need a hand, give me a shout.  I use the Boxcutter image with Vagrant which works nicely.

To install the Oracle JDK, use the following:
[code]

The quickest way to test if you will see the same problem is to d

[2016-10-10 11:44] FibreFoX commented on #43
Hi there,

problems solved ;) I now do know what the problem is, and how to fix this!

First I thought it is because of "oracle-java8-set-default" wasn't installed, because this sets `JAVA_HOME` (after reboot, because the script lies inside `/etc/profiles.d/` with the names `jdk.sh` and `jdk.bsh`), but this is not the full truth required to run the application!

Have a look at the used binary file

[2016-10-10 17:51] AdamCarroll commented on #43
Hi,

Thanks for looking into this!

What you say about `$JRE_HOME` is clearly right.  If I try from the command line to run the package after install I see this:
[code]

But, if I first run `export JRE_HOME=/usr/lib/jvm/java-8-oracle` and then run the command then it runs without problems.

However, this workaround is clearly going to be problematic for users hoping to run things without the comma

[2016-10-10 18:29] FibreFoX commented on #43
Hi Adam, sorry to say but this is clearly no workaround!
The thing is, what you are experiencing is the caveat of not bundling some JRE. Users will have to setup their systems right, especially advanced users might have some special location for their JRE. The funny part is inside the Ubuntu-help: https://help.ubuntu.com/community/EnvironmentVariables#A.2Fetc.2Fprofile.d.2F.2A.sh

They have the `J

[2016-10-10 18:29] #43 closed

[2016-10-10 18:43] FibreFoX commented on #43
Just one other thing: this problem is not limited to the `deb`-bundler

[2016-10-10 19:57] AdamCarroll commented on #43
Hi Danny,

Thanks for taking the time to look into this.  At least now I know a bit more about the problem.   I hope Oracle will take a look at the bug that you pointed to.

I appreciate your efforts on this.  Keep up the good work on the Gradle Plugin!

[2016-10-11 22:01] swpalmer commented on #42
Sorry, I have had to switch away to something else for a while.  I believe it will work when I get the signing done properly, but I haven't had a chance to figure out how to do the signing with Gradle.  I was rather expecting the idea of producing a signed jar to be built-in.

[2016-10-11 22:14] FibreFoX commented on #42
This is built-in within this plugin :) I will give you a example project tomorrow, maybe it's a bit lost inside this issue.

[2016-10-11 22:16] FibreFoX opened #44 "create more JNLP-examples"
Most users are too confused when it comes to JNLP-bundler, so things like signing and `jnlp.outfile` are often unknown. To solve this, more examples are needed

[2016-10-12 13:23] FibreFoX opened #45 "Add requirements to readme"
This plugin requires gradle 2.10 ... but it is nowhere stated

[2016-10-12 19:02] #45 closed

[2016-10-20 18:43] JustGregory commented on #44
Well, both more examples *AND* documentation. For any project I'm watching, I look for good docs to know what the heck I'm doing.

What makes good docs? I have a personal ideology when it comes to software docs (in general) that I'd like to share. I know, not every developer wants to write documentation; but at some point it's trading the time to explain things really significantly well, or having

[2016-10-20 19:13] FibreFoX commented on #44
Hi @JustGregory , I will take all these points for my next vacation, where I planned to rework my personal website and (now the important part) to create some documentation-websites for this plugin and the maven-equivalent. As this is only getting some time from my free spare time, I am happy to have this plugin where it stands today, debugging all this stuff is really exhausting, because this tec

[2016-10-20 19:58] JustGregory commented on #44
You and I have the same annoyance at other people who don't read the docs, Oracle's or otherwise; and you can believe I fully understand your sentiments. (Well, except I hadn'd heard of Vue, and I hadn't really understood what it took in ASM for you to get started....)

It's okay, I didn't take any of that as "harsh"; maybe just a well-timed chance of you to vent some built-up frustration. Um, may

[2016-10-20 20:15] FibreFoX commented on #44
Point is taken :) I do know how frustrating the situation is, you aren't the only ones who are annoyed about no-documentation, its me too, because I need to answer all the questions here on github, stackoverflow or direct mail contact. Please don't feel embarrassment, I am thinking of it as some kind of "cheering up" for this being a good tool and to not let it take dust just because of missing do

[2016-11-01 23:29] FibreFoX commented on #25
Not yet finished, nor published, but currently under development: https://github.com/FibreFoX/imagetransform-gradle-plugin

[2016-11-13 16:17] radistao opened #46 "Is it possible to create Windows installer (.exe or .msi) which installs the app for all users?"
Hi, @FibreFoX.

Currently by default created Windows installer installs to `AppData` and may be used only by one system user. Is it possible to configure the plugin to install to `Program Files` for all users? (expecting to ask administrative privilege before installing)?

[2016-11-13 18:00] FibreFoX commented on #46
Yes, it is possible by providing some bundleArguments:

[code]

Can you confirm this working for you?

[2016-11-13 21:02] radistao commented on #46
Tried: looks great! BUT: i can google it so far neither in your repo nor in maven-javafx plugin. Is it documented somewhere? If no, could we put this to the plugin doc/javadoc/README?
I could update and send you a pull request, if you wish

[2016-11-13 21:02] #46 closed

[2016-11-13 21:58] FibreFoX commented on #46
This is a real ugly topic, because Oracle does not have any upated documentation, there are a lot of hidden switches and options, mostly inside each bundler. I am looking at them via [sourcecode](http://hg.openjdk.java.net/openjfx/8u60/rt/file/996511a322b7/modules/fxpackager/src/main/java/com/oracle/tools/packager/windows/WinMsiBundler.java#l109).

I'm currently developing some new configuration-w

[2016-11-24 16:50] Hospes opened #48 "Dagger2"
Hi Guys!

I'm trying to include dagger2 into my application.
I add "apt" plugin and dependencies on dagger
[code]

when I run task "gradle clean build"
I see generated classes from dagger, but I can't access them from my classes.
Can someone tell me if it's javafx-plugin issue or mine?
I mean when I'm execute Sync Gradle project, then Idea add build folder as "excluded" from application module. Ma

[2016-11-24 17:08] Hospes commented on #48
Sorry guys, I found solution.
Just have to set sourceSet:
[code]

[2016-11-24 17:08] #48 closed

[2016-12-19 01:48] ChrisLMerrill opened #49 "adjusted-launcher-icon example: path name inconsistency"
In the readme, it says:
...into the folder src/main/deploy/windows for the bundler....

but in the example, the file is in
  /src/main/deploy/package/windows

For me, the readme is correct and the example did not work.

[2016-12-19 01:52] ChrisLMerrill commented on #49
Oops - sorry it was the other way around. Example works...readme was wrong.    :)

[2016-12-19 08:35] FibreFoX commented on #49
Hi there, thanks for pointing that out :) I'm used to forget that "package"-part, thats my fault, sorry.

[2016-12-19 08:36] #49 closed

[2016-12-19 11:16] ultrasites opened #50 "Executable for Windows 10"
Hello,

my native App works on Win7 and in my IDE on Win10, but not as bundled App on Win10.

The Error occurs by including the JSSC Lib:
https://github.com/scream3r/java-simple-serial-connector

Can you help me?

Thank you!

[2016-12-19 11:19] FibreFoX commented on #50
Hi there,

what errors do occur? While creating the native bundle? I need more information first, maybe a small project where I can recreate your problem (maybe it's just a problem of 32bit/64bit?).

[2016-12-31 13:56] FibreFoX commented on #50
@ultrasites Please come back with more input, I will close this issue meanwhile

[2016-12-31 13:56] #50 closed

[2017-01-03 10:23] zsolt-balanyi opened #51 "Create fat-jar"
Hello!

Is there a possibility of creating a fat-jar, instead of having the dependencies in the lib folder?

BR, Zsolt

[2017-01-03 12:44] FibreFoX commented on #51
Hi there,
short answer: NO!

It is not possible, because fat-jars have several problems. As this gradle plugin creates installers, there should not be any need to have fat-jars (it would get pretty awkward when having fat-jars with JNLPs). One mayor thing is it would remove some files which some jars are required, or imagine the situation where you are overwriting licences or property-files with d

[2017-01-03 12:44] #51 closed

[2017-01-04 23:16] StrangeNoises opened #52 "Gradle 3.3 support missing"
Any gradle commands in a project with javafx-gradle-plugin defined as a buildscript dependency fails. Even `gradle tasks`.

The stacktrace suggests the culprit is this plugin (plus other projects that don't use it are building fine):

(Whole stacktrace included for completionism's sake, but pretty sure only the bottom "Caused by" is relevant.)

[code]

[2017-01-04 23:39] FibreFoX commented on #52
It might be that the used API has changed within gradle 3.3.
Thanks for pointing this out ... I will have to search for some alternative.

[2017-01-04 23:47] FibreFoX commented on #52
Just checked the API of gradle 3.3 and my thoughts got confirmed! I have to find a different way to check loaded jar-files. Thanks for pointing this out, will work on a fix for this the next days.

[2017-01-06 08:25] FibreFoX commented on #52
Looking at the `gradle-base-services-3.3.jar` the class seems to still be present ... but has changed their return-type. Lets find something different now ;)

[2017-01-06 09:26] FibreFoX commented on #52
Hi there, I have found a solution for this, but as I'm currently reworking some parts, some update will be provided for the next week. Will report back when this is available.

[2017-01-07 16:29] FibreFoX commented on #52
Still working on this, because after making it compile with gradle 3.3 I'm fighting some problem with loading the `ant-jfx.jar`. I hope to get it released in the first half of the next week.

[2017-01-18 09:48] DastanIqbal opened #53 "How to include JRE with linux deb executable"
I am using openJDK+openJFX. I stuck on deployment, without jre my app is not working. I want to add JRE in app. I know its not recommended. but I want to add in my package.

Thanks

[2017-01-18 09:56] FibreFoX commented on #53
Hi @DastanIqbal, thanks for using this gradle-plugin ;)

Just some questions:
- Why is your app not working? What is the behaviour of your installed app?
- Could you provide the jfx-part of your gradle-buildscript?

[2017-01-18 10:10] DastanIqbal commented on #53
Thanks FibreFox, actualy I was talking about the deb file, when I am installing with dpkg -i app.deb file,Its successfully installed but when I was trying to run, on that time its was throwing error JVM_onCreate something, may be my app was not able to find JRE. so I was trying with embed JRE with executable(.deb)

I just solved with
bundleArguments = [
            // dont bundle JRE (not recommen

[2017-01-18 10:14] FibreFoX commented on #53
So if you want include the runtime, did you try to just remove that "runtime"-line completely? ;) The "runtime: null"-parameter is an internal trick to NOT INCLUDE the JRE, if you just remove that whole line, it defaults to INCLUDE the JRE.

BUT: If you DO NOT WANT to include the JRE, but having your application being able to use the installed java(fx), you are required to adjust the dep-installer

[2017-01-18 10:23] FibreFoX commented on #53
@DastanIqbal does this answer your questions? If so, this now can be closed ;)

[2017-01-18 10:24] DastanIqbal commented on #53
Ya VocabHunters looks good. :)

[2017-01-18 10:24] #53 closed

[2017-02-01 08:07] ricardojr commented on #52
@FibreFoX Any updates?

[2017-02-01 09:43] FibreFoX commented on #52
This is fixed on master-branch, but not yet released. Sorry for the delay, the javafx-maven-plugin got stucked at some point. Both plugins are using the same workaround for mac-stuff, so I am trying to sync everything ... release is on its way :/ sorry for keeping you waiting.

[2017-02-01 12:00] StrangeNoises commented on #52
I'm not in a rush. My javafx project has the status of "hobby I'm too busy for right now anyway", while I do some of the boring server-side stuff I actually get paid for. 😂

[2017-02-01 12:10] FibreFoX commented on #52
@StrangeNoises same for me, but I get frustrated about the current state :) and therefor I'm trying to get some spare time to FINALLY release that stupid ..*rant* *rant*

Will inform you guys when it's released, thanks for your patience anyway.

[2017-02-02 04:44] anidotnet commented on #52
I am also hit with this issue when upgraded gradle from 3.1 to 3.3. @FibreFoX waiting for your release. Meantime going back to 3.1.

[2017-02-02 21:09] FibreFoX commented on #52
Hi dear thread-listeners: can you try with current 8.8.0-SNAPSHOT ?

[2017-02-03 04:11] ronisaha opened #54 "Question: Description for exe file"
Is there a config property to set the Description for the exe. By default its using the {appName}.exe

I want to set description for my application(Like: My Cool App).

![image](https://cloud.githubusercontent.com/assets/1433652/22579293/19554166-e9f9-11e6-871a-cbcd9a4e1a28.png)

[2017-02-03 08:00] FibreFoX commented on #54
Will check it. Do you know if the (ugly ant-style) `javapackager` has some flag for this?

[2017-02-03 08:07] FibreFoX commented on #54
Hi there, this is nothing inside the exe-file. If you rename your exe-file, it will change the description too ;)

The only parts, which can be overridden, are the same as the original `javapackager` is able. Some parts are only for the installers, you can find a list here: https://github.com/teamfx/openjfx-8u-dev-rt/tree/fd634925571310284b02d89ff512552e795ba5e8/modules/fxpackager/src/main/java/co

[2017-02-03 08:07] #54 closed

[2017-02-04 21:13] vladimirzaytsev commented on #52
Good day.
I created simple JavaFX application and run with gradle jfxRun task.

[code]

[2017-02-04 21:45] FibreFoX commented on #52
@vladimirzaytsev How dows this relate to gradle 3.3 ? There is a problem with your application, not the javafx-gradle-plugin, please open a separate issue with a sample-project where this can be analyzed.

[2017-02-05 07:59] vladimirzaytsev commented on #52
@FibreFoX Excuse me, I hastened to conclusions, my mistake. Successfully tested jfxRun and jfxNative tasks with Gradle 3.3 and snapshot version of plugin. Tested on Mac OS X 10.12.3 👍

[2017-02-05 22:22] FibreFoX commented on #52
Version 8.8.0 got released !

[2017-02-05 22:22] #52 closed

[2017-02-09 20:25] vhkrausser opened #55 "launcherArguments for secondaryLaunchers"
If we specify a secundary launcher for the build with custom lauch parameters, all lauchers have the parameters from the latest configuration readed by the plugin.

This happens (I belive ) at line `212` of the `JfxNativeWorker`.

Where we read `params.put(StandardBundlerParam.ARGUMENTS.getID(), new ArrayList<>(arguments));`

Should be:   `secondaryLauncherGenerationMap.put(StandardBundlerParam.AR

[2017-02-09 20:40] FibreFoX commented on #55
Indeed, thanks for catching this 👍

[2017-02-09 21:27] FibreFoX commented on #55
This is now fixed :) should take a bit to hit maven-central

[2017-02-09 21:27] #55 closed

[2017-02-23 15:30] chris-scorpio opened #56 "How to sign the jar/bundle"
Firstly, thanks for all the hard work you've put into this plugin.

Have been trying to figure out how to get the jar/mac bundle to be signed using an existing keystore. The corresponding command in javapackager would be -signjar. Looking at the code I can see that JNLP jars are signed and that a keystore can be created but can't see anything for normal jars/bundles.

Looks like the signing for wi

[2017-02-23 16:02] FibreFoX commented on #56
[code]

You might want to set `noBlobSigning = true` switches to use normal "jarsigner" when calling jfxNative. The corresponding `javapackager`-equivalent does NOT sign the jar-files like expected, because it uses the so-called BLOB-signing, which never get grip in the java-ecosystem (and it will be dropped with JDK9 anyway), therefor I have manually added that feature using the normal jarsigner-

[2017-02-23 16:04] FibreFoX commented on #56
Oh wait a minute ... thats not  true ... sorry, will check for it ;)

[2017-02-23 16:14] FibreFoX commented on #56
@chris-scorpio Hi there, sorry for the confusion on the answers before.

You are right, the signing-process is only applied for JNLP-files when using this plugin, but it is not the signing that you want! The javapackager introduced a method called `BLOB Signing`, which gets removed from the JDK9 (it never got grip in the ecosystem, nor tool-support to check the signature!!), this means that the `c

[2017-02-23 16:33] chris-scorpio commented on #56
Thanks for the responses.

The company I work for is requesting that the win/mac/linux app/installers are signed so have spent the last couple of days looking into various methods, just assumed that the jars themselves also needed signing [will look into the gradle signing plugin for this].

[2017-02-23 18:49] FibreFoX commented on #56
Oh, if it is only about the installers, you are not looking for signing the JAR, but the EXE/MSI/DEB/RPM-installers/native launchers? Don't know about your requirements, but are you sure you want to sign the JARs and not the native launchers/installers?

[2017-02-23 19:28] FibreFoX commented on #56
Just some of my thoughts:

* What is the idea of having SIGNED JARs when having native launchers? As far as I can tell, there is no benefit, as the native launcher loads the (bundled or locally installed) JRE via native library loading and runs your JAR-files normally. No technical benefit
* What is the idea of having SIGNED NATIVE LAUNCHERS? This is reasonable on high-security systems, or when ha

[2017-02-23 19:38] FibreFoX commented on #56
One additional observation: the `packager.dll`-file is UNSIGNED, this is the first library loaded by the native launcher (I don't care for the runtime-`msvc*.dll`-files) ... this might be worthy to be reported as a bug on the oracle-bugtracker. This means: this is a file where some "strange mutation" could happen to "break" your signed native launcher ... in the case you aren't signing stuff that

[2017-02-23 19:52] chris-scorpio commented on #56
Hmm, some sound reasoning, I guess my need is for just the launcher [e.g.  .app to keep mac gatekeeper happy] and the installers [e.g. to prevent windows pop-up to show it's not verified] to be signed.

So I guess the question is, does the wrapper plugin allow me to sign the mac installer [due to the phrasing of the -nosign in the deploy command] or do I need to find other ways to achieve this?

W

[2017-02-25 21:29] chris-scorpio commented on #56
Thanks for info, the bundle arguments helped me out alot along with reading up loads on certificates etc.

[2017-02-25 21:34] FibreFoX commented on #56
Does that mean this issue can be closed?

[2017-02-27 08:21] chris-scorpio commented on #56
Yes it can be closed, but one last question - where did you see the parameter for signBundle as couldn't see it in the javapackager arguments section?

[2017-02-27 13:35] FibreFoX commented on #56
The `javapackager` is the tool from the JDK, which accesses the internal libs, but the javafx-gradle-plugin accesses that API directly, like the `javapackger` does, which means that all CLI-parameters are not mapped one-to-one.

For finding all arguments, I have to look at the sourcecode of the bundlers. Some arguments are normal parameters, mosty ones which are often-used ones, and the others hav

[2017-02-27 13:35] #56 closed

[2017-03-09 15:45] swpalmer opened #57 "Java 9 Support"
To be clear, I have successfully used this plugin with Java 9, but the support is incomplete because of new options related to modularization.

In Java 9 the javapackager tool has an --add-modules option.

In fact if you run the jfxNative task with Java 9 you will see in the output something like this (note the references to modules):

:jfxNative
Putting task artifact state for task ':jfxNative' i

[2017-03-09 15:47] FibreFoX commented on #57
I do know this ;) it is a long time ago, that I had JDK9 installed. Will implement this, when JDK9 is official.

[2017-03-09 15:57] swpalmer commented on #57
You mention "when JDK9 is official". As I hinted at the end of description, I was hoping to build with Java 9-ea. (Java 9 has been feature complete for a while now, so I'm ramping up my testing efforts.) That's also why I mentioned the possibility of a more direct method of adding any arbitrary options.  It may allow people to workaround this and future issues.  Even if you don't have proper suppo

[2017-03-09 16:04] purringpigeon commented on #57
I agree that we need some support since Java 9 has an official release date of July 27, 2017.

Thanks

[2017-03-09 16:08] FibreFoX commented on #57
@swpalmer nagging sometimes works ;) I will take a look into this the next days, if you need to fiddle with a local version, just look at the "workers": https://github.com/FibreFoX/javafx-gradle-plugin/tree/master/src/main/java/de/dynamicfiles/projects/gradle/plugins/javafx/tasks/workers

[2017-03-21 15:18] marckaraujo opened #58 "Failed to create .exe with dependencies jar"
I got this error for every dependency jar in my project when I run jfxNative:

The jar lib/xxx.jar has a main class com.xxxx that does not match the declared main xxxx.MyMainApp

But it creates the .exe file.
When I try to run, this show a box window with "Error invoking method"

Then: "Failed to launch JVM" and it finish.

JAVA_HOME is jdk1.8.0_121
Windows 7 64 Bits

[code]

[2017-03-21 15:46] FibreFoX commented on #58
Does this fail when this is removed?
[code]

[2017-03-21 15:47] marckaraujo commented on #58
Yes, same error.

[2017-03-21 15:47] FibreFoX commented on #58
When you get warnings about some "MainClass found but not the specified one"-entries, this is normal, its something from the underlaying `javapackager`

[2017-03-21 15:47] FibreFoX commented on #58
Can you try to create some small reproducable example project for this?

[2017-03-21 15:50] marckaraujo commented on #58
My project is really a big one, well I need to find a way how I can create a sample for you.

[2017-03-21 15:52] marckaraujo commented on #58
That is something that could help before I try to create a sample?

[2017-03-21 15:55] FibreFoX commented on #58
So your main problem is, that you get `Failed to launch JVM`, right? Have you tried to execute the generated jar-file inside build/jfx/app ?

[2017-03-21 15:56] FibreFoX commented on #58
I really need to reproduce this, often it's some exception being thrown or some missing dependency. Do you use some bundled JRE, or are you removing the JRE via `bundleArguments`?

[2017-03-21 15:59] marckaraujo commented on #58
I dont use any bundled JRE. Should I put this in build.gradle?

[code]

[2017-03-21 16:09] FibreFoX commented on #58
You dont use the bundled JRE? Now I am confused.

Normal behaviour is that the javapackager generates some JRE inside the runtime-folder ... if you are removing this, you HAVE to set bundleArguments like you commented.

The `Why?` behind: there is some `.cfg`-file containing some entry about the runtime ... if it is empty, the exe tries to use some locally installed runtime. On Windows-Systems the

[2017-03-21 16:17] marckaraujo commented on #58
To be honest I dont know if I use bundled JRE, probably not if it isnt a default JavaFX Project Settings.

My .cfg is:

[code]

[2017-03-21 16:20] FibreFoX commented on #58
`app.runtime=` this means "use the locally installed JRE", that entry is created when having that bundleArgument ... but this REQUIRES the targeted windows-system to have the JRE installed correct.

If you remove all bundleArgument-entries regarding the runtime/JRE, you should get a package with some bundled JRE (which personally I would recommend), and creates some different entry inside that `.c

[2017-03-21 16:20] marckaraujo commented on #58
I just test a small project of this big one with all this dependencies and running with very few pages. And the .exe generated works well.

The .cfg file is:

[code]

[2017-03-21 16:21] FibreFoX commented on #58
If your application works when having some small app, there is some different problem, maybe combined with some other dependency ... have you checked to run the generated jfx-jar via CLI?

[2017-03-21 18:09] marckaraujo commented on #58
Running only the jar with jfxRun, just found a problem:

`java.io.FileNotFoundException: file:\D:\Users\marcus\Documents\Workspace\pro-ak\build\jfx\app\project-jfx.jar!\mmdb\GeoLite2-Country.mmdb`

I use this code:

[code]

With the jar, this path is wrong. Do you know how to refer a resource file to works with the jar?

[2017-03-21 18:26] FibreFoX commented on #58
Which means this is no problem with this gradle plugin :) at least one good thing for me.

Is this a read-only-database? Have you tried `ClassLoader.getSystemClassLoader().getResource("/mmdb").getPath();`?

[2017-03-21 18:47] FibreFoX commented on #58
If this is some resource which is not required inside the jar-file, you might want to take a look at this example: https://github.com/FibreFoX/javafx-gradle-plugin/tree/master/examples/additional-application-files

[2017-03-21 18:53] marckaraujo commented on #58
@FibreFoX thanks for the link with the example.

But how to refer the additional file inside application and make it work for Win/Linux/Mac?

[2017-03-21 21:03] FibreFoX commented on #58
There might be some misunderstanding about how this whole concept works:

When you are packaging your application, the current java-project is generated as some jar-file, containing all the classes and other files. After this, your jar-file is "converted" into some javafx-jar (jfx-jar in short), which differs in some special MAINFEST-entries, and all dependencies are copied to `build/jfx/app`. If

[2017-03-21 21:04] #58 closed

[2017-03-23 16:08] marckaraujo opened #59 "JVMArgs"
Hey @FibreFoX ,

Thanks for the help with the last issue, got it working, not a problem with your plugin.
I am using JVMArgs like this:

`jvmArgs = ["-agentlib:TakipiAgent"]`

But it doesnt work.

If I run `java -agentlib:TakipiAgent -jar project.jar` in prompt it works.

[2017-03-23 16:34] FibreFoX commented on #59
Can you check what will generated inside the `.cfg`-file?

[2017-03-23 16:39] marckaraujo commented on #59
No, .cfg file has been created.

[2017-03-23 16:40] FibreFoX commented on #59
`build/jfx/native/{appname}/app/` should contain it ....

[2017-03-23 16:45] marckaraujo commented on #59
When I run jfxNative it create .cfg and works well.

[code]

But with jfxRun, it doesnt work.

[2017-03-23 16:47] FibreFoX commented on #59
:D i think i get it now ... this is not how that feature works ... that options are not appended while calling jfxRun

[2017-03-23 16:47] FibreFoX commented on #59
This is half bug and other half feature, because "jfxRun" was only ment as some "stupid shorthand" for running the application. Thanks for finding this ;) and using the plugin

[2017-03-31 21:27] marckaraujo opened #60 "JVMArgs not getting by getParameters()"
I have my arguments set like:

   ` jvmArgs = ["-agentlib:TakipiAgent", "debug"]`

I am trying to get the args inside my MainApp.class:

[code]

But its always null.

I tried with jfxRun and jfxNative

[2017-03-31 21:56] JustGregory commented on #60
And what does your ```getParameters()``` method look like?

[2017-03-31 22:18] marckaraujo commented on #60
@JustGregory https://docs.oracle.com/javase/8/javafx/api/javafx/application/Application.html#getParameters--

[2017-03-31 22:56] marckaraujo opened #61 "ProGuard Support"
Its possible to add support for ProGuard?

[2017-04-01 08:36] FibreFoX commented on #61
There is already an example for this: https://github.com/FibreFoX/javafx-gradle-plugin/tree/master/examples/javafx-proguard-gradle

[2017-04-01 08:36] #61 closed

[2017-04-01 08:41] FibreFoX commented on #60
Since when are the JVM arguments accessible ? getParameters is not ment for this. If you want to have additional parameters, please look at `launcherArguments`, but please be aware of your other issue #59

[2017-04-01 08:41] #60 closed

[2017-04-02 17:36] FibreFoX commented on #59
Hi @marckaraujo , can you try to add your parameters to `jfx.runJavaParameter` ? That one is one string and ment for debugging (like `jfxRun` is itself). I have thought about this, but I don't feel good about adding that lists to jfxRun, as the only purpose was to add a convenient way for executing. As the `jvmArgs` are ment for the final result and native launcher, I don't feel good about this.

[2017-04-03 17:33] FibreFoX commented on #57
@swpalmer what EA-version are you using?

[2017-04-03 17:49] FibreFoX commented on #57
@purringpigeon @swpalmer  This might even already be working, not sure and haven't digged too deep into this. Please try the following:
[code]

There is a lot of new stuff on a new location for parameter-map: https://github.com/teamfx/openjfx-9-dev-rt/blob/master/modules/jdk.packager/src/main/java/jdk/packager/internal/JLinkBundlerHelper.java#L83

Can you try that and report back?

[2017-04-04 01:28] swpalmer commented on #57
Packaging still doesn't work with that.  I get errors trying to copy jars into the application bundle, but the build continues and claims to succeed.  Looking into the application bundle I can see that my jars are missing.
This is from the build log (slightly sanitized for the web):

`:jfxNative
The jar lib/MyServer-3.1.3.jar has a main class my.company.myserver.MyServerMain that does not match th

[2017-04-04 13:56] swpalmer commented on #57
Note I am using 9-ea+163.  Tried with Gradle 3.4.1 and 3.5-rc-2.

[2017-04-04 14:16] marckaraujo commented on #59
Its doesnt work for me, because tapiki need to launch with jvmArgs since it will monitor the application and send crash logs, of course that the most critical part is when you send the application to real users, this feature just help for local debug. The software in question is https://www.overops.com/

[2017-04-04 14:31] FibreFoX commented on #59
Have you tried this configuration?
[code]

[2017-04-05 08:47] FibreFoX commented on #57
@swpalmer Are you using some IDE for this? Do you know if gradle is already fully compliant with jdk9?

As there are a lot of internal changes, including the places where the packager-classes are, this might take some while and might break compatibility with jdk8 ... will look into this deeply but will take some time (this goes for the javafx-maven-plugin too).

[2017-04-05 10:09] benqs opened #62 "Native bundle runtime x86 problem"
I'm having a problem with creating native bundle with specified x86 jre.

[code]
With this work like a charm, jfx/native is created with specified jre bundled.

[code]
But when I change to x86 jre jfx/native is not created and there are no logs that would tell why.
I tried with other jre versions with same result.

[2017-04-05 10:18] FibreFoX commented on #62
Are you bundling on a 64bit system?

[2017-04-05 10:21] benqs commented on #62
yes

[2017-04-05 10:39] FibreFoX commented on #62
Thats one of the problems, you are required to create the bundle for 32bit on 32bit-build-system, as per documentation from oracle: https://docs.oracle.com/javase/8/docs/technotes/guides/deploy/self-contained-packaging.html#JSDPG586

This was a problem I tried to debug some time ago for the javafx-maven-plugin: https://github.com/javafx-maven-plugin/javafx-maven-plugin/issues/81

Corresponding JDK

[2017-04-05 10:39] #62 closed

[2017-04-06 06:57] FibreFoX commented on #57
@swpalmer Can you confirm, that it works with the javapackager itself? Coming from the sourcecode, it looks strange how the content inside that `.cfg`-files is gathered:

[code]

The comment `jar, modular or unnamed` is not reflected inside that IF-condition, maybe "unknown" was wrongly used as "unnamed" .... still trying to understand what is happening, thats why im interested if this already wor

[2017-04-06 07:07] benqs commented on #62
You're right. With changing gradle jvm to 32bit it was able to build 32bit native.

[2017-04-06 13:21] swpalmer commented on #57
It's such a pain right now to build and run on JDK 9 that I'm not sure when I will have the time to sink into this.  I'm wondering if part of the issue is that my application is *not* modular itself?   I will respond here if I find anything new.

(OT: Why is there an explicit call to .toString() in that code when printing the mainjar name?)

[2017-04-06 13:26] FibreFoX commented on #57
Regarding the `toString`: [Path.getFileName()](https://docs.oracle.com/javase/8/docs/api/java/nio/file/Path.html#getFileName--) it returns a Path ;)

[2017-04-06 13:45] swpalmer commented on #57
So?  String concatenation operator automatically appends the equivalent of toString() ... explicitly calling it is redundant.

[2017-04-06 15:03] FibreFoX commented on #57
haha, indeed :D

[2017-04-09 09:16] Hospes opened #63 "Log4j2 configuration file location problem"
Hi there!
Sorry if this question is not related to your plugin, but I need help and can't find solution for it.

I'm trying to use log4j lib for logging. And as described in documentation we can configure Log4j Loggers via configuration file.
This is quote from documentation:

1. Log4j will inspect the "log4j.configurationFile" system property and, if set, will attempt to load the configuration us

[2017-04-09 10:07] FibreFoX commented on #63
Have you tried to put that configuration file into `src/main/resources/log4j2.json`? The java-plugin from gradle uses the same folder-conventions like maven is using:
`src/main/java/` -> your java-classes (your root-package)
`src/main/resources/` -> your non-java files (like your json-file)
`src/test/java/` -> your java-test-classes (your root-package)

[2017-04-09 10:18] Hospes commented on #63
@FibreFoX Yes, I placed log4j2.json into resources folder
src/main/resources/log4j2.json

Also I checked jar file to be sure that this files are there and everything is fine but library dont see it.

[2017-04-09 10:39] FibreFoX commented on #63
Have you added jackson to your dependencies? http://stackoverflow.com/a/28100528/1961102

[code]

Adding jackson worked for me.

[2017-04-09 22:38] JustGregory commented on #57
@swpalmer regarding JDK 9 already. It seems to be the case that, even after the release of a new JDK version, most people take a while if/when they upgrade JRE/JDK depending on usage. In my case when Java 6 came out and I was making Minecraft mods and I asked someone (casually) if they thought I should build against JDK 6 compatibility, the answer I got was a generic "I dunno, people are mostly Ja

[2017-04-10 06:33] FibreFoX commented on #57
@JustGregory thats somewhat my own view of the whole jdk9 situation, but the plugin currently works ;) and still need some (spare) time to figure out what is happening.

What bugs me the most, is the taste of the javapackager being unfinished, I'm not that familiar with the new module-concept, especially with maven-plugins and gradle-plugins requiring other dependencies (like how to depend on `jdk

[2017-04-10 08:15] Hospes commented on #63
@FibreFoX Fantastic! Thanks!!!
Sorry for this thread not related to your plugin.
One more question regarding plugin, you tell somewhere that you will write some wiki/documentation, how is it going, do you have time for it? :)

[2017-04-10 08:28] #63 closed

[2017-04-10 19:09] JamzTheMan commented on #57
1. I think the difference is Java upgrades in the past have been more painful and less automated. For our app we had to make several changes in code going to 1.6, 1.7 we had just a couple and none for 1.8. in fact many users were ahead of us on jre installs for 1.7...

[2017-04-17 13:05] swpalmer commented on #57
@JustGregory @FibreFoX There exists a certain chicken and egg problem.  We can't move to Java 9 until the tools we use support it, and the tools we use see no motivation to move to Java 9 because nobody is using it yet.
My motivate is simple, I want to make sure that my software is ready to take advantage of Java 9.  If there are issues with Java 9 that need to be addressed by the JDK team (Java 9

[2017-04-17 13:41] FibreFoX commented on #57
@swpalmer As I'm not in the state of having a full picture of Java 9, so just to clarify: using the bundled `javapackager` from the JDK, do you get working bundles?

[2017-04-17 13:46] swpalmer commented on #57
@FibreFoX Well that's sort of the problem.. I don't know yet because it means I have to re-write my project build scripts to call javapackager directly (at which point I wouldn't need this plugin).  I'm not even certain that the command-line interface of javapackager is complete enough to allow it.  I haven't found the time to do figure it all out.  I think I have a simpler project somewhere, wher

[2017-04-17 13:50] FibreFoX commented on #57
@swpalmer :) okay ... makes me feel a bit less stupid. As far as I understood, not all parts are finished inside the native launcher stuff. Currently I'm a bit too busy with my normal paid work stuff, but will dig into this again when having more time.

You will get informed when I had the chance to make some adjustments to this gradle-plugin.

[2017-04-19 20:37] marckaraujo opened #64 "How do I exclude specific transitive dependencies?"
I am trying to exclude dependencies of a particular dependency in Gradle, like:

[code]

But gradle cant compile after that.

[2017-04-20 06:52] FibreFoX commented on #64
Hi @marckaraujo , can you try to tinker some reproducable project for this?

[2017-04-20 10:33] FibreFoX commented on #57
https://developer.jboss.org/blogs/scott.stark/2017/04/14/critical-deficiencies-in-jigsawjsr-376-java-platform-module-system-ec-member-concerns

I'm very interested in how this will resolve ... Jigsaw is not only a problem for this javafx-build-plugins, but for others too ... and the article kinda reflects my own thoughts about the whole module-concept :/ until there is proper support of gradle/mav

[2017-04-20 13:43] marckaraujo commented on #64
Just set it inside this test project:

https://github.com/marckaraujo/gamesparksJavaFX

Thanks

[2017-04-20 15:15] FibreFoX commented on #64
This is no bug of this plugin, you excluded the dependency in a wrong way!

[code]

You have to adjust your build.gradle-file like the following:

**before**
[code]

**after**
[code]

Please note the parenthesises!

[2017-04-20 15:15] #64 closed

[2017-05-09 21:10] marckaraujo commented on #62
@FibreFoX , the [SO Question](http://stackoverflow.com/questions/43860197/javafx-only-run-with-jdk) is related to this?

I just created the .exe file using: [exe4j](https://www.ej-technologies.com/download/exe4j/files) and it works with JRE 1.8 X86.

But using jfxNative, it wont work with JRE 1.8 X86, only with JRE 1.8 X64.

[2017-05-10 06:08] FibreFoX commented on #62
@marckaraujo Please create a new issue and attach a project where I can reproduce this. Thanks

[2017-05-11 12:29] integrys-net opened #66 "javafx-grdle-plugin can't be configured due to wrong java.home"
Hi FibreFox, i'm finding this plugin very useful. But when configuring gradle project to use this plug-in, it can't be configured, throwing an exception about ant-javafx.jar library not found.
my JAVA_HOME environement variable correctly point to jdk install directory.
The JDK version installed in my machine is ```1.8.0_131 (Oracle Corporation 25.131-b11)```.

[2017-05-11 13:02] FibreFoX commented on #66
This plugin utilizes the java-property "java.home", which is not the same as the JAVA_HOME environment property. Even on Maven there is a confusion about this, especially because Maven says that might me "java home": https://issues.apache.org/jira/browse/MNG-5756

Since the system property "java.home" returns the JRE from the current java-process, and as gradle has to run with the JDK, this return

[2017-05-11 13:40] integrys-net commented on #66
Thank you to have pointed me to right direction, i've thinked the problem concerned java home environment variable, but i'm wrong.
When using this plugin inside an eclipse project, eclipse during project configuration missing JAVA_HOME variable and the plugin thrown the exception.

Best regards

[2017-05-11 13:40] #66 closed

[2017-05-16 03:18] marckaraujo opened #67 "JRE 1.8 32bits"
When running with jfxNative in a Win 7 64 bits the .exe file dont find JRE 1.8 32 bits and throw an error.

[SO Question](http://stackoverflow.com/questions/43860197/javafx-only-run-with-jdk?noredirect=1#comment74756917_43860197)
[Test Project](https://github.com/marckaraujo/gamesparksJavaFX)

[2017-05-16 08:10] FibreFoX commented on #67
The project you have linked, contains this:
[code]
You have to remove that `runtime: null`-part, because this will REMOVE the bundled JRE. Normal process is to include the JRE for a native bundle.
Just to make sure, how are you creating the 32bit-version? Are you using a 64bit-version of the JDK while creating the 64bit bundle and a 32bit-version of the JDK while creating the 32bit bundle ?

[2017-05-19 01:56] marckaraujo commented on #67
@FibreFoX , I do have sure that the target system have the JRE installed.

- I executed jfxNative while JDK 64bits is installed then I removed the JDK and installed JRE 32bits.

Probably you gonna say that you need JDK 32bits to generate a 32bits bundle.
However, I did the same process with 'exe4j' and it works normally with JRE 32bits.

Another sugestion is to have a jfxNative32 and jfxNative64.

[2017-05-19 01:57] marckaraujo commented on #59
I am not using this software anymore, so I cant make the test again, sorry. You can close if you want. Thanks anyway.

[2017-05-19 06:19] FibreFoX commented on #67
"exe4j" does different things, they do bundle both architectures, not only one (as the JDK does).

This was opened as some bug a long time ago, but got closed as "won't fix": https://bugs.openjdk.java.net/browse/JDK-8091056

As this gradle-plugin relies on the provided javapackager (and its bundled resources), there is nothing I can do about.

[2017-05-19 06:23] FibreFoX commented on #67
@marckaraujo Does this mean I can close this issue?

[2017-05-22 14:49] marckaraujo commented on #67
If I have both JDK 64 and 32 bits installed, that is a way to choose what architecture I want to generate?

A little help with another question, I will bundle the JRE with the project, how do I specify that?

[code]

[2017-05-22 15:05] FibreFoX commented on #67
@marckaraujo Just drop that runtime-line, as mentioned above (https://github.com/FibreFoX/javafx-gradle-plugin/issues/67#issuecomment-301708279)

You will have to have two separated machines, in case you don't want to shutdown gradle build daemons and change JAVA_HOME everytime.

It is not possible to generated 32bit with 64bit.

[2017-05-26 19:35] estebantcs opened #68 "The output jar must be specified after an input jar, or it will be empty."
Hi
i trying to use the gradle pluging with my javaFx to add Proguard. i have fallowed the example but i cant get it to work
. every time i run jfx jar or jfx Native get this error:

The output jar must be specified after an input jar, or it will be empty.

[2017-05-27 08:14] FibreFoX commented on #68
Can you provide a project where I can help to debug? This is some message from proguard, maybe you have to change your build-file for this ... but I can't tell until I see that project.

[2017-06-05 21:09] Nava2 opened #69 "Publish Plugin on Gradle Plugins Portal"
Could the plugin be published to the [Gradle Plugin Portal](https://plugins.gradle.org/docs/submit)?

I apologize if this has been asked before, I could not find reference to it.

[2017-06-07 13:38] Pesegato commented on #25
Is already working, just put the .ico on the $deployDir/package/windows

[2017-06-07 13:43] swpalmer commented on #25
@Pesegato You miss the point.  I want to supply standard cross-platform image files (e.g. PNG) and have the appropriate platform-specific form created as need based on the specific bundle type being created.  So .ico for Windows, .icns for macOS, and keep PNG for Linux.  With the appropriate scaled versions of the images being auto-generated if they aren't explicitly supplied.  (The original plugi

[2017-06-08 14:38] d954mas opened #71 "JafJar stackoverflow"
In my project i need swt. So i add it in gradle. The problem with swt dependency. swt depend on native libs. native libs depends on swt. Build task is work correct, but JafJar is failed with stakOverflow.

[code]

[2017-06-08 14:48] yuukiii commented on #71
Can you post the logs?

[2017-06-08 14:50] FibreFoX commented on #71
What is the "JafJar"-task?

[2017-06-08 14:52] FibreFoX commented on #69
Will have to look into the up2date documentation from gradle. Last time I checked I didn't understood the IDs and such stuff ;) meanwhile just use the maven-central way.

[2017-06-08 14:53] FibreFoX commented on #67
@marckaraujo this still an issue for you?

[2017-06-08 14:53] FibreFoX commented on #68
ping @estebantcs

[2017-06-08 14:58] d954mas commented on #71
sorry, misprint. jfxJar not JafJAr task
logs:
[code]

[2017-06-08 15:00] d954mas commented on #71
This gradle script is work. If comment work region and uncomment not work. The jfxJar task not working

[2017-06-08 15:11] FibreFoX commented on #71
instead of "--debug", can you re-run this with "--stacktrace"?

[2017-06-08 15:17] d954mas commented on #71
C:\Users\d954mas\IdeaProjects\automat-helper>gradlew jfxJar --stacktrace
:compileJava UP-TO-DATE
:processResources UP-TO-DATE
:classes UP-TO-DATE
:jar UP-TO-DATE
:jfxJar FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':jfxJar'.

* Try:
Run with --info or --debug option to get more log output.

* Exception is:
org.gradle.api.tasks.TaskExecutionExcepti

[2017-06-08 15:22] FibreFoX commented on #71
Thats odd, can you create a small project where I can reproduce this? What version of JDK and Gradle are you using?

[2017-06-08 15:30] d954mas commented on #71
jdk 1.8.0_131
gradle 3.3
https://yadi.sk/d/RDD3UAty3Jwium

[2017-06-08 16:24] FibreFoX commented on #71
Maybe this has something to do with the "dependencySubstitution" ... will have to take a deeper look into this. Even on older gradle 2.10 this does not work.

[2017-06-13 13:23] codecrafting-net commented on #68
I think I figure it out. First check name of the application jar of the file under `build\libs` directory,
beacause it's not the same of `jfxMainAppJarName`, actually it is the `rootProject.name` on `settings.gradle`. Make sure that this name its on `injars` under your proguard task.

[2017-06-14 07:51] FibreFoX commented on #68
Ah, I do understand now where the problem is! Thanks for clarifying this. Yes, the execution-order is the following:
* normal java-plugin creates some jar-file
* that created jar-file gets worked on with ProGuard
* that obfruscated proguard-jarfile gets picked up by the javafx-gradle-plugin.

When looking at the build-file I prepared inside the examples, I thought this was clear enough, will work

[2017-06-14 12:20] Pesegato opened #72 "How to redirect system out/err on launchers?"
I need to redirect System.out and System.err of the packaged application to a file. I've searched but couldn't find a way...

[2017-06-14 13:42] FibreFoX commented on #72
This was already asked on StackOverflow:
https://stackoverflow.com/questions/31537869/write-to-console-from-a-native-javafx-app-created-with-inno-setup-and-maven/34476175#34476175

Workaround: create/compile your own native launcher-file using some redirects as described here:
https://stackoverflow.com/questions/311955/redirecting-cout-to-a-console-in-windows
https://bobobobo.wordpress.com/2009/03

[2017-06-14 13:42] #72 closed

[2017-06-14 14:56] Pesegato opened #73 "For MSI, is uninstalling possible?"
Oracle docs don't mention it, so I guess it can't be provided... I've searched but found nothing about that.
MSI installed application (built with javadfx-gradle-plugin) don't even appear on Windows "installed application" (but they are present on start menu)

so... should I simply ignore the uninstalling?

[2017-06-16 08:44] FibreFoX commented on #73
That sounds odd. If you install the application via MSI-installer, it will be registered inside windows application list, with the appName as entry.

[2017-06-17 03:13] zkhan93 opened #74 "jfxJar-Task failing on Project.copy() call"
[code]

[code]

[2017-06-17 07:29] FibreFoX commented on #74
Thats why I wrote in the README you will require gradle 2.10 or above ;) the method Project.copy isn't existing before

[2017-06-18 20:40] zkhan93 commented on #74
yep sorry my bad

[2017-06-18 20:40] #74 closed

[2017-06-19 10:17] Pesegato commented on #73
Today I found the entry on the Windows panel, and was able to successfully uninstall the application. Some Windows error I guess...

[2017-06-19 10:17] #73 closed

[2017-06-21 08:44] tobium opened #75 "option to skip signing on mac"
option to skip signing on mac

[2017-06-21 09:19] FibreFoX commented on #75
What bundler do you want to skip signing? Maybe you could elaborate this issue a bit?

[2017-06-23 08:25] Gr1ver commented on #22
Hi @FibreFoX, @Hospes !
I'am faced with the same problem, and as far as here is not mentioned any simple solutions for those who targeting one OS but both bit versions, i want to share with my experience in that.
So, as already mentioned the javafx-gradle\maven-plugin is not responsible for bits of executable, it depends on bits of jdk used for execution of gradle. The simpliest solution to build

[2017-06-23 08:33] FibreFoX commented on #22
Hi @Gr1ver , thanks for sharing that trick ... didn't knew about that way to manipulate gradle (as I'm more a maven-guy)

[2017-06-24 04:21] maPaydar opened #76 "linux(ubuntu) app icon"
where i must put icon image for ubuntu app icon ?

[2017-07-03 04:57] #68 closed

[2017-07-19 18:12] Gohan opened #77 "I use javafx-gradle-plugin and want to debug the program with IDEA, but failed"
Is there any debuggable example working for IDEA + gradle ?

Tried the gradle Debug "jfxRun" using IDEA, but not working..

netstat -an | find "5005"
not find the debug server port..

my build.gradle looks like below:

[code]

[2017-07-19 18:24] Gohan commented on #77
also tried the demo, not working either:
![image](https://user-images.githubusercontent.com/212567/28382966-7e74d90e-6cf2-11e7-8184-54e28b179ee5.png)

[2017-07-19 18:44] FibreFoX commented on #77
Hi, you might want to use `runJavaParameter` for this
[code]

This parameter was introduced to have debug-settings running, but not having this in production outcome.

[2017-07-19 18:45] FibreFoX commented on #76
Please set `verbose` to `true`, you will get some output what resources can be changed. For anything else please consult the official documentation of the `javapackager`. As far as I can recall, the app-icon on ubuntu has to be a special PNG-file.

[2017-07-20 07:21] Gohan commented on #77
I'll try it tonight !

[2017-07-21 16:24] AleksanderMielczarek opened #78 "Cannot add shortcutHint to bundleArguments using exe bundler"
Hi,

I'm trying to create Windows installer using Inno where one can choose installation directory and create desktop shortcut. It's not working because of: `The following keys in <bundleArguments> duplicate other settings, please remove one or the other: [shortcutHint]`

**Gradle:**

[code]

**Bundler:**

Inno Setup Compiler version 5.5.9 (a)

[code]

**Error:**

[code]

Best regards
Aleksander M

[2017-07-21 17:07] FibreFoX commented on #78
Hi Aleksander,

that warning is intentional, because this is already covered by `needShortcut` (the name is historical, as this is a port of the [javafx-maven-plugin](https://github.com/javafx-maven-plugin/javafx-maven-plugin)).

Just use this:
[code]

[2017-07-22 06:13] AleksanderMielczarek commented on #78
Thank you. Working like a charm. Closing this one.

[2017-07-22 06:13] #78 closed

[2017-07-23 22:32] Michael0x2a opened #79 "Running into "Couldn't find Ant-JavaFX-library" issue when using IntelliJ"
Hi --

I'm currently attempting to use your plugin with IntelliJ, using its Gradle plugin.

The plugin works beautifully when I run it from the command line, but fails with a "Couldn't find Ant-JavaFX-library" issue when running it as a Gradle task within IntelliJ.

The exact stacktrace thrown is quite long, so I've included it as a gist here: https://gist.github.com/Michael0x2a/1d966d7a61c13b5524

[2017-07-24 05:21] FibreFoX commented on #79
Hi @Michael0x2a ,

I do know that problem already, this really is because of the bundled JDK of IntelliJ (as you suspected). Normally the bundled JDK is some OpenJDK without the OpenJFX-parts, this means you have to change your IDE to use the locally installed: https://intellij-support.jetbrains.com/hc/en-us/articles/206544879-Selecting-the-JDK-version-the-IDE-will-run-under

The `java.home`-prope

[2017-07-25 04:22] marckaraujo commented on #67
well, I cant generate the 32bits and 64bits with this library. So I am using "install4j" to do it. You can close the issue, thanks.

[2017-07-25 04:22] #67 closed

[2017-07-25 07:07] FibreFoX commented on #76
@maPaydar any feedback?

[2017-07-31 04:01] maPaydar commented on #76
@FibreFoX thanks, put myapp.png in deploy/package/linux and then works.

[2017-07-31 07:03] #76 closed

[2017-08-02 00:35] JamzTheMan commented on #71
So, I tried adding this plugin and getting a similar error. It works for my :launcher subproject but not my :maptool subproject...

https://github.com/JamzTheMan/maptool/tree/1.4.3.21

* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':maptool:jfxJar'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTa

[2017-08-03 15:02] Aqluse opened #80 "Run possibly not working correctly / Integration with Intellij IDEA"
I stuck after I decided to move my Intellij IDEA JavaFX project to Gradle JavaFX.

When I try to run app with jfxRun task, I got this in console (and nothing else, app don't show)
![03-08-2017 194033](https://user-images.githubusercontent.com/13728921/28927464-0db427ea-7884-11e7-9590-02f4ed4374ed.png)
Immediately after I stop running
![03-08-2017 194044](https://user-images.githubusercontent.com/1

[2017-08-03 15:56] FibreFoX commented on #80
This might have something to do with the way how Gradle is using their daemon. Normally a task does not require any deep interaction, it's for "working"-stuff.

As you are using Gradle 4, which has even more daemon-stuff, this might be a gradle4-problem. I suspect the daemon does something my plugin doesn't like.

Please add the verbose-switch to see more output (just inside the jfx-block), maybe

[2017-08-03 16:08] Aqluse commented on #80
@FibreFoX
[code]

If I causing exceptions to be (text after exceptions output)
`
...
Picked up JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF8

:jfxRun FAILED`

I put JAVA_TOOL_OPTIONS in system variables because I got errors with russian commentaries in my code, not sure that it have an effect on, but extra info may be useful.

[2017-08-03 18:40] FibreFoX commented on #80
@Aqluse can you check if adding `--no-daemon` does result in running your application?

[code]

[2017-08-03 18:51] Aqluse commented on #80
@FibreFoX
Like that?
`runAppParameter = '--no-daemon'`

[2017-08-03 18:58] FibreFoX commented on #80
No, as I wrote, just calling it from CLI
[code]

[2017-08-03 19:13] Aqluse commented on #80
@FibreFoX
It showed me exceptions in my project code, I commented it and it launched successfully (without commented part ofc). Running it with simple Run also successful. There wasn't any exception before I setup Gradle, but I try to find why it happening. Anyway it even wasn't output without calling Run with no daemon and debug not working properly

[2017-08-03 19:19] FibreFoX commented on #80
Can you try to set this:
[code]

There should be more valuable stuff printed out.

[2017-08-03 19:26] Aqluse commented on #80
@FibreFoX
Commented (without application being closed):
[code]

Not Commented:
[code]

[2017-08-03 19:29] FibreFoX commented on #80
This means when having "verbose" being active (which should be the default while developing) and `--no-daemon` being present, this is what you needed to know?

[2017-08-03 19:33] Aqluse commented on #80
@FibreFoX
What you mean by

I don't understand

P.S. I put `verbose = true` line in jfx and called `gradle jfxRun --no-daemon` in terminal

[2017-08-03 19:38] FibreFoX commented on #80
As far as I understood this issue, you wanted to know what happened when calling `jfxRun`. Setting verbose and non-daemon mode does show more information. If you wanted to know why your application does not behave as expected, I will need to have some visible source-code to check against.

[2017-08-03 20:05] Aqluse commented on #80
@FibreFoX I don't really wanted to know why my application code didn't work right, because before Gradle setup it worked perfectly, but I wanted to figure out why Run/Debug (especially debug) tools started to fail.
My first problem was resources, since it stored beside .java files and Gradle wanted them to be in "resources" folder to be included into compiled project files. I solved this one. Then

[2017-08-03 20:32] Aqluse commented on #80
Project
https://mega.nz/#!W051WaKA!OsxNiU3gcBmgF0UtDp9sUr_ursoVpVT4rVvhyQN2rzU

[2017-08-04 09:56] FibreFoX commented on #80
@Aqluse I've downloaded your project, you can delete it now. When I find something, I will report back to you.

[2017-08-06 00:16] JLLeitschuh opened #81 "Publish to Gradle Plugin Repository"
You should publish this plugin to the [Gradle Plugin Repository](https://plugins.gradle.org/) so that it can be accessed within the `plugins` block.

[2017-08-06 12:53] FibreFoX commented on #81
Duplicate of #69

[2017-08-06 12:53] #81 closed

[2017-08-06 21:27] JLLeitschuh commented on #69
I did this for my plugin and it's pretty straight forward. You just need to create an account and the rest of the docs are pretty straight forward from there.

[2017-08-07 22:50] SingingBush commented on #57
Gradle 4.1 is now available with support for Java 9 modules and Java 9 itself should be released next month. Could this issue get picked up again

[2017-08-08 02:16] JamzTheMan commented on #71
Any ideas on this? (As I'm not using dependencySubstitution, not sure if that is the root cause?)

Currently looking at creating the tasks manually and it's a pita, I would love to just use your plugin!

[2017-08-08 09:28] FibreFoX commented on #71
Actually I don't know, I suspect the resolution to be special ... haven't found out whats going on there :/ but I'm happy for any hint

[2017-08-08 15:18] MartinEden commented on #59
Possibly this should be a separate issue but I believe this underlying problem affects integration with IntelliJ IDEA.

When I tell IDEA to run with `jfxRun` task with debugging it runs the task correctly, but the debugger does not attach and breakpoints are not hit. I reported this to Jetbrains, and they suggest it's because the `jfxRun` task is ignoring JVM args passed through.

Is this likely?

[2017-08-12 16:28] JamzTheMan commented on #71
Hmm, so I stripped out and reduce my project to a single project structure (no sub projects) so now it's just the MapTool as a single project.  I also stripped and reduced the gradle build to a more bare bones setup.

I then removed what I thought may be the more complicated lib dependencies, org.bouncycastle, libgdx, and nashorn api.  I still get the stackoverflow error :(

So not sure what the i

[2017-08-15 15:56] FibreFoX commented on #79
@Michael0x2a
Is this stil an issue for you?

[2017-08-15 15:58] FibreFoX commented on #57
Hi folks,

just wanted you to inform that I'm more active on my spare-time projects again, after some refactoring of the javafx-maven-plugin, there will be some more activity on the gradle-project. Sorry to keep you waiting ;) but as there were no PRs, I suspect you waiting for me to do the code-tinkering.

[2017-08-15 16:08] FibreFoX commented on #59
@MartinEden the task `jfxRun` runs your application within its own java-process (I use ProcessBuilder for this), therefor I think this is a misunderstanding how the "debugging"-feature from your IDE is working.

The `jfxRun` was ment as a shortcut for the CLI-call, nothing more. This means that any JVM-args have to be set via `runJavaParameter`

[2017-08-15 16:09] FibreFoX commented on #75
@tobium ping

[2017-08-16 09:13] zvpdev commented on #77
Can't repeat this in my.

**build.gradle**
[code]
Set breakpoint (for example to ```MainClass.launch(args)``` method) and click Debug for jfxRun task.

**Running log**
[code]
The application starts immediately without stopping.

[code]
I need some additional actions about which in the topic was not explicitly mentioned above?

[2017-08-17 17:07] Aqluse commented on #80
The same problems with non-fx Java Gradle project in Intellij, in which I copied sources, libs and build.gradle text

[2017-08-17 17:35] FibreFoX commented on #80
Now you lost me ... you are still using the gradle daemon. The task "jfxRun" is not compatible with the daemon, as that task was never thought of a real development-way, more than a quick-command for lazy execution.

So is this stil an issue with the plugin, or just related to your IDE/project?

[2017-08-17 17:59] Aqluse commented on #80
@FibreFoX
"The task "jfxRun" is not compatible with the daemon, as that task was never thought of a real development-way, more than a quick-command for lazy execution."
You mean that I shouldn't use plugin for running/debugging coding, but just to assemble it by plugin tasks and running/debugging with IDE built-in tasks or I'm mistaken?

[2017-08-17 18:54] FibreFoX commented on #80
Currently there is no IDE-support, yes. This plugin was ment for the bundling-process, but I can see a lot of devs using this for more than just bundling. Nevertheless you can use your normal IDE-features for running/debugging.

[2017-08-17 19:29] Aqluse commented on #80
@FibreFoX Okay, it changes problem a little bit. I wanted to use Gradle to simplify online libs dependencies setting, so if it would work like that - it's ok. Do you plan to integrate plugin deeper with IDE's?

[2017-08-18 00:32] jaytheking opened #82 "Error invoking method/Starting JVM"
Im working on a windows based machine and running the jfxNative task generates the files okay i think but when running the executable i get the bellow error popup.

Im doing nothing special other than using the minimal gradle build

![image](https://user-images.githubusercontent.com/6914788/29439324-04f357aa-8411-11e7-9a61-55f8e84ed052.png)

[2017-08-18 06:04] FibreFoX commented on #82
What happens when you run the jfx-jar from CLI? Mostly there are some unhandled exceptions or missing llibs.

[2017-08-18 06:23] jaytheking commented on #82
This seems to be an issue for building the app on my linux box as well but running just the jar from command line gives:
[code]

No exceptions, same output for both windows and linux.

[2017-08-18 09:42] FibreFoX commented on #82
Please execute your jfx-jar via `java -jar`, otherwise there is too much magic. The warning about the API-value might be ignorable, just a warning (but not related to this gradle-plugin).

Can you try to remove this line?
[code]
It's not required when using this gradle-plugin, as you are not creating an application, but an javafx-bundle

[2017-08-18 10:41] jaytheking commented on #82
[code]
Same output running with `java -jar`

Ive attached the project in it's current state with the changes mentioned above. The JAR runs fine it seems just not any of the native stuff. Im 100% sure its not my platform as ive cloned your sample projects and they all work fine even with having fxml files for views. My project doesnt differ in terms of directory structure.

[linesmarts-desktop.zip]

[2017-08-18 11:23] FibreFoX commented on #82
I can reproduce this on Windows, maybe I can find this piece of trouble ;)

[2017-08-18 11:27] FibreFoX commented on #82
Can you try to change the following code:
[code]
Please move `WindowManager.setModelManager( getEmptyModelManager() );` away from the main method, after that the binary worked for me .... strange

[2017-08-18 12:45] jaytheking commented on #82
Where did you move it to? Because now im getting slightly different error now.
[code]

[2017-08-18 12:50] FibreFoX commented on #82
In that "Main"-class, I moved that line to the `start()` method ... maybe your code differs from the stuff you attached here?

[2017-08-18 12:57] jaytheking commented on #82
Ok moving that call to start() method fixes issues for windows and now runs fine. Only fails on linux build now with this error still:
[code]

[2017-08-18 16:02] FibreFoX commented on #82
Did you clean the "build"-folder? Maybe it's some recompile-issue? ;)

[2017-08-19 00:20] jaytheking commented on #82
Did a full clean and jfxNative build and still same issue.

[2017-08-19 07:42] FibreFoX commented on #82
Thats odd. What JDK are you using on your systems? It seems that your Windows- and your Linux-system do not have the same version.

[2017-08-19 09:23] jaytheking commented on #82
[code]

[2017-08-20 02:08] jaytheking commented on #82
So this is weird, my desktop(Linux) is the only one that does not properly build the app for linux native. I took the same repo i linked earlier and built it on my laptop with the other change you recommended and it build fine and runs.

I suppose you can close the issue now but im still unsure why it doesnt build on my desktop.

[2017-08-20 10:47] FibreFoX commented on #82
Okay, will close this issue. If you find something, just drop some lines so others can find it via search.

But yes, it really is strange that there is a different behaviour.

[2017-08-20 10:47] #82 closed

[2017-08-27 20:23] arminnaderi opened #83 "Support Repackaging of Pre-Existing Nested Jar Files/Disable Modifying Input Jar"
I currently have a pre-packaged executable JAR file (from `java -jar`) that I am passing into this plugin. I have specified `skipCopyingDependencies = true`, as the dependencies are already packaged into the JAR file.

The problem is that this plugin repackages the existing jar as shown in this debug message: `Updating jar file: ${FILE_SYSTEM_PATH}/application.jar`. This message is provided when I

[2017-08-27 20:43] FibreFoX commented on #83
The underlying `javapackager` just works on some extracted jar-file or some jar-file, it is by design that the jar-file is re-created, mostly because they (the creators of the `javapackager`) wanted to have control over the `META-INF/MANIFEST.MF`-entries.

As far as I understood your problem, you are saying that the jar-file isn't compressed anymore?

[2017-08-28 04:50] arminnaderi commented on #83
No, I mean that the nested library jars which are already included in the input jar-file are being compressed when it is re-created, which makes them not useable by the class loader it seems. I need them same mechanism used to originally store the library jars into the `lib` directory for my existing nested library jar-files.

I will give more detail. My input jar-file is made with the Spring Boot

[2017-08-28 08:06] FibreFoX commented on #83
Hm, seems this is a conflict with a Spring Boot then. Can you create a small project for me, where I can re-create this situation? Does not have to be productive code, just the bits and pieces which are required to get this Exception.

[2017-08-28 12:52] arminnaderi commented on #83
I attached the MVCE. It is an Intellij project on Java 8.

Steps to reproduce:

1. Refresh Gradle dependencies
2. Run `./gradlew jfxJar`
3. Run `cd build/jfx/app`
4. Run `java -jar project-jfx.jar
[library-compression-mvce.zip](https://github.com/FibreFoX/javafx-gradle-plugin/files/1256772/library-compression-mvce.zip)
`

[2017-08-28 16:32] FibreFoX commented on #83
Hi there,

yes I see the problem, and it is [the JDK itself](https://github.com/teamfx/openjfx-8u-dev-rt/blob/master/modules/fxpackager/src/main/java/com/sun/javafx/tools/packager/PackagerLib.java) which does re-compress the jar-file (not the javafx-gradle-plugin).

As I'm reworking this plugin for Java 9 compatibility (and some interface changes), there is no quick solution for this problem. Even

[2017-08-28 19:49] arminnaderi commented on #83
Alright, I'll try that. Do you have a link to their bugtracker? I can't find it on Google.

[2017-08-28 20:51] FibreFoX commented on #83
Just start here: http://bugreport.java.com/
Please file the bug with the following configuration:
* Type: Bug
* Product/Category: JavaFX
* Subcategory: Packager

When you have some feedback from oracle, please report it back here, so others can find this (and I can check when it gets fixed, ...or getting closed as "won't fix").

Just refere to javapackager when reporting, but you can add this issu

[2017-08-29 14:44] arminnaderi commented on #83
[code]

[2017-08-29 14:56] FibreFoX commented on #83
All reports will be converted into real JDK-issue-numbers, have done this several times :) they make it to separate unconfirmed bugs and real bugs, like a pre-filtering system. You will get the real JDK-number after they evaluated your issue.

[2017-09-04 17:58] StrangeNoises opened #84 "jfxRun will not run app using JAVA_HOME if it's not the default."
I started out writing this as a Java 9 bug, but it affects any Java version. The short version:

The `jfxRun` task by default (`useEnvironmentRelativeExecutables = true`) will always run the project using the `java` binary in $PATH, regardless of whether it has been launched with JAVA_HOME pointing at a *different* JDK.

If you set `useEnvironmentRelativeExecutables = false` the path to the Java e

[2017-09-04 18:07] FibreFoX commented on #84
Thanks for reporting this issue. The assumption was made, because you need the JDK being installed. The `java.home`-property does point to the JRE, in the case of gradle running with the JDK, this points to the JRE inside the JDK, this is official behaviour. This is documented at least here: http://docs.oracle.com/javase/tutorial/essential/environment/sysprop.html

As the plugin does NOT have prop

[2017-09-06 17:30] #79 closed

[2017-09-06 17:31] #75 closed

[2017-09-06 17:32] FibreFoX commented on #37
This Bug is still open for JDK 8, did not see any changes for JDK 9 either. :(

[2017-09-07 07:04] FibreFoX commented on #69
@JLLeitschuh  Maybe some gradle-experts here could help me a bit: as far as I understood this correctly, I have to add something like this so my `build.gradle`-file, dont I?
[code]

So when publishing to gradle, I need to have the file `src/main/resources/META-INF/gradle-plugins/javafx-gradle-plugin.properties` being renamed to `src/main/resources/META-INF/gradle-plugins/de.dynamicfiles.projects.g

[2017-09-07 13:50] JLLeitschuh commented on #69
This is all the code that I needed (this is using Gradle Kotlin script, not groovy)
https://github.com/JLLeitschuh/ktlint-gradle/blob/master/build.gradle.kts#L37-L49

[2017-09-07 15:48] FibreFoX commented on #69
Thats the source I got some inspiration already, thanks. Next Release will be prepared for Gradle plugin Portal

[2017-09-07 15:58] Nava2 commented on #69
@FibreFoX [here](https://github.com/assertj/assertj-generator-gradle-plugin/blob/master/build.gradle#L13-L29) is how I do it in my plugin.

I use [this block](https://github.com/assertj/assertj-generator-gradle-plugin/blob/master/build.gradle#L32-L53) to publish to the portal via Travis on a tagged release.

Hope that is helpful, albeit late.

[2017-09-07 17:48] FibreFoX commented on #69
@Nava2 seems pretty equal to my stuff posted above, thanks for verifying 👍  what bugs me a bit, is that I'm loosing that short and fancy `javafx-gradle-plugin` plugin id for the more ugly looking thing with package name etc, but I understand that naming-convention (to be honest, this was one of the reasons I didn't adapt to their plugin portal at first).

Even when being possible, I don't want to

[2017-09-07 18:14] Nava2 commented on #69
For the secrets, the secrets are only for gradle. So it should be okay to leave it in the env vars on Travis. You could also just forgo the whole thing and publish yourself.

[2017-09-07 18:21] JLLeitschuh commented on #69
You can test on travis under JDK 9.
Example:
https://github.com/gradle/kotlin-dsl/pull/455/files#diff-354f30a63fb0907d4ad57269548329e3R13

[2017-09-15 12:43] arminnaderi commented on #83
http://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8187357

[2017-09-15 12:55] FibreFoX commented on #83
thanks for the update, will check the sources what they changed, and if I need to add some workaround for older versions

[2017-09-19 18:09] oliverlietz commented on #37
See http://bildschirmarbeiter.de/JDK-8165630.html which describes a workaround I use e.g. for [AEM Toolbox](https://github.com/bildschirmarbeiter/de.bildschirmarbeiter.aem.toolbox.main).

[2017-09-20 10:43] AstralStorm opened #85 "Support using JavaFX jars from gradle classpath"
Currently the plugin always attempts to find the jars on its own.

Modifying it to actually first check gradle classpath if it contains the required classes would allow including OpenJFX in the same build as a dependency.

[2017-09-20 19:45] FibreFoX commented on #85
What do you mean with "gradle classpath", normally dependencies are not inside some classpath? Can you add some build-script?

[2017-09-21 21:46] JustGregory commented on #71
I dunno if it matters or not, but ... in the repositories block I always make ```mavenCentral()``` the absolute last in the list, and ```mavenLocal()``` just before that, and the more specialized "one-off" repository locations before all else. As I believe it's been mentioned elsewhere that Gradle processes and performs tasks in the literal order they are written in the gradle file -- mavenCentral

[2017-09-22 08:48] FibreFoX commented on #71
MavenCentral will not become dead in the next days, because maven isn't dead. As MavenCentral just started as a maven-targeted repository, but became some artifact-repository, this shouldn't be the problem. I hope to get some time this weekend for further reworking-progress. This probably has something to do with the way I'm actually looping through the dependencies.

[2017-09-27 14:54] netzwerg commented on #57
Fyi, I did a test build of my project on OSX: I am not using modules, but observed that `jfxNative` is no longer creating a .dmg (only a .app which does not launch).

[2017-10-05 21:03] renatoathaydes commented on #69
Hi, just wanted to say that while publishing the plugin on the Gradle portal might be nice, from a plugin's owner point-of-view it makes no sense as you [lose statistics about downloads](https://discuss.gradle.org/t/plugin-portal-download-statistics/11609/6) of your plugin, and it's not even very reliable and badly documented.

The only advantage would be that users don't need the buildScript bloc

[2017-10-05 21:21] FibreFoX commented on #69
To be honest, I don't care about download-statistics, and to be honest too, even my own plugin is not well documented ;) maybe this plugin deserves to be on the gradle portal. Some developers just search for "javafx" and might find this very useful, so in terms of internet-visibility this might be something, but I only see the benefit of "just another place" for distribution.

[2017-10-22 09:34] hanct opened #86 "Using javafx-gradle-plugin using Kotlin dsl"
Hi,
This is my first time trying to use javafx-gradle-plugin.  Is there any sample code on this git hub that shows how to do the equivalent of the below, but using KOTLIN dsl , instead of groovy dsl?

jfx {
    verbose = true
    mainClass = 'ru.mc.ltec.MainClass'

}

[2017-10-22 09:50] FibreFoX commented on #86
Not yet, but as I don't know kotlin, I can't assist here, but shouldn't be too hard.

[2017-10-22 18:13] hanct commented on #86
Thanks for reply. Manage to workout myself.

extensions.getByType(JavaFXGradlePluginExtension::class.java).apply{
    mainClass="sg.xdocx.Main"
    vendor ="vendorName"
}

[2017-10-22 18:13] #86 closed

[2017-11-05 17:47] giloutho opened #87 "Msvcr100.dll missing in Windows 10 generation"
Many thanks for your great plugin. I have a JavaFX project with three OS targets.

I develop on a Mac with Netbeans. Project is cloned on Linux and Windows 10 with Netbeans to check the proper functioning of the program. No problems on Mac and Linux.

I made a first generation of windows installer on Windows 7 64 with Innosetup. No problems, it's working. Unfortunately, this computer has crashed.

[2017-11-05 18:35] FibreFoX commented on #87
As far as I can see, this is a problem of the underlying `javapackager`:
http://hg.openjdk.java.net/openjfx/8u-dev/rt/file/32f0fd77356c/modules/fxpackager/src/main/java/com/oracle/tools/packager/windows/WinAppBundler.java#l75
In some previous version, the copied files were different ones:
http://hg.openjdk.java.net/openjfx/8u-dev/rt/file/88934563bc8e/modules/fxpackager/src/main/java/com/oracle/too

[2017-11-05 19:17] giloutho commented on #87
Sorry, I mean native launcher.

I only need msvcr100.dll. In both lines of your links we find it.

Actually, if I put msvcr100.dll beside msvcp140.dll,packager.dll and vcruntime140.dll it's working. I tried to use additionalBundlerResources.

I create a folder bundlers where I put msvcr100.dll and in build.gradle, I put
_jfx {
...
      additionalBundlerResources = 'src/main/bundlers'
 }_
But it d

[2017-11-05 20:19] FibreFoX commented on #87
The point is, if this is a generic problem, this is should be an open bug on the official oracle java bug-system. I need some time to pinpoint the problem.

[2017-11-05 22:11] giloutho commented on #87
Thank you for being so available and so kind.

I tried many solutions including installation of different Visual C++ redistributable packages without success.

For now :
- a native launcher is generated by javafx-gradle-plugin
- I add msvcr100.dll beside msvcp140.dll, packager.dll and vcruntime140.dll
- I create an Innosetup script to create a new package of this.

It seems to work well.

[2017-11-12 18:24] Jacopx opened #88 "Proble Gradle and Java SE9"
Buongiorno,
i have added my dependencies for version `8.8.2` to the `build.gradle` but when i try to launch the system i get:
[code]

what i need to change?

[2017-11-12 18:25] Jacopx commented on #88
I'm not sure but this problem can be related also to JavaFX...

[2017-11-12 18:35] FibreFoX commented on #88
You problem is some jfoenix-dependency, nothing from this plugin probably. But as you are using JDK9, and this plugin isn't ready for JDK 9 yet, I will close this as being duplicate of #57

[2017-11-12 18:35] #88 closed

[2017-11-13 08:53] Zoha131 opened #89 "Multi-Module JavaFX Project"
Please share multimodule project example. I have googled but failed to get any appropriate solution.

BTW, I am not sure this request should be on issues or not.

[2017-11-22 20:23] swpalmer opened #91 "identifier doesn't get used when building .msi"
As I understand it 'identifier' should be used as the UpgradeCode for the .msi.  This isn't happening.  The generated .wxs file shows a new GUID each time the build is done.

[2017-11-22 21:27] FibreFoX commented on #91
I think what you are searching for is some entry inside `bundleArguments`: "win.msi.upgradeUUID"

[code]

[2017-11-22 22:15] swpalmer commented on #91
Yes.  I also dug through the source code and found the same line.  Note the TODO comment indicating that 'identifier' is supposed to be used as the default value for win.msi.upgradeUUID but it isn't.  'identifier' is documented, the 'win.msi.upgradeUUID' property isn't

[2017-11-23 19:15] #91 closed

[2017-11-23 19:15] FibreFoX commented on #91
@swpalmer as far as I understood, this issue could be closed. Please comment otherwise in case I misinterpreted your answer

[2017-11-25 02:09] swpalmer opened #92 "Bundle type of 'image' is not supported despite javapackager command line accepting it"
When I set
jfx {
bundler = 'image'
}

I get:

* What went wrong:
Execution failed for task ':MyProject:jfxNative'.

However help output of javapackager indicates:
  -native <type>
          generate self-contained application bundles (if possible).
          If type is specified then only bundle of this type is created.
          List of supported types includes: installer, image, exe, msi, dmg, r

[2017-11-29 10:53] giloutho commented on #87
Hi,

It's very strange. Today, I want to make a new release, I run a jfxnative on the Windows machine. With surprise, the bundle is good without msvcr100.dll. I delete all copies of this dll on the computer and this is still good.

Only one explanation : between our messages, Windows 10 was updated.

[2017-11-29 12:38] FibreFoX commented on #87
Thats really strange ... good news that you got it working, but it has a bad aftertaste. Do you mind if I close this issue? My plans are to publish new JDK9-versions for christmas or new years eve, and as I'm developing on Win10, I will reopen this if I hit this again.

[2017-11-29 13:33] giloutho commented on #87
For instant, you can close... I wish you success in your efforts for JDK9 versions

[2017-11-29 13:33] #87 closed

[2017-12-06 14:46] lightsuner commented on #77
Hi @zvpdev, did you solve this issue?

[2017-12-08 18:43] sjadaun opened #94 "Application version name is not reflected in application.exe file"
Hi,

I'm using custom Inno setup file to package my application(since some of options i want to use are not present in template.iss used by javapackager) i'm trying to generate the setup file name as "project-version.exe" but there is not way for me to get the version from gradle to Innosetup script.

Simplest way for me would be to get version infomation form exe file using GetFileVesrsion("appli

[2017-12-08 20:19] FibreFoX commented on #94
Do you need the version inside your application? If so, you might want to create a property-file containing that version (maybe using [some resource-filtering](https://stackoverflow.com/a/25328289/1961102) or creating/overwriting from inside gradle).

Setting things from the EXE-file weren't prepared for customization, but this might change with JDK 9, I saw some changes regarding file-information

[2017-12-08 22:03] sjadaun commented on #94
I am doing exactly that for getting information inside application. issue is at the build time.
Basically for me build number included in version is generated by jenkins and I don't see any good way to get that number to InnoSetup.iss file, which will generate final installation file.

Currently as I said, i just generate a temp file from gradle, copy that to build folder using additionalAppResour

[2017-12-08 22:04] #94 closed

[2017-12-14 14:49] frnusmartobjects opened #95 "Generating native with Gradle's "implementation" dependency configuration"
We have a project that we are updating to use the "new" configurations to declare dependencies, such as `implementation` or `api`. No matter what we use, when we try to execute the generated ".exe" file by the jfxNative task, the application can't find the main class. But if we use the traditional `compile` then it works perfectly.

Is it possible to generate working native ".exe" using the "imple

[2017-12-14 14:52] FibreFoX commented on #95
As I'm not up2date with new gradle-development, can you point me some URL to the documentation for this?

[2017-12-14 15:00] frnusmartobjects commented on #95
The first reference you can use is this
https://docs.gradle.org/current/userguide/java_library_plugin.html
Even though this is for the java library plugin it does contains the pertinent information, specifically in sections:

* 49.2. API and implementation separation
* 49.4. The Java Library plugin configurations

[2018-01-06 21:27] mataide commented on #59
@MartinEden Have you find a way to pass JVM args when debugging with IDE using this gradle plugin?
Seems that this doesnt work: https://stackoverflow.com/questions/25079244/how-to-pass-jvm-options-from-bootrun/26141841#26141841

[2018-01-08 11:16] MartinEden commented on #59
I've forgotten some of what was going on for me here but: I think I thought that the only way to run a Kotlin JavaFX app from IDEA was using the Gradle task. I think I then later found a way to directly invoke the debugger on my code without having to use `jfxRun`.

[2018-01-09 12:44] valnaumov opened #97 "How do I provide different additional files for different platforms?"
To be more specific, I want to provide binaries for the app. Maybe there's some well-known workaround?

[2018-01-09 19:55] FibreFoX commented on #97
You have the power of groovy inside your `build.gradle`-file, you could make setting the field conditional

[2018-01-10 14:49] vibitect opened #98 "Can't create dmg package on macOS using Kotlin"
I'm trying to build a `dmg` package from my JavaFx project (which contains a single button ATM).

My configuration is the following:

[code]

This is the output of running `gradle jfxNative`:

[code]

My observations:
- I use the gradle shadow plugin to create an uberjar. I set up your plugin to use this file with `alternativePathToJarFile` (in theory).
- The kotlin runtime is bundled into this fi

[2018-01-10 21:52] FibreFoX commented on #98
you should check your dependencies, and btw: this plugin isn't JDK9 compatible yet

[2018-01-10 22:38] vibitect commented on #98
I'll try it with JDK8 then.

[2018-01-11 21:35] BoGnY opened #99 "All custom and personal task are not executed"
Hi, I've setup successfully a simple build.gradle file, but if I add a custom task (which must been execute as latest), was done as first, or was never done...

Can someone help me?

[code]

With this script, task was never done...

And if I try to add this as last line `copyDependencies.dependsOn jfxJar`, task was done at first... :confused: :confused:

I have Win10 64bit, with Eclipse IDE and la

[2018-01-12 14:25] BoGnY commented on #99
After a few hours of investigation, I can say that the problem is in the row `copyDependencies.dependsOn jfxJar` since the plugin, after executing the `:jfxJar` command (and I also think the `:jfxRun` command), **no longer performs any other task**...

Therefore, my custom task which must be executed after that command, will never be executed..

[2018-01-21 21:15] FibreFoX commented on #57
Anyone who is interested of testing the current snapshot-version (`8.9.0-SNAPSHOT`), should use the following:
[code]

It was required to remove some MacOSX-workaround (had to delete it making it compile), but i doubt this feature was used a lot (will wait for feedback on this one). This was compiled using JDK 9, but I hope this does not create any trouble for you.

As there are no special options

[2018-01-21 21:26] FibreFoX commented on #99
I know it might sound too lazy, but can you provide me some small project, where I can reproduce this? Don't have that much time currently, but working on getting more time for my spare time projects again.

[2018-01-21 21:38] FibreFoX commented on #98
@adam-arold any progress? meanwhile you want to try `8.9.0-SNAPSHOT`, as it is having proper JDK 9 compatibility (please see https://github.com/FibreFoX/javafx-gradle-plugin/issues/57#issuecomment-359281615 for more information)

EDIT: maybe this is something related to the way how the "maven"-shadowing process is working in gradle....

[2018-01-21 21:41] FibreFoX commented on #92
Yes, this was intentionally. In previous versions of the JDK 8 there seemed to be no further use of that filtering-type, and I personally find it better to have tighter control about the generated files than "just anything possible".

Does this really feel missing?

[2018-01-21 21:43] FibreFoX commented on #89
Making this an issue is probably the best way, as some project watchers can answer to such questions too. With "multi-module-project example" do you mean the new JDK 9 modules?

[2018-01-21 21:43] FibreFoX commented on #85
ping @AstralStorm

[2018-01-21 21:45] FibreFoX commented on #84
Even having JDK 9 compatibility (see https://github.com/FibreFoX/javafx-gradle-plugin/issues/57#issuecomment-359281615 ), this bug is not yet fixed (sorry, forgot about this)

[2018-01-21 23:11] swpalmer commented on #92
I think so.  "image" doesn't mean "just anything possible".  That's what not specifying any bundler means.  "image" however, creates the application bundle with the java launcher, .cfg files, app folder, runtime folder, etc., and then I can incorporate those files into a custom installer.

[2018-01-22 09:44] AstralStorm commented on #85
To build the project, you have to include JavaFX plugin in it in buildscript classpath.
Unfortunately the plugin checks for existence of JavaFX in a very roundabout way and does not verify if JavaFX classes are already in Gradle classpath which will be used to build the application.

E.g. if I include it like this:
[code]
It checks for existence of JavaFX when included from system Java directories

[2018-01-22 10:09] vibitect commented on #98
No progress yet, I started working on something else but I'll come back to this soon.

[2018-01-22 17:10] BoGnY commented on #99
Hi, I have made a small project: https://github.com/BoGnY/JavaFX-Gradle-Plugin-Issue99-Example

If you start task _:jfxJar_ the output of task order it is:

but it would be:

As it is writed in [line 70 of build.gradle](https://github.com/BoGnY/JavaFX-Gradle-Plugin-Issue99-Example/blob/master/build.gradle#L70), it is _:jfxJar_ that depends by _:createVersionString_ and _:copyDependencies_ in this

[2018-01-22 17:20] BoGnY commented on #95
Another good link is [android gradle plugin v3.0.0 migration](https://developer.android.com/studio/build/gradle-plugin-3-0-0-migration.html), especially section "Use the new dependency configurations".

New dependency configuration was introduced with Gradle version 3.4, now on version 4.x are deprecated, and from version 5.0 will be deleted...

[2018-01-26 18:49] FibreFoX commented on #57
No, this currently does NOT work, because the JDK contains some utterly stupid bug, more details at the javafx-maven-plugin project: https://github.com/javafx-maven-plugin/javafx-maven-plugin/issues/287#issuecomment-360599762

EDIT: there is a breaking change inside the windows-bundlers, linux-users and mac-users are still encouraged to check the latest snapshot-version.